In [4]:
import pandas as pd
import darc_core
from darc_core.preprocessing import round1_preprocessing
from darc_core.utils import check_format_trans_file

In [5]:
df = pd.read_csv("../Master/data/ground_truth.csv", parse_dates=["date"])
df.head()

   id_user       date  hours id_item  price  qty
0    17850 2010-12-01  08:26  85123A   2.55    6
1    17850 2010-12-01  08:26   71053   3.39    6
2    17850 2010-12-01  08:26  84406B   2.75    8
3    17850 2010-12-01  08:26  84029G   3.39    6
4    17850 2010-12-01  08:26  84029E   3.39    6

In [ ]:
def transformDate(date){
    
}