In [132]:
import pandas as pd
import datetime as dt
import sys
import hashlib as hs
import base64 as b64
import numpy as np
import os
import darc_core
from darc_core.metrics import Metrics 
from darc_core.utils import M_COL, T_COL, T_COL_IT, NB_GUESS, SIZE_POOL
from darc_core.preprocessing import round1_preprocessing
from darc_core.utils import check_format_trans_file

In [133]:
df = pd.read_csv("../Master/data/ground_truth.csv", parse_dates=["date"])
df.id_user=df.id_user.astype(str)
df_copy=df.copy()
df_copy.head()

  id_user       date  hours id_item  price  qty
0   17850 2010-12-01  08:26  85123A   2.55    6
1   17850 2010-12-01  08:26   71053   3.39    6
2   17850 2010-12-01  08:26  84406B   2.75    8
3   17850 2010-12-01  08:26  84029G   3.39    6
4   17850 2010-12-01  08:26  84029E   3.39    6

In [115]:
def generateSalts():
    # Set of {1..12} (number of the month)
    months = pd.DatetimeIndex(df_copy["date"]).month.unique()
    ordered_months = set(reversed(months))

    # Set of all unique user's IDs
    ids = df_copy["id_user"].unique()
    # Transform YYYY-MM-DD to MM
    df_copy["date"] = pd.DatetimeIndex(df_copy["date"]).month

    salt_table=pd.DataFrame(columns=ordered_months,index=ids)
    salt_table.set_index(ids,inplace=True)

    # Generate salt table
    for i in ids:
        for j in ordered_months:
            # Generates unique b64 values
            salt_table[j][i]=os.urandom(256)
    
    return salt_table

salt_table = generateSalts()
salt_table.head()

,1,2,3,4,5,6,7,8,9,10,11,12
17850,b'\x92\xf1_|d}5\xac\xf5\x1f\xc6\x1ch-N\xfdlV\x...,"b""\xd1\xdc:\xe3C\xf1\xd0|}\xd0\xae\x06\x9c\x90...","b'EGJ8\x11PeTU\xec""\xfb\xba\x1f\x10F\xfd\xb5m\...",b'Ov\n\xbeA\x14y\rt\xafXu\x9a\xa7+\x05\x95:J\x...,b'#\x9b\\\x19\xcf]0\x81\x82yN\xf2d.3F&\xea\xbc...,b'\xbf^u\xf9\xf3\x1a\x92J\x9aw\xf9\xee[G\xf0nr...,"b""8~\x18\xc0\xeaB\x80%@a\x08\xd7\x9a\x91\xa8\x...",b'\xf9ul\xb9B\x1ao\xd7\xe13\x8a\xf6\xc5\xad\xe...,"b""b&\xa71J]D\xe35\x9d\xf7\xa7%\xb3\xb7\x90\xd6...",b'\xd8\xd4\x88\xfaXJb\x1eBA\x01w\xb4\xd9\xce.4...,b'\xafc\xc9k{y\xfd\x9a4/-\xe8h\xe6\x87\x1f$\xc...,b'\xf0T\x95\xb9gd\x95\xe0\xc7\xc3\x9cP\xfa\x0c...
13047,"b""z@\x9c\xd1q}\x18\x931&\xf7\xf0n\xad-pE5\xb5\...","b'\xfb]\'\x1f\xe1.""\xc1U\xe7\x1e\xc6\xc1#7\xf6...",b'uU\x9cM_2\x880A\x81\xba\x07\xbc\xe0\xcb\x8dq...,b'\xcap\xddo\xc9\xe8&#\xd7:\x13\xf4J\x1d\xc1\x...,b'l\xf3\xad\x12\xfc\xf3\xab\xeb(\xb45]\xff[ph\...,"b'\xf42""\xc2\xfd%\xe5\xa1\xa0\xb9\x17\xf1\x82|...","b""L\xc4\xee0\xecI\xd618\xdd\xb1\x05\xcb\xd0\xa...","b"":J\x81\x0c<E\tNM\x8a:Kj\x8d\x0f\x02E\xff\xd3...",b'\x04G\xdd0\xd8G7\xa3Y1T\xf3\x15\xae\x17s \xf...,b'\xc2\x80\x81>\x89\x90#S\xdf|\xd7\x14)\x1d\x0...,b'Q\xfa\xb3\xb9\xc8\xcb\x9c4\x9dB>3A\xd4c\x96\...,b'\xce;\xe5\x08\x85y\x16\x94;\x1cQ\xf3\xb8\xeb...
12583,b'C^\xb6\xb6A\x15\x93\t*\xc8?\xe9\xe7\xe1W\x03...,b' \xa6\x84\xfd\xf4\xc2\xe1+<\xea\xe0\xed\xc49...,b'\x94]\xea\x98\x16{\x1f\x98\x99\x85K\xf5\xee\...,"b""u\xf6\x96\xf5g.P\xc8U(V\xfb_22\x91\xa0y\xb3\...",b'%\xce\xf1\r%\n[P\x97\xe2B]\xdb\xf2\x11\xff\x...,b'\xfaS\xe1\xd4\xed\x8e\xcc\xe1<\xb6X\xc7\x89q...,b'\x90R\xff\xfc\x94\xb5O[\x85\x0c\xb11\x86p\xc...,b'\x1bc\xb9\xbb\x85f\x04\xea\xa0$\xb6\x85\xa21...,"b""\xf5k\xed\x95\xee\xcf\xae\x0f\x18.\xa8\xbbO\...",b'\xabE\xd1O\xdf\xb4S\x9aI\x1aL\xe7\xa5\xb5h\x...,b'\xf9|\xe9C.=\xc2?O\xf8\xc6\x8fy\xe2\x81\xe8]...,b'\xefKQB\\M\x00\xda\x00\xe8&X\x88\xcf8\xec\xd...
13748,"b'\xc4\x10\xfd\x02\xbaC6\xbe""-\x01\x02\xca\xd5...",b'\x8en\x19\xce&\xd9cr\xac5\xe1\x84z\xf1\xf8\x...,"b'\xb5\x17\xcb\xce>\xf3\x14""?@\xe0g\tH3\xdeF\x...","b""\xffP\x04\xbd\xff\x14\x1dc\xef\xfd\x90\xc7]\...",b'\xa8\xd6\xc2Y\x01]\xa4P\xfc/g8\xd3d\xeb\xb1\...,b'^;\xaf\xff\xf8^\xb9\xb3\xf8\xb9\r\x037\x97\x...,b'\xf6\xc9m.\xb0\xeb\x1ao\t\x7fr3\x15\x11\xb3\...,b'rB9B\x9f\x90\xcc\xe8\xc3\xbf\xdb2\xb4\x87n\x...,"b""/>\x81\xb7\x0e>\xbb\xfc\xa7\xa7\xdb\xa7\xd4\...",b'}1\x1c\xb8~\xa1\xc3%\x18q\x7f\xcc\xfa\xe4\x8...,b'\xed\x16\x04\x01H+\xeeT6\xc6\x0c\xc6?$\xd0\x...,b'\x0e\x9a\x16\xb7\x17\x92\x0fOC\xdf\xfa\x87P\...
15100,"b""M\xba\x17\x91\xcd<o\x04n\xa2m\xdc\xe7\xcf\xf...","b""\xc9\xd2\xc3\xf0\xd4\xe6\x9bwmn\x93\xbe3\xa3...",b'Y\xdb\xb8\xeb*\xa6\x908\xe8o\xc6\xe6\x08y\xa...,"b'\xd6\x8f,\x12\xcb\xd1\xbe\xad\xe2\x05""\xca\x...",b'\x95J5\xa2wg\xd9PW\xae\xc5\x9b\xcb\xf5+\x1a\...,b'B\xa30\x1a\x03\xd8Q\x03\x07\xe8\xa7\x02\xaa\...,"b'\xbeM\xf3""\x10\x81\xa5\x8d\xddj\xb1\xc3\xce(...",b'S\x97\x99\xe3\n\xc98\x9fV\xb6@\x92q\x92~S\xc...,"b""\xbd\x82'r\x0f\x0c\x99b]a\x82;\xe1zZ\xe5\xc1...","b""\xdc\x9f\x8b\x85\xa7n=Iq\xfa\xba\x07\x8bx\x1...",b't>8\x14\xd1\xdc?\xb6\xaae:\xa20OJ\xda/+\x94\...,b'\xb9\x84?j\xb3c\x07\x00\xe1N\xd7Z\x19\xd5\xb...

In [134]:
def hashme(id_user, month): 
    hashme.counter+=1
    percent=(hashme.counter/307054)*100 
    sys.stdout.write("\rProgress %i -- Count : %i / 307054" % (percent,hashme.counter))
    sys.stdout.flush()
    return hs.sha256(salt_table.loc[[id_user],month][0] + id_user.encode()).hexdigest()
#Static Counter for ProgressBar
hashme.counter=0

In [135]:
def doHash():
    df_copy["month"] = df["date"].transform(lambda x: x.month) 
    df_copy.sort_values(["id_user","month"])
    salt_table.sort_index(inplace=True)
    df["id_user"]=df_copy.apply(lambda x: hashme(x["id_user"],x["month"]), axis=1)

In [136]:
%%time
doHash()

Progress 100 -- Count : 307054 / 307054CPU times: user 15min 24s, sys: 2min 13s, total: 17min 37s
Wall time: 33min 39s

In [138]:
df["year"] = df["date"].transform(lambda x: x.year) 
df["month"] = df["date"].transform(lambda x: x.month) 
df["day"] = df["date"].transform(lambda x: x.day)

In [4]:
def transformDate(year,month,day):
    if (day==31 or day==30):
        day=29
    if((day%10)<5):
        inf = (int)(day/10)*10
        sup = (int)(day/10)*10 + 5
    else:
        inf = (int)(day/10)*10 + 5
        sup = (1+(int)(day/10))*10  
    return dt.date(year,month,(int)((inf+sup)/2))

df["new_date"]=df.apply(lambda x: transformDate(x["year"],x["month"],x["day"]), axis=1)
df["new_date"].value_counts()

KeyboardInterrupt:

In [139]:
def transformDate(year,month,day):
    if((day%2)==0):
        day-=1   
    return dt.date(year,month,day)
df["date"]=df.apply(lambda x: transformDate(x["year"],x["month"],x["day"]), axis=1)
df

,id_user,date,hours,id_item,price,qty,year,month,day
0,20ab495b4944e61088068e9a1587cffc73ed506e93fead...,2010-12-01,08:26,85123A,2.55,6,2010,12,1
1,20ab495b4944e61088068e9a1587cffc73ed506e93fead...,2010-12-01,08:26,71053,3.39,6,2010,12,1
2,20ab495b4944e61088068e9a1587cffc73ed506e93fead...,2010-12-01,08:26,84406B,2.75,8,2010,12,1
3,20ab495b4944e61088068e9a1587cffc73ed506e93fead...,2010-12-01,08:26,84029G,3.39,6,2010,12,1
4,20ab495b4944e61088068e9a1587cffc73ed506e93fead...,2010-12-01,08:26,84029E,3.39,6,2010,12,1
5,20ab495b4944e61088068e9a1587cffc73ed506e93fead...,2010-12-01,08:26,22752,7.65,2,2010,12,1
6,20ab495b4944e61088068e9a1587cffc73ed506e93fead...,2010-12-01,08:26,21730,4.25,6,2010,12,1
7,20ab495b4944e61088068e9a1587cffc73ed506e93fead...,2010-12-01,08:28,22633,1.85,6,2010,12,1
8,20ab495b4944e61088068e9a1587cffc73ed506e93fead...,2010-12-01,08:28,22632,1.85,6,2010,12,1
9,9682bb6424edc103cab4c009e25fb4ca7b4b271a1a6635...,2010-12-01,08:34,84879,1.69,32,2010,12,1
10,9682bb6424edc103cab4c009e25fb4ca7b4b271a1a6635...,2010-12-01,08:34,22745,2.10,6,2010,12,1
11,9682bb6424edc103cab4c009e25fb4ca7b4b271a1a6635...,2010-12-01,08:34,22748,2.10,6,2010,12,1
12,9682bb6424edc103cab4c009e25fb4ca7b4b271a1a6635...,2010-12-01,08:34,22749,3.75,8,2010,12,1
13,9682bb6424edc103cab4c009e25fb4ca7b4b271a1a6635...,2010-12-01,08:34,22310,1.65,6,2010,12,1
14,9682bb6424edc103cab4c009e25fb4ca7b4b271a1a6635...,2010-12-01,08:34,84969,4.25,6,2010,12,1
15,9682bb6424edc103cab4c009e25fb4ca7b4b271a1a6635...,2010-12-01,08:34,22623,4.95,3,2010,12,1
16,9682bb6424edc103cab4c009e25fb4ca7b4b271a1a6635...,2010-12-01,08:34,22622,9.95,2,2010,12,1
17,9682bb6424edc103cab4c009e25fb4ca7b4b271a1a6635...,2010-12-01,08:34,21754,5.95,3,2010,12,1
18,9682bb6424edc103cab4c009e25fb4ca7b4b271a1a6635...,2010-12-01,08:34,21755,5.95,3,2010,12,1
19,9682bb6424edc103cab4c009e25fb4ca7b4b271a1a6635...,2010-12-01,08:34,21777,7.95,4,2010,12,1
20,9682bb6424edc103cab4c009e25fb4ca7b4b271a1a6635...,2010-12-01,08:34,48187,7.95,4,2010,12,1
21,9682bb6424edc103cab4c009e25fb4ca7b4b271a1a6635...,2010-12-01,08:34,22960,4.25,6,2010,12,1
22,9682bb6424edc103cab4c009e25fb4ca7b4b271a1a6635...,2010-12-01,08:34,22913,4.95,3,2010,12,1
23,9682bb6424edc103cab4c009e25fb4ca7b4b271a1a6635...,2010-12-01,08:34,22912,4.95,3,2010,12,1
24,9682bb6424edc103cab4c009e25fb4ca7b4b271a1a6635...,2010-12-01,08:34,22914,4.95,3,2010,12,1
25,9682bb6424edc103cab4c009e25fb4ca7b4b271a1a6635...,2010-12-01,08:35,21756,5.95,3,2010,12,1
26,abd47eb71f0e8836ac8c9fa583ff75237343f80d1eaf4a...,2010-12-01,08:45,22728,3.75,24,2010,12,1
27,abd47eb71f0e8836ac8c9fa583ff75237343f80d1eaf4a...,2010-12-01,08:45,22727,3.75,24,2010,12,1
28,abd47eb71f0e8836ac8c9fa583ff75237343f80d1eaf4a...,2010-12-01,08:45,22726,3.75,12,2010,12,1
29,abd47eb71f0e8836ac8c9fa583ff75237343f80d1eaf4a...,2010-12-01,08:45,21724,0.85,12,2010,12,1
...,...,...,...,...,...,...,...,...,...
307024,d2ffd7ff18462516ed631e41e6c6ea884532f166ad196d...,2011-12-09,12:31,22726,3.75,8,2011,12,9
307025,d2ffd7ff18462516ed631e41e6c6ea884532f166ad196d...,2011-12-09,12:31,22727,3.75,4,2011,12,9
307026,d2ffd7ff18462516ed631e41e6c6ea884532f166ad196d...,2011-12-09,12:31,16016,0.85,10,2011,12,9
307027,d2ffd7ff18462516ed631e41e6c6ea884532f166ad196d...,2011-12-09,12:31,21916,0.42,24,2011,12,9
307028,d2ffd7ff18462516ed631e41e6c6ea884532f166ad196d...,2011-12-09,12:31,84692,0.42,25,2011,12,9
307029,d2ffd7ff18462516ed631e41e6c6ea884532f166ad196d...,2011-12-09,12:31,84946,1.25,12,2011,12,9
307030,d2ffd7ff18462516ed631e41e6c6ea884532f166ad196d...,2011-12-09,12:31,21684,0.85,12,2011,12,9
307031,d2ffd7ff18462516ed631e41e6c6ea884532f166ad196d...,2011-12-09,12:31,22398,0.39,12,2011,12,9
307032,d2ffd7ff18462516ed631e41e6c6ea884532f166ad196d...,2011-12-09,12:31,23328,3.75,4,2011,12,9
307033,d2ffd7ff18462516ed631e41e6c6ea884532f166ad196d...,2011-12-09,12:31,23145,0.95,12,2011,12,9
307034,d2ffd7ff18462516ed631e41e6c6ea884532f166ad196d...,2011-12-09,12:31,22466,1.95,12,2011,12,9
307035,faed24964aad18d6e3ca84737f42c679d99ddbd0e052ba...,2011-12-09,12:49,22061,2.95,8,2011,12,9
307036,faed24964aad18d6e3ca84737f42c679d99ddbd0e052ba...,2011-12-09,12:49,23275,1.25,24,2011,12,9
307037,faed24964aad18d6e3ca84737f42c679d99ddbd0e052ba...,2011-12-09,12:49,21217,8.95,24,2011,12,9
307038,faed24964aad18d6e3ca84737f42c679d99ddbd0e052ba...,2011-12-09,12:49,20685,7.08,10,2011,12,9
307039,52e31a0dac0f1d4a8f0aa28343adf1606ee3478aac5f41...,2011-12-09,12:50,22631,1.95,12,2011,12,9
307040,52e31a0dac0f1d4a8f0aa28343adf1606ee3478aac5f41...,2011-12-09,12:50,22556,1.65,12,2011,12,9
307041,52e31a0dac0f1d4a8f0aa28343adf1606ee3478aac5f41...,2011-12-09,12:50,22555,1.65,12,2011,12,9
307042,52e31a0dac0f1d4a8f0aa28343adf1606ee3478aac5f41...,2011-12-09,12:50,22728,3.75,4,2011,12,9
307043,52e31a0dac0f1d4a8f0aa28343adf1606ee3478aac5f41...,2011-12-09,12:50,22727,3.75,4,2011,12,9
307044,52e31a0dac0f1d4a8f0aa28343adf1606ee3478aac5f41...,2011-12-09,12:50,22726,3.75,4,2011,12,9
307045,52e31a0dac0f1d4a8f0aa28343adf1606ee3478aac5f41...,2011-12-09,12:50,22730,3.75,4,2011,12,9
307046,52e31a0dac0f1d4a8f0aa28343adf1606ee3478aac5f41...,2011-12-09,12:50,22367,1.95,8,2011,12,9
307047,52e31a0dac0f1d4a8f0aa28343adf1606ee3478aac5f41...,2011-12-09,12:50,22629,1.95,12,2011,12,9
307048,52e31a0dac0f1d4a8f0aa28343adf1606ee3478aac5f41...,2011-12-09,12:50,23256,4.15,4,2011,12,9
307049,52e31a0dac0f1d4a8f0aa28343adf1606ee3478aac5f41...,2011-12-09,12:50,22613,0.85,12,2011,12,9
307050,52e31a0dac0f1d4a8f0aa28343adf1606ee3478aac5f41...,2011-12-09,12:50,22899,2.10,6,2011,12,9
307051,52e31a0dac0f1d4a8f0aa28343adf1606ee3478aac5f41...,2011-12-09,12:50,23254,4.15,4,2011,12,9
307052,52e31a0dac0f1d4a8f0aa28343adf1606ee3478aac5f41...,2011-12-09,12:50,23255,4.15,4,2011,12,9
307053,52e31a0dac0f1d4a8f0aa28343adf1606ee3478aac5f41...,2011-12-09,12:50,22138,4.95,3,2011,12,9

In [143]:
df.drop(["year","month","day"],axis=1, inplace=True)
df["date"]=df["date"].apply(lambda x: x.strftime('%Y/%m/%d'))
df.to_csv("./oto.csv",index=False)

In [140]:
# Anonymize hours by Truncate
df["hours"]= pd.to_datetime(df["hours"], format = '%H:%M%S')
df["hours"]=df["hours"].dt.hour

In [145]:
# Group qty and price by Mean()
dates = df["date"].unique()
hours=df["hours"].unique()
for d in dates:
    for h in hours:
        mask=(df["date"]==d) & (df["hours"]==h)
        df.loc[mask,"qty"]=df[mask]["qty"].mean()
        df.loc[mask,"price"]=df[mask]["price"].mean()

In [147]:
df.head()
df.to_csv("./at1.csv",index=False)

In [7]:
ground = pd.read_csv("./ground_truth.csv")
ground.head(3)

   id_user        date  hours id_item  price  qty
0    17850  2010/12/01  08:26  85123A   2.55    6
1    17850  2010/12/01  08:26   71053   3.39    6
2    17850  2010/12/01  08:26  84406B   2.75    8

In [163]:
da = pd.read_csv("./at1.csv")
da.head(3)

,id_user,date,hours,id_item,price,qty
0,20ab495b4944e61088068e9a1587cffc73ed506e93fead...,2010/12/01,8,85123A,2.55,9.867347
1,20ab495b4944e61088068e9a1587cffc73ed506e93fead...,2010/12/01,8,71053,3.39,9.867347
2,20ab495b4944e61088068e9a1587cffc73ed506e93fead...,2010/12/01,8,84406B,2.75,9.867347

In [226]:
ground_truth, submission = round1_preprocessing(
    "./ground_truth.csv", "./at1.csv"
)

# Check the format of the Anonymized Transaction file
check_format_trans_file(ground_truth, submission)

In [227]:
%%time
metric = Metrics(ground_truth, submission)
#scores = metric.scores()
#scores

CPU times: user 1min 33s, sys: 1.73 s, total: 1min 34s
Wall time: 1min 50s

In [167]:
scores

[0.9544850393418423,
 0,
 0.7867699526022446,
 0.0160489791,
 0.0,
 0.0,
 0.0,
 0.03264,
 0.0,
 0.259542,
 0.0,
 0.301483,
 0.970402]

In [223]:
date_col = metric._gt_t_col_it['date']
qty_col = metric._gt_t_col_it['qty']

f_hat = metric._evaluate([date_col, qty_col])

In [225]:
# Show reidentified lines
for h in range(0,4034):
    array = f_hat.iloc[h]
    for x in range(0,13):
        if array[x] != "DEL":
            print(f_hat.iloc[h])

id_user    12347
0          13963
1          15661
2            DEL
3            DEL
4          16255
5            DEL
6          18041
7            DEL
8          13850
9            DEL
10         18055
11           DEL
12         13534
Name: 0, dtype: object
id_user    12347
0          13963
1          15661
2            DEL
3            DEL
4          16255
5            DEL
6          18041
7            DEL
8          13850
9            DEL
10         18055
11           DEL
12         13534
Name: 0, dtype: object
id_user    12347
0          13963
1          15661
2            DEL
3            DEL
4          16255
5            DEL
6          18041
7            DEL
8          13850
9            DEL
10         18055
11           DEL
12         13534
Name: 0, dtype: object
id_user    12347
0          13963
1          15661
2            DEL
3            DEL
4          16255
5            DEL
6          18041
7            DEL
8          13850
9            DEL
10         18055
11           DEL
12         13534
Name: 0, dtype: object
id_user    12347
0          13963
1          15661
2            DEL
3            DEL
4          16255
5            DEL
6          18041
7            DEL
8          13850
9            DEL
10         18055
11           DEL
12         13534
Name: 0, dtype: object
id_user    12347
0          13963
1          15661
2            DEL
3            DEL
4          16255
5            DEL
6          18041
7            DEL
8          13850
9            DEL
10         18055
11           DEL
12         13534
Name: 0, dtype: object
id_user    12347
0          13963
1          15661
2            DEL
3            DEL
4          16255
5            DEL
6          18041
7            DEL
8          13850
9            DEL
10         18055
11           DEL
12         13534
Name: 0, dtype: object
id_user    12348
0          15620
1          17515
2            DEL
3            DEL
4          14546
5            DEL
6            DEL
7            DEL
8            DEL
9          16594
10           DEL
11           DEL
12           DEL
Name: 1, dtype: object
id_user    12348
0          15620
1          17515
2            DEL
3            DEL
4          14546
5            DEL
6            DEL
7            DEL
8            DEL
9          16594
10           DEL
11           DEL
12           DEL
Name: 1, dtype: object
id_user    12348
0          15620
1          17515
2            DEL
3            DEL
4          14546
5            DEL
6            DEL
7            DEL
8            DEL
9          16594
10           DEL
11           DEL
12           DEL
Name: 1, dtype: object
id_user    12348
0          15620
1          17515
2            DEL
3            DEL
4          14546
5            DEL
6            DEL
7            DEL
8            DEL
9          16594
10           DEL
11           DEL
12           DEL
Name: 1, dtype: object
id_user    12349
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         16712
12           DEL
Name: 2, dtype: object
id_user    12350
0            DEL
1            DEL
2          14798
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 3, dtype: object
id_user    12352
0            DEL
1            DEL
2          15059
3          12352
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          17783
10           DEL
11         14098
12           DEL
Name: 4, dtype: object
id_user    12352
0            DEL
1            DEL
2          15059
3          12352
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          17783
10           DEL
11         14098
12           DEL
Name: 4, dtype: object
id_user    12352
0            DEL
1            DEL
2          15059
3          12352
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          17783
10           DEL
11         14098
12           DEL
Name: 4, dtype: object
id_user    12352
0            DEL
1            DEL
2          15059
3          12352
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          17783
10           DEL
11         14098
12           DEL
Name: 4, dtype: object
id_user    12354
0            DEL
1            DEL
2            DEL
3            DEL
4          14231
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 5, dtype: object
id_user    12355
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          16672
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 6, dtype: object
id_user    12356
0            DEL
1          15061
2            DEL
3            DEL
4          12356
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         12449
12           DEL
Name: 7, dtype: object
id_user    12356
0            DEL
1          15061
2            DEL
3            DEL
4          12356
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         12449
12           DEL
Name: 7, dtype: object
id_user    12356
0            DEL
1          15061
2            DEL
3            DEL
4          12356
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         12449
12           DEL
Name: 7, dtype: object
id_user    12357
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14511
12           DEL
Name: 8, dtype: object
id_user    12358
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          15051
8            DEL
9            DEL
10           DEL
11           DEL
12         13521
Name: 9, dtype: object
id_user    12358
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          15051
8            DEL
9            DEL
10           DEL
11           DEL
12         13521
Name: 9, dtype: object
id_user    12359
0            DEL
1          18109
2          14048
3            DEL
4            DEL
5            DEL
6          16942
7            DEL
8            DEL
9            DEL
10         12613
11           DEL
12           DEL
Name: 10, dtype: object
id_user    12359
0            DEL
1          18109
2          14048
3            DEL
4            DEL
5            DEL
6          16942
7            DEL
8            DEL
9            DEL
10         12613
11           DEL
12           DEL
Name: 10, dtype: object
id_user    12359
0            DEL
1          18109
2          14048
3            DEL
4            DEL
5            DEL
6          16942
7            DEL
8            DEL
9            DEL
10         12613
11           DEL
12           DEL
Name: 10, dtype: object
id_user    12359
0            DEL
1          18109
2          14048
3            DEL
4            DEL
5            DEL
6          16942
7            DEL
8            DEL
9            DEL
10         12613
11           DEL
12           DEL
Name: 10, dtype: object
id_user    12360
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          12360
6            DEL
7            DEL
8          12360
9            DEL
10         15140
11           DEL
12           DEL
Name: 11, dtype: object
id_user    12360
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          12360
6            DEL
7            DEL
8          12360
9            DEL
10         15140
11           DEL
12           DEL
Name: 11, dtype: object
id_user    12360
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          12360
6            DEL
7            DEL
8          12360
9            DEL
10         15140
11           DEL
12           DEL
Name: 11, dtype: object
id_user    12361
0            DEL
1            DEL
2          14470
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 12, dtype: object
id_user    12362
0            DEL
1            DEL
2          13085
3            DEL
4          16370
5            DEL
6            DEL
7          13699
8          15747
9          16460
10         16554
11         17084
12         17290
Name: 13, dtype: object
id_user    12362
0            DEL
1            DEL
2          13085
3            DEL
4          16370
5            DEL
6            DEL
7          13699
8          15747
9          16460
10         16554
11         17084
12         17290
Name: 13, dtype: object
id_user    12362
0            DEL
1            DEL
2          13085
3            DEL
4          16370
5            DEL
6            DEL
7          13699
8          15747
9          16460
10         16554
11         17084
12         17290
Name: 13, dtype: object
id_user    12362
0            DEL
1            DEL
2          13085
3            DEL
4          16370
5            DEL
6            DEL
7          13699
8          15747
9          16460
10         16554
11         17084
12         17290
Name: 13, dtype: object
id_user    12362
0            DEL
1            DEL
2          13085
3            DEL
4          16370
5            DEL
6            DEL
7          13699
8          15747
9          16460
10         16554
11         17084
12         17290
Name: 13, dtype: object
id_user    12362
0            DEL
1            DEL
2          13085
3            DEL
4          16370
5            DEL
6            DEL
7          13699
8          15747
9          16460
10         16554
11         17084
12         17290
Name: 13, dtype: object
id_user    12362
0            DEL
1            DEL
2          13085
3            DEL
4          16370
5            DEL
6            DEL
7          13699
8          15747
9          16460
10         16554
11         17084
12         17290
Name: 13, dtype: object
id_user    12362
0            DEL
1            DEL
2          13085
3            DEL
4          16370
5            DEL
6            DEL
7          13699
8          15747
9          16460
10         16554
11         17084
12         17290
Name: 13, dtype: object
id_user    12363
0            DEL
1            DEL
2            DEL
3            DEL
4          14286
5            DEL
6            DEL
7            DEL
8          17676
9            DEL
10           DEL
11           DEL
12           DEL
Name: 14, dtype: object
id_user    12363
0            DEL
1            DEL
2            DEL
3            DEL
4          14286
5            DEL
6            DEL
7            DEL
8          17676
9            DEL
10           DEL
11           DEL
12           DEL
Name: 14, dtype: object
id_user    12364
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          15396
9          12364
10         14572
11           DEL
12         12970
Name: 15, dtype: object
id_user    12364
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          15396
9          12364
10         14572
11           DEL
12         12970
Name: 15, dtype: object
id_user    12364
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          15396
9          12364
10         14572
11           DEL
12         12970
Name: 15, dtype: object
id_user    12364
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          15396
9          12364
10         14572
11           DEL
12         12970
Name: 15, dtype: object
id_user    12365
0            DEL
1            DEL
2          16980
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 16, dtype: object
id_user    12367
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12         12841
Name: 17, dtype: object
id_user    12370
0          15570
1            DEL
2            DEL
3          13468
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         16191
11           DEL
12           DEL
Name: 18, dtype: object
id_user    12370
0          15570
1            DEL
2            DEL
3          13468
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         16191
11           DEL
12           DEL
Name: 18, dtype: object
id_user    12370
0          15570
1            DEL
2            DEL
3          13468
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         16191
11           DEL
12           DEL
Name: 18, dtype: object
id_user    12371
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         14315
11           DEL
12           DEL
Name: 19, dtype: object
id_user    12372
0            DEL
1            DEL
2          15867
3            DEL
4            DEL
5          14277
6            DEL
7            DEL
8            DEL
9          12703
10           DEL
11           DEL
12           DEL
Name: 20, dtype: object
id_user    12372
0            DEL
1            DEL
2          15867
3            DEL
4            DEL
5          14277
6            DEL
7            DEL
8            DEL
9          12703
10           DEL
11           DEL
12           DEL
Name: 20, dtype: object
id_user    12372
0            DEL
1            DEL
2          15867
3            DEL
4            DEL
5          14277
6            DEL
7            DEL
8            DEL
9          12703
10           DEL
11           DEL
12           DEL
Name: 20, dtype: object
id_user    12373
0            DEL
1            DEL
2          16110
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 21, dtype: object
id_user    12374
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14684
12           DEL
Name: 22, dtype: object
id_user    12375
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          16706
10           DEL
11         14719
12           DEL
Name: 23, dtype: object
id_user    12375
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          16706
10           DEL
11         14719
12           DEL
Name: 23, dtype: object
id_user    12377
0          14733
1          13141
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 24, dtype: object
id_user    12377
0          14733
1          13141
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 24, dtype: object
id_user    12378
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          12378
9            DEL
10           DEL
11           DEL
12           DEL
Name: 25, dtype: object
id_user    12379
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          13780
7            DEL
8            DEL
9          14290
10           DEL
11           DEL
12           DEL
Name: 26, dtype: object
id_user    12379
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          13780
7            DEL
8            DEL
9          14290
10           DEL
11           DEL
12           DEL
Name: 26, dtype: object
id_user    12380
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          16393
7            DEL
8            DEL
9          17243
10         14856
11         17286
12           DEL
Name: 27, dtype: object
id_user    12380
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          16393
7            DEL
8            DEL
9          17243
10         14856
11         17286
12           DEL
Name: 27, dtype: object
id_user    12380
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          16393
7            DEL
8            DEL
9          17243
10         14856
11         17286
12           DEL
Name: 27, dtype: object
id_user    12380
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          16393
7            DEL
8            DEL
9          17243
10         14856
11         17286
12           DEL
Name: 27, dtype: object
id_user    12381
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          12381
9            DEL
10         15831
11         17289
12         12841
Name: 28, dtype: object
id_user    12381
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          12381
9            DEL
10         15831
11         17289
12         12841
Name: 28, dtype: object
id_user    12381
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          12381
9            DEL
10         15831
11         17289
12         12841
Name: 28, dtype: object
id_user    12381
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          12381
9            DEL
10         15831
11         17289
12         12841
Name: 28, dtype: object
id_user    12383
0          17894
1          12383
2            DEL
3          14395
4          17367
5            DEL
6          15974
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 29, dtype: object
id_user    12383
0          17894
1          12383
2            DEL
3          14395
4          17367
5            DEL
6          15974
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 29, dtype: object
id_user    12383
0          17894
1          12383
2            DEL
3          14395
4          17367
5            DEL
6          15974
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 29, dtype: object
id_user    12383
0          17894
1          12383
2            DEL
3          14395
4          17367

Name: 58, dtype: object
id_user    12423
0          16270
1            DEL
2          16980
3          16791
4          16469
5          14817
6          15916
7            DEL
8          16780
9            DEL
10           DEL
11           DEL
12         14446
Name: 58, dtype: object
id_user    12423
0          16270
1            DEL
2          16980
3          16791
4          16469
5          14817
6          15916
7            DEL
8          16780
9            DEL
10           DEL
11           DEL
12         14446
Name: 58, dtype: object
id_user    12423
0          16270
1            DEL
2          16980
3          16791
4          16469
5          14817
6          15916
7            DEL
8          16780
9            DEL
10           DEL
11           DEL
12         14446
Name: 58, dtype: object
id_user    12423
0          16270
1            DEL
2          16980
3          16791
4          16469
5          14817
6          15916
7            DEL
8          16780
9            DEL
10           DEL
11           DEL
12         14446
Name: 58, dtype: object
id_user    12423
0          16270
1            DEL
2          16980
3          16791
4          16469
5          14817
6          15916
7            DEL
8          16780
9            DEL
10           DEL
11           DEL
12         14446
Name: 58, dtype: object
id_user    12424
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          16316
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 59, dtype: object
id_user    12425
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          16389
10           DEL
11           DEL
12           DEL
Name: 60, dtype: object
id_user    12426
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          14451
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 61, dtype: object
id_user    12427
0          14723
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         17377
11         14593
12           DEL
Name: 62, dtype: object
id_user    12427
0          14723
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         17377
11         14593
12           DEL
Name: 62, dtype: object
id_user    12427
0          14723
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         17377
11         14593
12           DEL
Name: 62, dtype: object
id_user    12428
0            DEL
1            DEL
2            DEL
3          13999
4          12982
5            DEL
6            DEL
7          17049
8          15747
9            DEL
10           DEL
11         15572
12           DEL
Name: 63, dtype: object
id_user    12428
0            DEL
1            DEL
2            DEL
3          13999
4          12982
5            DEL
6            DEL
7          17049
8          15747
9            DEL
10           DEL
11         15572
12           DEL
Name: 63, dtype: object
id_user    12428
0            DEL
1            DEL
2            DEL
3          13999
4          12982
5            DEL
6            DEL
7          17049
8          15747
9            DEL
10           DEL
11         15572
12           DEL
Name: 63, dtype: object
id_user    12428
0            DEL
1            DEL
2            DEL
3          13999
4          12982
5            DEL
6            DEL
7          17049
8          15747
9            DEL
10           DEL
11         15572
12           DEL
Name: 63, dtype: object
id_user    12428
0            DEL
1            DEL
2            DEL
3          13999
4          12982
5            DEL
6            DEL
7          17049
8          15747
9            DEL
10           DEL
11         15572
12           DEL
Name: 63, dtype: object
id_user    12429
0          17456
1            DEL
2            DEL
3            DEL
4          15108
5            DEL
6          17428
7            DEL
8            DEL
9            DEL
10           DEL
11         14005
12           DEL
Name: 64, dtype: object
id_user    12429
0          17456
1            DEL
2            DEL
3            DEL
4          15108
5            DEL
6          17428
7            DEL
8            DEL
9            DEL
10           DEL
11         14005
12           DEL
Name: 64, dtype: object
id_user    12429
0          17456
1            DEL
2            DEL
3            DEL
4          15108
5            DEL
6          17428
7            DEL
8            DEL
9            DEL
10           DEL
11         14005
12           DEL
Name: 64, dtype: object
id_user    12429
0          17456
1            DEL
2            DEL
3            DEL
4          15108
5            DEL
6          17428
7            DEL
8            DEL
9            DEL
10           DEL
11         14005
12           DEL
Name: 64, dtype: object
id_user    12430
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         16438
11           DEL
12           DEL
Name: 65, dtype: object
id_user    12431
0          13033
1          17188
2          16745
3            DEL
4            DEL
5          12431
6            DEL
7          15513
8          13069
9            DEL
10         17377
11         12431
12           DEL
Name: 66, dtype: object
id_user    12431
0          13033
1          17188
2          16745
3            DEL
4            DEL
5          12431
6            DEL
7          15513
8          13069
9            DEL
10         17377
11         12431
12           DEL
Name: 66, dtype: object
id_user    12431
0          13033
1          17188
2          16745
3            DEL
4            DEL
5          12431
6            DEL
7          15513
8          13069
9            DEL
10         17377
11         12431
12           DEL
Name: 66, dtype: object
id_user    12431
0          13033
1          17188
2          16745
3            DEL
4            DEL
5          12431
6            DEL
7          15513
8          13069
9            DEL
10         17377
11         12431
12           DEL
Name: 66, dtype: object
id_user    12431
0          13033
1          17188
2          16745
3            DEL
4            DEL
5          12431
6            DEL
7          15513
8          13069
9            DEL
10         17377
11         12431
12           DEL
Name: 66, dtype: object
id_user    12431
0          13033
1          17188
2          16745
3            DEL
4            DEL
5          12431
6            DEL
7          15513
8          13069
9            DEL
10         17377
11         12431
12           DEL
Name: 66, dtype: object
id_user    12431
0          13033
1          17188
2          16745
3            DEL
4            DEL
5          12431
6            DEL
7          15513
8          13069
9            DEL
10         17377
11         12431
12           DEL
Name: 66, dtype: object
id_user    12431
0          13033
1          17188
2          16745
3            DEL
4            DEL
5          12431
6            DEL
7          15513
8          13069
9            DEL
10         17377
11         12431
12           DEL
Name: 66, dtype: object
id_user    12432
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          16987
7            DEL
8            DEL
9            DEL
10         14359
11           DEL
12           DEL
Name: 67, dtype: object
id_user    12432
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          16987
7            DEL
8            DEL
9            DEL
10         14359
11           DEL
12           DEL
Name: 67, dtype: object
id_user    12433
0          17340
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          17001
10         13735
11         15782
12         17364
Name: 68, dtype: object
id_user    12433
0          17340
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          17001
10         13735
11         15782
12         17364
Name: 68, dtype: object
id_user    12433
0          17340
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          17001
10         13735
11         15782
12         17364
Name: 68, dtype: object
id_user    12433
0          17340
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          17001
10         13735
11         15782
12         17364
Name: 68, dtype: object
id_user    12433
0          17340
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          17001
10         13735
11         15782
12         17364
Name: 68, dtype: object
id_user    12434
0            DEL
1            DEL
2            DEL
3          16022
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          14262
10           DEL
11           DEL
12           DEL
Name: 69, dtype: object
id_user    12434
0            DEL
1            DEL
2            DEL
3          16022
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          14262
10           DEL
11           DEL
12           DEL
Name: 69, dtype: object
id_user    12435
0            DEL
1            DEL
2            DEL
3          12435
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          12721
10           DEL
11           DEL
12           DEL
Name: 70, dtype: object
id_user    12435
0            DEL
1            DEL
2            DEL
3          12435
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          12721
10           DEL
11           DEL
12           DEL
Name: 70, dtype: object
id_user    12436
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          16880
10           DEL
11           DEL
12           DEL
Name: 71, dtype: object
id_user    12437
0            DEL
1          14167
2          13804
3          15687
4          18037
5          13268
6          16644
7            DEL
8            DEL
9          15484
10         13488
11         16115
12         14653
Name: 72, dtype: object
id_user    12437
0            DEL
1          14167
2          13804
3          15687
4          18037
5          13268
6          16644
7            DEL
8            DEL
9          15484
10         13488
11         16115
12         14653
Name: 72, dtype: object
id_user    12437
0            DEL
1          14167
2          13804
3          15687
4          18037
5          13268
6          16644
7            DEL
8            DEL
9          15484
10         13488
11         16115
12         14653
Name: 72, dtype: object
id_user    12437
0            DEL
1          14167
2          13804
3          15687
4          18037
5          13268
6          16644
7            DEL
8            DEL
9          15484
10         13488
11         16115
12         14653
Name: 72, dtype: object
id_user    12437
0            DEL
1          14167
2          13804
3          15687
4          18037
5          13268
6          16644
7            DEL
8            DEL
9          15484
10         13488
11         16115
12         14653
Name: 72, dtype: object
id_user    12437
0            DEL
1          14167
2          13804
3          15687
4          18037
5          13268
6          16644
7            DEL
8            DEL
9          15484
10         13488
11         16115
12         14653
Name: 72, dtype: object
id_user    12437
0            DEL
1          14167
2          13804
3          15687
4          18037
5          13268
6          16644
7            DEL
8            DEL
9          15484
10         13488
11         16115
12         14653
Name: 72, dtype: object
id_user    12437
0            DEL
1          14167
2          13804
3          15687
4          18037
5          13268
6          16644
7            DEL
8            DEL
9          15484
10         13488
11         16115
12         14653
Name: 72, dtype: object
id_user    12437
0            DEL
1          14167
2          13804
3          15687
4          18037
5          13268
6          16644
7            DEL
8            DEL
9          15484
10         13488
11         16115
12         14653
Name: 72, dtype: object
id_user    12437
0            DEL
1          14167
2          13804
3          15687
4          18037
5          13268
6          16644
7            DEL
8            DEL
9          15484
10         13488
11         16115
12         14653
Name: 72, dtype: object
id_user    12438
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          14852
8            DEL
9            DEL
10           DEL
11         18109
12           DEL
Name: 73, dtype: object
id_user    12438
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          14852
8            DEL
9            DEL
10           DEL
11         18109
12           DEL
Name: 73, dtype: object
id_user    12441
0          14030
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 74, dtype: object
id_user    12442
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12         15907
Name: 75, dtype: object
id_user    12444
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17420
7            DEL
8          12444
9          17333
10         17676
11         12578
12           DEL
Name: 76, dtype: object
id_user    12444
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17420
7            DEL
8          12444
9          17333
10         17676
11         12578
12           DEL
Name: 76, dtype: object
id_user    12444
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17420
7            DEL
8          12444
9          17333
10         17676
11         12578
12           DEL
Name: 76, dtype: object
id_user    12444
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17420
7            DEL
8          12444
9          17333
10         17676
11         12578
12           DEL
Name: 76, dtype: object
id_user    12444
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17420
7            DEL
8          12444
9          17333
10         17676
11         12578
12           DEL
Name: 76, dtype: object
id_user    12446
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         12613
11           DEL
12           DEL
Name: 77, dtype: object
id_user    12447
0            DEL
1            DEL
2            DEL
3            DEL
4          15955
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 78, dtype: object
id_user    12448
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         16345
11           DEL
12           DEL
Name: 79, dtype: object
id_user    12449
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17589
7            DEL
8          12378
9          12449
10           DEL
11         17397
12           DEL
Name: 80, dtype: object
id_user    12449
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17589
7            DEL
8          12378
9          12449
10           DEL
11         17397
12           DEL
Name: 80, dtype: object
id_user    12449
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17589
7            DEL
8          12378
9          12449
10           DEL
11         17397
12           DEL
Name: 80, dtype: object
id_user    12449
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17589
7            DEL
8          12378
9          12449
10           DEL
11         17397
12           DEL
Name: 80, dtype: object
id_user    12450
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17001
7          13999
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 81, dtype: object
id_user    12450
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17001
7          13999
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 81, dtype: object
id_user    12451
0            DEL
1          15298
2            DEL
3            DEL
4            DEL
5          13450
6            DEL
7            DEL
8            DEL
9            DEL
10         15106
11         14719
12           DEL
Name: 82, dtype: object
id_user    12451
0            DEL
1          15298
2            DEL
3            DEL
4            DEL
5          13450
6            DEL
7            DEL
8            DEL
9            DEL
10         15106
11         14719
12           DEL
Name: 82, dtype: object
id_user    12451
0            DEL
1          15298
2            DEL
3            DEL
4            DEL
5          13450
6            DEL
7            DEL
8            DEL
9            DEL
10         15106
11         14719
12           DEL
Name: 82, dtype: object
id_user    12451
0            DEL
1          15298
2            DEL
3            DEL
4            DEL
5          13450
6            DEL
7            DEL
8            DEL
9            DEL
10         15106
11         14719
12           DEL
Name: 82, dtype: object
id_user    12452
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14675
12           DEL
Name: 83, dtype: object
id_user    12453
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          16843
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 84, dtype: object
id_user    12454
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         12454
11           DEL
12           DEL
Name: 85, dtype: object
id_user    12455
0            DEL
1            DEL

Name: 101, dtype: object
id_user    12477
0            DEL
1            DEL
2          17512
3            DEL
4          13772
5            DEL
6            DEL
7            DEL
8          12477
9            DEL
10         15478
11         12477
12           DEL
Name: 101, dtype: object
id_user    12477
0            DEL
1            DEL
2          17512
3            DEL
4          13772
5            DEL
6            DEL
7            DEL
8          12477
9            DEL
10         15478
11         12477
12           DEL
Name: 101, dtype: object
id_user    12477
0            DEL
1            DEL
2          17512
3            DEL
4          13772
5            DEL
6            DEL
7            DEL
8          12477
9            DEL
10         15478
11         12477
12           DEL
Name: 101, dtype: object
id_user    12477
0            DEL
1            DEL
2          17512
3            DEL
4          13772
5            DEL
6            DEL
7            DEL
8          12477
9            DEL
10         15478
11         12477
12           DEL
Name: 101, dtype: object
id_user    12478
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12         12749
Name: 102, dtype: object
id_user    12479
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         16347
12           DEL
Name: 103, dtype: object
id_user    12480
0            DEL
1          13593
2            DEL
3          13268
4            DEL
5            DEL
6            DEL
7          15867
8            DEL
9            DEL
10           DEL
11         12518
12           DEL
Name: 104, dtype: object
id_user    12480
0            DEL
1          13593
2            DEL
3          13268
4            DEL
5            DEL
6            DEL
7          15867
8            DEL
9            DEL
10           DEL
11         12518
12           DEL
Name: 104, dtype: object
id_user    12480
0            DEL
1          13593
2            DEL
3          13268
4            DEL
5            DEL
6            DEL
7          15867
8            DEL
9            DEL
10           DEL
11         12518
12           DEL
Name: 104, dtype: object
id_user    12480
0            DEL
1          13593
2            DEL
3          13268
4            DEL
5            DEL
6            DEL
7          15867
8            DEL
9            DEL
10           DEL
11         12518
12           DEL
Name: 104, dtype: object
id_user    12481
0          17069
1          17284
2            DEL
3          14851
4            DEL
5          15630
6          12481
7            DEL
8            DEL
9            DEL
10         17521
11         12477
12           DEL
Name: 105, dtype: object
id_user    12481
0          17069
1          17284
2            DEL
3          14851
4            DEL
5          15630
6          12481
7            DEL
8            DEL
9            DEL
10         17521
11         12477
12           DEL
Name: 105, dtype: object
id_user    12481
0          17069
1          17284
2            DEL
3          14851
4            DEL
5          15630
6          12481
7            DEL
8            DEL
9            DEL
10         17521
11         12477
12           DEL
Name: 105, dtype: object
id_user    12481
0          17069
1          17284
2            DEL
3          14851
4            DEL
5          15630
6          12481
7            DEL
8            DEL
9            DEL
10         17521
11         12477
12           DEL
Name: 105, dtype: object
id_user    12481
0          17069
1          17284
2            DEL
3          14851
4            DEL
5          15630
6          12481
7            DEL
8            DEL
9            DEL
10         17521
11         12477
12           DEL
Name: 105, dtype: object
id_user    12481
0          17069
1          17284
2            DEL
3          14851
4            DEL
5          15630
6          12481
7            DEL
8            DEL
9            DEL
10         17521
11         12477
12           DEL
Name: 105, dtype: object
id_user    12481
0          17069
1          17284
2            DEL
3          14851
4            DEL
5          15630
6          12481
7            DEL
8            DEL
9            DEL
10         17521
11         12477
12           DEL
Name: 105, dtype: object
id_user    12483
0            DEL
1          16255
2            DEL
3            DEL
4          15891
5          17556
6          17576
7            DEL
8            DEL
9          16706
10         17725
11         17073
12           DEL
Name: 106, dtype: object
id_user    12483
0            DEL
1          16255
2            DEL
3            DEL
4          15891
5          17556
6          17576
7            DEL
8            DEL
9          16706
10         17725
11         17073
12           DEL
Name: 106, dtype: object
id_user    12483
0            DEL
1          16255
2            DEL
3            DEL
4          15891
5          17556
6          17576
7            DEL
8            DEL
9          16706
10         17725
11         17073
12           DEL
Name: 106, dtype: object
id_user    12483
0            DEL
1          16255
2            DEL
3            DEL
4          15891
5          17556
6          17576
7            DEL
8            DEL
9          16706
10         17725
11         17073
12           DEL
Name: 106, dtype: object
id_user    12483
0            DEL
1          16255
2            DEL
3            DEL
4          15891
5          17556
6          17576
7            DEL
8            DEL
9          16706
10         17725
11         17073
12           DEL
Name: 106, dtype: object
id_user    12483
0            DEL
1          16255
2            DEL
3            DEL
4          15891
5          17556
6          17576
7            DEL
8            DEL
9          16706
10         17725
11         17073
12           DEL
Name: 106, dtype: object
id_user    12483
0            DEL
1          16255
2            DEL
3            DEL
4          15891
5          17556
6          17576
7            DEL
8            DEL
9          16706
10         17725
11         17073
12           DEL
Name: 106, dtype: object
id_user    12484
0            DEL
1          17284
2            DEL
3            DEL
4            DEL
5            DEL
6          12484
7            DEL
8          12477
9            DEL
10           DEL
11         17623
12           DEL
Name: 107, dtype: object
id_user    12484
0            DEL
1          17284
2            DEL
3            DEL
4            DEL
5            DEL
6          12484
7            DEL
8          12477
9            DEL
10           DEL
11         17623
12           DEL
Name: 107, dtype: object
id_user    12484
0            DEL
1          17284
2            DEL
3            DEL
4            DEL
5            DEL
6          12484
7            DEL
8          12477
9            DEL
10           DEL
11         17623
12           DEL
Name: 107, dtype: object
id_user    12484
0            DEL
1          17284
2            DEL
3            DEL
4            DEL
5            DEL
6          12484
7            DEL
8          12477
9            DEL
10           DEL
11         17623
12           DEL
Name: 107, dtype: object
id_user    12488
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          17315
10         12347
11         15060
12           DEL
Name: 108, dtype: object
id_user    12488
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          17315
10         12347
11         15060
12           DEL
Name: 108, dtype: object
id_user    12488
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          17315
10         12347
11         15060
12           DEL
Name: 108, dtype: object
id_user    12489
0            DEL
1          13233
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 109, dtype: object
id_user    12490
0            DEL
1          15213
2            DEL
3            DEL
4            DEL
5          17634
6          17444
7          15708
8          12477
9          14916
10           DEL
11         17073
12         18065
Name: 110, dtype: object
id_user    12490
0            DEL
1          15213
2            DEL
3            DEL
4            DEL
5          17634
6          17444
7          15708
8          12477
9          14916
10           DEL
11         17073
12         18065
Name: 110, dtype: object
id_user    12490
0            DEL
1          15213
2            DEL
3            DEL
4            DEL
5          17634
6          17444
7          15708
8          12477
9          14916
10           DEL
11         17073
12         18065
Name: 110, dtype: object
id_user    12490
0            DEL
1          15213
2            DEL
3            DEL
4            DEL
5          17634
6          17444
7          15708
8          12477
9          14916
10           DEL
11         17073
12         18065
Name: 110, dtype: object
id_user    12490
0            DEL
1          15213
2            DEL
3            DEL
4            DEL
5          17634
6          17444
7          15708
8          12477
9          14916
10           DEL
11         17073
12         18065
Name: 110, dtype: object
id_user    12490
0            DEL
1          15213
2            DEL
3            DEL
4            DEL
5          17634
6          17444
7          15708
8          12477
9          14916
10           DEL
11         17073
12         18065
Name: 110, dtype: object
id_user    12490
0            DEL
1          15213
2            DEL
3            DEL
4            DEL
5          17634
6          17444
7          15708
8          12477
9          14916
10           DEL
11         17073
12         18065
Name: 110, dtype: object
id_user    12490
0            DEL
1          15213
2            DEL
3            DEL
4            DEL
5          17634
6          17444
7          15708
8          12477
9          14916
10           DEL
11         17073
12         18065
Name: 110, dtype: object
id_user    12491
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14426
12           DEL
Name: 111, dtype: object
id_user    12492
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          15611
9            DEL
10         12856
11           DEL
12           DEL
Name: 112, dtype: object
id_user    12492
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          15611
9            DEL
10         12856
11           DEL
12           DEL
Name: 112, dtype: object
id_user    12493
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          14584
6          14104
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 113, dtype: object
id_user    12493
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          14584
6          14104
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 113, dtype: object
id_user    12494
0          13534
1            DEL
2          17576
3            DEL
4            DEL
5          12633
6            DEL
7          15483
8            DEL
9            DEL
10         14572
11         15953
12           DEL
Name: 114, dtype: object
id_user    12494
0          13534
1            DEL
2          17576
3            DEL
4            DEL
5          12633
6            DEL
7          15483
8            DEL
9            DEL
10         14572
11         15953
12           DEL
Name: 114, dtype: object
id_user    12494
0          13534
1            DEL
2          17576
3            DEL
4            DEL
5          12633
6            DEL
7          15483
8            DEL
9            DEL
10         14572
11         15953
12           DEL
Name: 114, dtype: object
id_user    12494
0          13534
1            DEL
2          17576
3            DEL
4            DEL
5          12633
6            DEL
7          15483
8            DEL
9            DEL
10         14572
11         15953
12           DEL
Name: 114, dtype: object
id_user    12494
0          13534
1            DEL
2          17576
3            DEL
4            DEL
5          12633
6            DEL
7          15483
8            DEL
9            DEL
10         14572
11         15953
12           DEL
Name: 114, dtype: object
id_user    12494
0          13534
1            DEL
2          17576
3            DEL
4            DEL
5          12633
6            DEL
7          15483
8            DEL
9            DEL
10         14572
11         15953
12           DEL
Name: 114, dtype: object
id_user    12497
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          12640
10           DEL
11           DEL
12           DEL
Name: 115, dtype: object
id_user    12498
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         14963
11         18034
12           DEL
Name: 116, dtype: object
id_user    12498
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         14963
11         18034
12           DEL
Name: 116, dtype: object
id_user    12500
0            DEL
1          17849
2          14754
3          17673
4            DEL
5            DEL
6          17979
7            DEL
8          12841
9            DEL
10         13157
11         16204
12           DEL
Name: 117, dtype: object
id_user    12500
0            DEL
1          17849
2          14754
3          17673
4            DEL
5            DEL
6          17979
7            DEL
8          12841
9            DEL
10         13157
11         16204
12           DEL
Name: 117, dtype: object
id_user    12500
0            DEL
1          17849
2          14754
3          17673
4            DEL
5            DEL
6          17979
7            DEL
8          12841
9            DEL
10         13157
11         16204
12           DEL
Name: 117, dtype: object
id_user    12500
0            DEL
1          17849
2          14754
3          17673
4            DEL
5            DEL
6          17979
7            DEL
8          12841
9            DEL
10         13157
11         16204
12           DEL
Name: 117, dtype: object
id_user    12500
0            DEL
1          17849
2          14754
3          17673
4            DEL
5            DEL
6          17979
7            DEL
8          12841
9            DEL
10         13157
11         16204
12           DEL
Name: 117, dtype: object
id_user    12500
0            DEL
1          17849
2          14754
3          17673
4            DEL
5            DEL
6          17979
7            DEL
8          12841
9            DEL
10         13157
11         16204
12           DEL
Name: 117, dtype: object
id_user    12500
0            DEL
1          17849
2          14754
3          17673
4            DEL
5            DEL
6          17979
7            DEL
8          12841
9            DEL
10         13157
11         16204
12           DEL
Name: 117, dtype: object
id_user    12501
0            DEL
1          12501
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 118, dtype: object
id_user    12502
0            DEL
1            DEL
2          13581
3          14572
4            DEL
5          14659
6            DEL
7            DEL
8          14535
9          12502
10           DEL
11           DEL
12           DEL
Name: 119, dtype: object
id_user    12502
0            DEL
1            DEL
2          13581
3          14572
4            DEL
5          14659
6            DEL
7            DEL
8          14535
9          12502
10           DEL
11           DEL
12           DEL
Name: 119, dtype: object
id_user    12502
0            DEL
1            DEL
2          13581
3          14572
4            DEL
5          14659
6            DEL
7            DEL
8          14535
9          12502
10           DEL
11           DEL
12           DEL
Name: 119, dtype: object
id_user    12502
0            DEL
1            DEL
2          13581
3          14572
4            DEL
5          14659
6            DEL
7            DEL
8          14535
9          12502
10           DEL
11           DEL
12           DEL
Name: 119, dtype: object
id_user    12502
0            DEL
1            DEL
2          13581
3          14572
4            DEL
5          14659
6            DEL
7            DEL
8          14535
9          12502
10           DEL
11           DEL
12           DEL
Name: 119, dtype: object
id_user    12504
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         16712
12           DEL
Name: 120, dtype: object
id_user    12506
0            DEL
1            DEL
2            DEL
3            DEL
4          12354
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 121, dtype: object
id_user    12507
0            DEL
1            DEL
2          15615
3            DEL
4            DEL
5            DEL
6            DEL
7          16912
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 122, dtype: object
id_user    12507
0            DEL
1            DEL
2          15615
3            DEL
4            DEL
5            DEL
6            DEL
7          16912
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 122, dtype: object
id_user    12508
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         15271
12           DEL
Name: 123, dtype: object
id_user    12509
0            DEL
1            DEL
2          17027
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 124, dtype: object
id_user    12510
0            DEL
1          16814
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          13571
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 125, dtype: object
id_user    12510
0            DEL
1          16814
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          13571
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 125, dtype: object
id_user    12512
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         16440
11           DEL
12           DEL

id_user    12539
0            DEL
1          14709
2            DEL
3          14530
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14034
12           DEL
Name: 149, dtype: object
id_user    12540
0          17293
1          15518
2          16110
3          12540
4            DEL
5          12540
6          14312
7          13814
8          16340
9          15763
10         15140
11         17758
12           DEL
Name: 150, dtype: object
id_user    12540
0          17293
1          15518
2          16110
3          12540
4            DEL
5          12540
6          14312
7          13814
8          16340
9          15763
10         15140
11         17758
12           DEL
Name: 150, dtype: object
id_user    12540
0          17293
1          15518
2          16110
3          12540
4            DEL
5          12540
6          14312
7          13814
8          16340
9          15763
10         15140
11         17758
12           DEL
Name: 150, dtype: object
id_user    12540
0          17293
1          15518
2          16110
3          12540
4            DEL
5          12540
6          14312
7          13814
8          16340
9          15763
10         15140
11         17758
12           DEL
Name: 150, dtype: object
id_user    12540
0          17293
1          15518
2          16110
3          12540
4            DEL
5          12540
6          14312
7          13814
8          16340
9          15763
10         15140
11         17758
12           DEL
Name: 150, dtype: object
id_user    12540
0          17293
1          15518
2          16110
3          12540
4            DEL
5          12540
6          14312
7          13814
8          16340
9          15763
10         15140
11         17758
12           DEL
Name: 150, dtype: object
id_user    12540
0          17293
1          15518
2          16110
3          12540
4            DEL
5          12540
6          14312
7          13814
8          16340
9          15763
10         15140
11         17758
12           DEL
Name: 150, dtype: object
id_user    12540
0          17293
1          15518
2          16110
3          12540
4            DEL
5          12540
6          14312
7          13814
8          16340
9          15763
10         15140
11         17758
12           DEL
Name: 150, dtype: object
id_user    12540
0          17293
1          15518
2          16110
3          12540
4            DEL
5          12540
6          14312
7          13814
8          16340
9          15763
10         15140
11         17758
12           DEL
Name: 150, dtype: object
id_user    12540
0          17293
1          15518
2          16110
3          12540
4            DEL
5          12540
6          14312
7          13814
8          16340
9          15763
10         15140
11         17758
12           DEL
Name: 150, dtype: object
id_user    12540
0          17293
1          15518
2          16110
3          12540
4            DEL
5          12540
6          14312
7          13814
8          16340
9          15763
10         15140
11         17758
12           DEL
Name: 150, dtype: object
id_user    12541
0            DEL
1            DEL
2            DEL
3          14670
4            DEL
5            DEL
6          16744
7            DEL
8            DEL
9            DEL
10           DEL
11         16903
12           DEL
Name: 151, dtype: object
id_user    12541
0            DEL
1            DEL
2            DEL
3          14670
4            DEL
5            DEL
6          16744
7            DEL
8            DEL
9            DEL
10           DEL
11         16903
12           DEL
Name: 151, dtype: object
id_user    12541
0            DEL
1            DEL
2            DEL
3          14670
4            DEL
5            DEL
6          16744
7            DEL
8            DEL
9            DEL
10           DEL
11         16903
12           DEL
Name: 151, dtype: object
id_user    12544
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14098
12           DEL
Name: 152, dtype: object
id_user    12545
0            DEL
1            DEL
2            DEL
3          17979
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          15429
10           DEL
11           DEL
12           DEL
Name: 153, dtype: object
id_user    12545
0            DEL
1            DEL
2            DEL
3          17979
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          15429
10           DEL
11           DEL
12           DEL
Name: 153, dtype: object
id_user    12546
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          16978
10         16728
11           DEL
12           DEL
Name: 154, dtype: object
id_user    12546
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          16978
10         16728
11           DEL
12           DEL
Name: 154, dtype: object
id_user    12547
0            DEL
1            DEL
2            DEL
3          14670
4            DEL
5          15852
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 155, dtype: object
id_user    12547
0            DEL
1            DEL
2            DEL
3          14670
4            DEL
5          15852
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 155, dtype: object
id_user    12548
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          16728
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 156, dtype: object
id_user    12550
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          17731
10           DEL
11           DEL
12           DEL
Name: 157, dtype: object
id_user    12551
0          13033
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 158, dtype: object
id_user    12552
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         13982
11         14562
12           DEL
Name: 159, dtype: object
id_user    12552
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         13982
11         14562
12           DEL
Name: 159, dtype: object
id_user    12553
0            DEL
1          14329
2          13397
3          17979
4            DEL
5          12553
6            DEL
7          14680
8          15984
9            DEL
10         14834
11         14684
12         17566
Name: 160, dtype: object
id_user    12553
0            DEL
1          14329
2          13397
3          17979
4            DEL
5          12553
6            DEL
7          14680
8          15984
9            DEL
10         14834
11         14684
12         17566
Name: 160, dtype: object
id_user    12553
0            DEL
1          14329
2          13397
3          17979
4            DEL
5          12553
6            DEL
7          14680
8          15984
9            DEL
10         14834
11         14684
12         17566
Name: 160, dtype: object
id_user    12553
0            DEL
1          14329
2          13397
3          17979
4            DEL
5          12553
6            DEL
7          14680
8          15984
9            DEL
10         14834
11         14684
12         17566
Name: 160, dtype: object
id_user    12553
0            DEL
1          14329
2          13397
3          17979
4            DEL
5          12553
6            DEL
7          14680
8          15984
9            DEL
10         14834
11         14684
12         17566
Name: 160, dtype: object
id_user    12553
0            DEL
1          14329
2          13397
3          17979
4            DEL
5          12553
6            DEL
7          14680
8          15984
9            DEL
10         14834
11         14684
12         17566
Name: 160, dtype: object
id_user    12553
0            DEL
1          14329
2          13397
3          17979
4            DEL
5          12553
6            DEL
7          14680
8          15984
9            DEL
10         14834
11         14684
12         17566
Name: 160, dtype: object
id_user    12553
0            DEL
1          14329
2          13397
3          17979
4            DEL
5          12553
6            DEL
7          14680
8          15984
9            DEL
10         14834
11         14684
12         17566
Name: 160, dtype: object
id_user    12553
0            DEL
1          14329
2          13397
3          17979
4            DEL
5          12553
6            DEL
7          14680
8          15984
9            DEL
10         14834
11         14684
12         17566
Name: 160, dtype: object
id_user    12556
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          13767
8            DEL
9            DEL
10         17092
11           DEL
12           DEL
Name: 161, dtype: object
id_user    12556
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          13767
8            DEL
9            DEL
10         17092
11           DEL
12           DEL
Name: 161, dtype: object
id_user    12557
0          12557
1          12557
2            DEL
3          12557
4            DEL
5            DEL
6            DEL
7          12557
8            DEL
9            DEL
10           DEL
11         12557
12           DEL
Name: 162, dtype: object
id_user    12557
0          12557
1          12557
2            DEL
3          12557
4            DEL
5            DEL
6            DEL
7          12557
8            DEL
9            DEL
10           DEL
11         12557
12           DEL
Name: 162, dtype: object
id_user    12557
0          12557
1          12557
2            DEL
3          12557
4            DEL
5            DEL
6            DEL
7          12557
8            DEL
9            DEL
10           DEL
11         12557
12           DEL
Name: 162, dtype: object
id_user    12557
0          12557
1          12557
2            DEL
3          12557
4            DEL
5            DEL
6            DEL
7          12557
8            DEL
9            DEL
10           DEL
11         12557
12           DEL
Name: 162, dtype: object
id_user    12557
0          12557
1          12557
2            DEL
3          12557
4            DEL
5            DEL
6            DEL
7          12557
8            DEL
9            DEL
10           DEL
11         12557
12           DEL
Name: 162, dtype: object
id_user    12558
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12         14031
Name: 163, dtype: object
id_user    12559
0            DEL
1          15078
2          12559
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 164, dtype: object
id_user    12559
0            DEL
1          15078
2          12559
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 164, dtype: object
id_user    12560
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          17419
8          12360
9            DEL
10           DEL
11           DEL
12         17954
Name: 165, dtype: object
id_user    12560
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          17419
8          12360
9            DEL
10           DEL
11           DEL
12         17954
Name: 165, dtype: object
id_user    12560
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          17419
8          12360
9            DEL
10           DEL
11           DEL
12         17954
Name: 165, dtype: object
id_user    12561
0            DEL
1            DEL
2          17686
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 166, dtype: object
id_user    12562
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          14985
6          16359
7            DEL
8          13451
9          14704
10         16081
11         17797
12         14659
Name: 167, dtype: object
id_user    12562
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          14985
6          16359
7            DEL
8          13451
9          14704
10         16081
11         17797
12         14659
Name: 167, dtype: object
id_user    12562
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          14985
6          16359
7            DEL
8          13451
9          14704
10         16081
11         17797
12         14659
Name: 167, dtype: object
id_user    12562
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          14985
6          16359
7            DEL
8          13451
9          14704
10         16081
11         17797
12         14659
Name: 167, dtype: object
id_user    12562
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          14985
6          16359
7            DEL
8          13451
9          14704
10         16081
11         17797
12         14659
Name: 167, dtype: object
id_user    12562
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          14985
6          16359
7            DEL
8          13451
9          14704
10         16081
11         17797
12         14659
Name: 167, dtype: object
id_user    12562
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          14985
6          16359
7            DEL
8          13451
9          14704
10         16081
11         17797
12         14659
Name: 167, dtype: object
id_user    12564
0            DEL
1            DEL
2            DEL
3          15021
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 168, dtype: object
id_user    12565
0            DEL
1            DEL
2          17613
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 169, dtype: object
id_user    12566
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          15933
10           DEL
11           DEL
12           DEL
Name: 170, dtype: object
id_user    12567
0          14176
1            DEL
2          12567
3            DEL
4            DEL
5          14711
6          12567
7            DEL
8          12567
9          12851
10           DEL
11         17095
12           DEL
Name: 171, dtype: object
id_user    12567
0          14176
1            DEL
2          12567
3            DEL
4            DEL
5          14711
6          12567
7            DEL
8          12567
9          12851
10           DEL
11         17095
12           DEL
Name: 171, dtype: object
id_user    12567
0          14176
1            DEL
2          12567
3            DEL
4            DEL
5          14711
6          12567
7            DEL
8          12567
9          12851
10           DEL
11         17095
12           DEL
Name: 171, dtype: object
id_user    12567
0          14176
1            DEL
2          12567
3            DEL
4            DEL
5          14711
6          12567
7            DEL
8          12567
9          12851
10           DEL
11         17095
12           DEL
Name: 171, dtype: object
id_user    12567
0          14176
1            DEL
2          12567
3            DEL
4            DEL
5          14711
6          12567
7            DEL
8          12567
9          12851
10           DEL
11         17095
12           DEL
Name: 171, dtype: object
id_user    12567
0          14176
1            DEL
2          12567
3            DEL
4            DEL
5          14711
6          12567
7            DEL
8          12567
9          12851
10           DEL
11         17095
12           DEL
Name: 171, dtype: object
id_user    12567
0          14176
1            DEL
2          12567
3            DEL
4            DEL
5          14711
6          12567
7            DEL
8          12567
9          12851
10           DEL
11         17095
12           DEL
Name: 171, dtype: object
id_user    12569
0            DEL
1            DEL
2            DEL
3            DEL
4          14105
5          15021
6          15578
7          17419
8          16340
9          13244
10         16415
11         13448
12         15136
Name: 172, dtype: object
id_user    12569
0            DEL
1            DEL
2            DEL
3            DEL
4          14105
5          15021
6          15578
7          17419
8          16340
9          13244
10         16415
11         13448
12         15136
Name: 172, dtype: object
id_user    12569
0            DEL
1            DEL
2            DEL
3            DEL
4          14105
5          15021
6          15578
7          17419
8          16340
9          13244
10         16415
11         13448
12         15136
Name: 172, dtype: object
id_user    12569
0            DEL
1            DEL
2            DEL
3            DEL
4          14105
5          15021
6          15578
7          17419
8          16340
9          13244
10         16415
11         13448
12         15136
Name: 172, dtype: object
id_user    12569
0            DEL
1            DEL
2            DEL
3            DEL
4          14105
5          15021
6          15578
7          17419
8          16340
9          13244
10         16415
11         13448
12         15136
Name: 172, dtype: object
id_user    12569
0            DEL
1            DEL
2            DEL
3            DEL
4          14105
5          15021
6          15578
7          17419
8          16340
9          13244
10         16415
11         13448
12         15136
Name: 172, dtype: object
id_user    12569
0            DEL
1            DEL
2            DEL
3            DEL
4          14105
5          15021
6          15578
7          17419
8          16340
9          13244
10         16415
11         13448
12         15136
Name: 172, dtype: object
id_user    12569
0            DEL
1            DEL
2            DEL
3            DEL
4          14105
5          15021
6          15578
7          17419
8          16340
9          13244
10         16415
11         13448
12         15136
Name: 172, dtype: object
id_user    12569
0            DEL
1            DEL
2            DEL
3            DEL
4          14105
5          15021
6          15578
7          17419
8          16340
9          13244
10         16415
11         13448
12         15136
Name: 172, dtype: object

id_user    12583
0          15525
1          17284
2          17609
3          17164
4            DEL
5          13831
6          17960
7          14961
8          12841
9          14422
10         17314
11         17450
12         14904
Name: 184, dtype: object
id_user    12583
0          15525
1          17284
2          17609
3          17164
4            DEL
5          13831
6          17960
7          14961
8          12841
9          14422
10         17314
11         17450
12         14904
Name: 184, dtype: object
id_user    12583
0          15525
1          17284
2          17609
3          17164
4            DEL
5          13831
6          17960
7          14961
8          12841
9          14422
10         17314
11         17450
12         14904
Name: 184, dtype: object
id_user    12583
0          15525
1          17284
2          17609
3          17164
4            DEL
5          13831
6          17960
7          14961
8          12841
9          14422
10         17314
11         17450
12         14904
Name: 184, dtype: object
id_user    12583
0          15525
1          17284
2          17609
3          17164
4            DEL
5          13831
6          17960
7          14961
8          12841
9          14422
10         17314
11         17450
12         14904
Name: 184, dtype: object
id_user    12584
0            DEL
1            DEL
2            DEL
3          14670
4            DEL
5            DEL
6          13395
7          16750
8          14535
9          16464
10         13617
11         17073
12         12584
Name: 185, dtype: object
id_user    12584
0            DEL
1            DEL
2            DEL
3          14670
4            DEL
5            DEL
6          13395
7          16750
8          14535
9          16464
10         13617
11         17073
12         12584
Name: 185, dtype: object
id_user    12584
0            DEL
1            DEL
2            DEL
3          14670
4            DEL
5            DEL
6          13395
7          16750
8          14535
9          16464
10         13617
11         17073
12         12584
Name: 185, dtype: object
id_user    12584
0            DEL
1            DEL
2            DEL
3          14670
4            DEL
5            DEL
6          13395
7          16750
8          14535
9          16464
10         13617
11         17073
12         12584
Name: 185, dtype: object
id_user    12584
0            DEL
1            DEL
2            DEL
3          14670
4            DEL
5            DEL
6          13395
7          16750
8          14535
9          16464
10         13617
11         17073
12         12584
Name: 185, dtype: object
id_user    12584
0            DEL
1            DEL
2            DEL
3          14670
4            DEL
5            DEL
6          13395
7          16750
8          14535
9          16464
10         13617
11         17073
12         12584
Name: 185, dtype: object
id_user    12584
0            DEL
1            DEL
2            DEL
3          14670
4            DEL
5            DEL
6          13395
7          16750
8          14535
9          16464
10         13617
11         17073
12         12584
Name: 185, dtype: object
id_user    12584
0            DEL
1            DEL
2            DEL
3          14670
4            DEL
5            DEL
6          13395
7          16750
8          14535
9          16464
10         13617
11         17073
12         12584
Name: 185, dtype: object
id_user    12585
0          14085
1            DEL
2            DEL
3            DEL
4          16919
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 186, dtype: object
id_user    12585
0          14085
1            DEL
2            DEL
3            DEL
4          16919
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 186, dtype: object
id_user    12586
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         18139
12           DEL
Name: 187, dtype: object
id_user    12588
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         13982
11           DEL
12           DEL
Name: 188, dtype: object
id_user    12589
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          13764
8            DEL
9            DEL
10           DEL
11         12589
12           DEL
Name: 189, dtype: object
id_user    12589
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          13764
8            DEL
9            DEL
10           DEL
11         12589
12           DEL
Name: 189, dtype: object
id_user    12590
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          17970
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 190, dtype: object
id_user    12591
0            DEL
1          15867
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 191, dtype: object
id_user    12592
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          14591
6            DEL
7            DEL
8            DEL
9          13244
10           DEL
11           DEL
12           DEL
Name: 192, dtype: object
id_user    12592
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          14591
6            DEL
7            DEL
8            DEL
9          13244
10           DEL
11           DEL
12           DEL
Name: 192, dtype: object
id_user    12593
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          14099
6            DEL
7            DEL
8          12621
9            DEL
10           DEL
11           DEL
12           DEL
Name: 193, dtype: object
id_user    12593
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          14099
6            DEL
7            DEL
8          12621
9            DEL
10           DEL
11           DEL
12           DEL
Name: 193, dtype: object
id_user    12594
0            DEL
1          17504
2          13932
3          17917
4          15140
5          13549
6          13265
7            DEL
8          15494
9            DEL
10         16728
11         12779
12           DEL
Name: 194, dtype: object
id_user    12594
0            DEL
1          17504
2          13932
3          17917
4          15140
5          13549
6          13265
7            DEL
8          15494
9            DEL
10         16728
11         12779
12           DEL
Name: 194, dtype: object
id_user    12594
0            DEL
1          17504
2          13932
3          17917
4          15140
5          13549
6          13265
7            DEL
8          15494
9            DEL
10         16728
11         12779
12           DEL
Name: 194, dtype: object
id_user    12594
0            DEL
1          17504
2          13932
3          17917
4          15140
5          13549
6          13265
7            DEL
8          15494
9            DEL
10         16728
11         12779
12           DEL
Name: 194, dtype: object
id_user    12594
0            DEL
1          17504
2          13932
3          17917
4          15140
5          13549
6          13265
7            DEL
8          15494
9            DEL
10         16728
11         12779
12           DEL
Name: 194, dtype: object
id_user    12594
0            DEL
1          17504
2          13932
3          17917
4          15140
5          13549
6          13265
7            DEL
8          15494
9            DEL
10         16728
11         12779
12           DEL
Name: 194, dtype: object
id_user    12594
0            DEL
1          17504
2          13932
3          17917
4          15140
5          13549
6          13265
7            DEL
8          15494
9            DEL
10         16728
11         12779
12           DEL
Name: 194, dtype: object
id_user    12594
0            DEL
1          17504
2          13932
3          17917
4          15140
5          13549
6          13265
7            DEL
8          15494
9            DEL
10         16728
11         12779
12           DEL
Name: 194, dtype: object
id_user    12594
0            DEL
1          17504
2          13932
3          17917
4          15140
5          13549
6          13265
7            DEL
8          15494
9            DEL
10         16728
11         12779
12           DEL
Name: 194, dtype: object
id_user    12596
0            DEL
1            DEL
2            DEL
3            DEL
4          13634
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         16621
11           DEL
12           DEL
Name: 195, dtype: object
id_user    12596
0            DEL
1            DEL
2            DEL
3            DEL
4          13634
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         16621
11           DEL
12           DEL
Name: 195, dtype: object
id_user    12597
0            DEL
1            DEL
2            DEL
3          17504
4            DEL
5            DEL
6          13397
7            DEL
8            DEL
9            DEL
10         15521
11         18127
12           DEL
Name: 196, dtype: object
id_user    12597
0            DEL
1            DEL
2            DEL
3          17504
4            DEL
5            DEL
6          13397
7            DEL
8            DEL
9            DEL
10         15521
11         18127
12           DEL
Name: 196, dtype: object
id_user    12597
0            DEL
1            DEL
2            DEL
3          17504
4            DEL
5            DEL
6          13397
7            DEL
8            DEL
9            DEL
10         15521
11         18127
12           DEL
Name: 196, dtype: object
id_user    12597
0            DEL
1            DEL
2            DEL
3          17504
4            DEL
5            DEL
6          13397
7            DEL
8            DEL
9            DEL
10         15521
11         18127
12           DEL
Name: 196, dtype: object
id_user    12598
0            DEL
1            DEL
2          16992
3            DEL
4            DEL
5          15620
6            DEL
7          15483
8            DEL
9          12703
10           DEL
11         12528
12           DEL
Name: 197, dtype: object
id_user    12598
0            DEL
1            DEL
2          16992
3            DEL
4            DEL
5          15620
6            DEL
7          15483
8            DEL
9          12703
10           DEL
11         12528
12           DEL
Name: 197, dtype: object
id_user    12598
0            DEL
1            DEL
2          16992
3            DEL
4            DEL
5          15620
6            DEL
7          15483
8            DEL
9          12703
10           DEL
11         12528
12           DEL
Name: 197, dtype: object
id_user    12598
0            DEL
1            DEL
2          16992
3            DEL
4            DEL
5          15620
6            DEL
7          15483
8            DEL
9          12703
10           DEL
11         12528
12           DEL
Name: 197, dtype: object
id_user    12598
0            DEL
1            DEL
2          16992
3            DEL
4            DEL
5          15620
6            DEL
7          15483
8            DEL
9          12703
10           DEL
11         12528
12           DEL
Name: 197, dtype: object
id_user    12599
0            DEL
1            DEL
2          14157
3            DEL
4            DEL
5          15854
6          17965
7          14552
8          17377
9            DEL
10           DEL
11         12844
12           DEL
Name: 198, dtype: object
id_user    12599
0            DEL
1            DEL
2          14157
3            DEL
4            DEL
5          15854
6          17965
7          14552
8          17377
9            DEL
10           DEL
11         12844
12           DEL
Name: 198, dtype: object
id_user    12599
0            DEL
1            DEL
2          14157
3            DEL
4            DEL
5          15854
6          17965
7          14552
8          17377
9            DEL
10           DEL
11         12844
12           DEL
Name: 198, dtype: object
id_user    12599
0            DEL
1            DEL
2          14157
3            DEL
4            DEL
5          15854
6          17965
7          14552
8          17377
9            DEL
10           DEL
11         12844
12           DEL
Name: 198, dtype: object
id_user    12599
0            DEL
1            DEL
2          14157
3            DEL
4            DEL
5          15854
6          17965
7          14552
8          17377
9            DEL
10           DEL
11         12844
12           DEL
Name: 198, dtype: object
id_user    12599
0            DEL
1            DEL
2          14157
3            DEL
4            DEL
5          15854
6          17965
7          14552
8          17377
9            DEL
10           DEL
11         12844
12           DEL
Name: 198, dtype: object
id_user    12600
0          12709
1            DEL
2          12600
3          14071
4          13725
5          12600
6            DEL
7          16054
8          15396
9          13268
10           DEL
11         12589
12           DEL
Name: 199, dtype: object
id_user    12600
0          12709
1            DEL
2          12600
3          14071
4          13725
5          12600
6            DEL
7          16054
8          15396
9          13268
10           DEL
11         12589
12           DEL
Name: 199, dtype: object
id_user    12600
0          12709
1            DEL
2          12600
3          14071
4          13725
5          12600
6            DEL
7          16054
8          15396
9          13268
10           DEL
11         12589
12           DEL
Name: 199, dtype: object
id_user    12600
0          12709
1            DEL
2          12600
3          14071
4          13725
5          12600
6            DEL
7          16054
8          15396
9          13268
10           DEL
11         12589
12           DEL
Name: 199, dtype: object
id_user    12600
0          12709
1            DEL
2          12600
3          14071
4          13725
5          12600
6            DEL
7          16054
8          15396
9          13268
10           DEL
11         12589
12           DEL
Name: 199, dtype: object
id_user    12600
0          12709
1            DEL
2          12600
3          14071
4          13725
5          12600
6            DEL
7          16054
8          15396
9          13268
10           DEL
11         12589
12           DEL
Name: 199, dtype: object
id_user    12600
0          12709
1            DEL
2          12600
3          14071
4          13725
5          12600
6            DEL
7          16054
8          15396
9          13268
10           DEL
11         12589
12           DEL
Name: 199, dtype: object
id_user    12600
0          12709
1            DEL
2          12600
3          14071
4          13725
5          12600
6            DEL
7          16054
8          15396
9          13268
10           DEL
11         12589
12           DEL
Name: 199, dtype: object
id_user    12600
0          12709
1            DEL
2          12600
3          14071
4          13725
5          12600
6            DEL
7          16054
8          15396
9          13268
10           DEL
11         12589
12           DEL
Name: 199, dtype: object
id_user    12601
0            DEL
1          16791
2          16725
3          17365
4            DEL
5          16813
6          15812
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 200, dtype: object
id_user    12601
0            DEL
1          16791
2          16725
3          17365
4            DEL
5          16813
6          15812
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 200, dtype: object
id_user    12601
0            DEL
1          16791
2          16725
3          17365
4            DEL
5          16813
6          15812
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 200, dtype: object
id_user    12601
0            DEL
1          16791
2          16725
3          17365
4            DEL
5          16813
6          15812
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 200, dtype: object
id_user    12601
0            DEL
1          16791
2          16725
3          17365
4            DEL
5          16813
6          15812
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 200, dtype: object
id_user    12602
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         13985
11           DEL
12           DEL
Name: 201, dtype: object
id_user    12604
0            DEL
1            DEL
2            DEL
3          17019
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          12604
10           DEL
11           DEL
12           DEL
Name: 202, dtype: object
id_user    12604
0            DEL
1            DEL
2            DEL
3          17019
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          12604
10           DEL
11           DEL
12           DEL
Name: 202, dtype: object
id_user    12607
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         12431
11           DEL
12           DEL
Name: 203, dtype: object
id_user    12609
0            DEL
1          12744
2            DEL
3            DEL
4            DEL
5            DEL
6          17252
7            DEL
8            DEL
9          12854
10           DEL
11           DEL
12           DEL
Name: 204, dtype: object
id_user    12609
0            DEL
1          12744
2            DEL
3            DEL
4            DEL
5            DEL
6          17252
7            DEL
8            DEL
9          12854
10           DEL
11           DEL
12           DEL
Name: 204, dtype: object
id_user    12609
0            DEL
1          12744
2            DEL
3            DEL
4            DEL
5            DEL
6          17252
7            DEL
8            DEL
9          12854
10           DEL
11           DEL
12           DEL
Name: 204, dtype: object
id_user    12610
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          12841
9            DEL
10         15659
11         14704
12           DEL
Name: 205, dtype: object
id_user    12610
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          12841
9            DEL
10         15659
11         14704
12           DEL
Name: 205, dtype: object
id_user    12610
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          12841
9            DEL
10         15659
11         14704
12           DEL
Name: 205, dtype: object
id_user    12611
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         13362
11           DEL
12           DEL
Name: 206, dtype: object

id_user    12637
0            DEL
1          17315
2            DEL
3          12637
4          16933
5            DEL
6            DEL
7          17049
8            DEL
9          12637
10         15502
11           DEL
12           DEL
Name: 228, dtype: object
id_user    12637
0            DEL
1          17315
2            DEL
3          12637
4          16933
5            DEL
6            DEL
7          17049
8            DEL
9          12637
10         15502
11           DEL
12           DEL
Name: 228, dtype: object
id_user    12637
0            DEL
1          17315
2            DEL
3          12637
4          16933
5            DEL
6            DEL
7          17049
8            DEL
9          12637
10         15502
11           DEL
12           DEL
Name: 228, dtype: object
id_user    12637
0            DEL
1          17315
2            DEL
3          12637
4          16933
5            DEL
6            DEL
7          17049
8            DEL
9          12637
10         15502
11           DEL
12           DEL
Name: 228, dtype: object
id_user    12637
0            DEL
1          17315
2            DEL
3          12637
4          16933
5            DEL
6            DEL
7          17049
8            DEL
9          12637
10         15502
11           DEL
12           DEL
Name: 228, dtype: object
id_user    12637
0            DEL
1          17315
2            DEL
3          12637
4          16933
5            DEL
6            DEL
7          17049
8            DEL
9          12637
10         15502
11           DEL
12           DEL
Name: 228, dtype: object
id_user    12638
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         15427
12           DEL
Name: 229, dtype: object
id_user    12639
0            DEL
1            DEL
2            DEL
3            DEL
4          13048
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 230, dtype: object
id_user    12640
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          12640
10           DEL
11         17434
12           DEL
Name: 231, dtype: object
id_user    12640
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          12640
10           DEL
11         17434
12           DEL
Name: 231, dtype: object
id_user    12641
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          16523
9            DEL
10           DEL
11           DEL
12           DEL
Name: 232, dtype: object
id_user    12642
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          16340
9            DEL
10         17571
11         15572
12           DEL
Name: 233, dtype: object
id_user    12642
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          16340
9            DEL
10         17571
11         15572
12           DEL
Name: 233, dtype: object
id_user    12642
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          16340
9            DEL
10         17571
11         15572
12           DEL
Name: 233, dtype: object
id_user    12643
0            DEL
1          12643
2            DEL
3            DEL
4            DEL
5          15620
6          12643
7            DEL
8          16150
9            DEL
10           DEL
11           DEL
12           DEL
Name: 234, dtype: object
id_user    12643
0            DEL
1          12643
2            DEL
3            DEL
4            DEL
5          15620
6          12643
7            DEL
8          16150
9            DEL
10           DEL
11           DEL
12           DEL
Name: 234, dtype: object
id_user    12643
0            DEL
1          12643
2            DEL
3            DEL
4            DEL
5          15620
6          12643
7            DEL
8          16150
9            DEL
10           DEL
11           DEL
12           DEL
Name: 234, dtype: object
id_user    12643
0            DEL
1          12643
2            DEL
3            DEL
4            DEL
5          15620
6          12643
7            DEL
8          16150
9            DEL
10           DEL
11           DEL
12           DEL
Name: 234, dtype: object
id_user    12644
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          14076
9            DEL
10           DEL
11           DEL
12           DEL
Name: 235, dtype: object
id_user    12645
0            DEL
1          17180
2            DEL
3            DEL
4            DEL
5          12836
6            DEL
7            DEL
8          17073
9            DEL
10           DEL
11         16243
12           DEL
Name: 236, dtype: object
id_user    12645
0            DEL
1          17180
2            DEL
3            DEL
4            DEL
5          12836
6            DEL
7            DEL
8          17073
9            DEL
10           DEL
11         16243
12           DEL
Name: 236, dtype: object
id_user    12645
0            DEL
1          17180
2            DEL
3            DEL
4            DEL
5          12836
6            DEL
7            DEL
8          17073
9            DEL
10           DEL
11         16243
12           DEL
Name: 236, dtype: object
id_user    12645
0            DEL
1          17180
2            DEL
3            DEL
4            DEL
5          12836
6            DEL
7            DEL
8          17073
9            DEL
10           DEL
11         16243
12           DEL
Name: 236, dtype: object
id_user    12646
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         17528
11           DEL
12         17006
Name: 237, dtype: object
id_user    12646
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         17528
11           DEL
12         17006
Name: 237, dtype: object
id_user    12647
0          17315
1            DEL
2            DEL
3          14633
4          12356
5          16709
6            DEL
7          13291
8          16928
9          15484
10           DEL
11         17797
12           DEL
Name: 238, dtype: object
id_user    12647
0          17315
1            DEL
2            DEL
3          14633
4          12356
5          16709
6            DEL
7          13291
8          16928
9          15484
10           DEL
11         17797
12           DEL
Name: 238, dtype: object
id_user    12647
0          17315
1            DEL
2            DEL
3          14633
4          12356
5          16709
6            DEL
7          13291
8          16928
9          15484
10           DEL
11         17797
12           DEL
Name: 238, dtype: object
id_user    12647
0          17315
1            DEL
2            DEL
3          14633
4          12356
5          16709
6            DEL
7          13291
8          16928
9          15484
10           DEL
11         17797
12           DEL
Name: 238, dtype: object
id_user    12647
0          17315
1            DEL
2            DEL
3          14633
4          12356
5          16709
6            DEL
7          13291
8          16928
9          15484
10           DEL
11         17797
12           DEL
Name: 238, dtype: object
id_user    12647
0          17315
1            DEL
2            DEL
3          14633
4          12356
5          16709
6            DEL
7          13291
8          16928
9          15484
10           DEL
11         17797
12           DEL
Name: 238, dtype: object
id_user    12647
0          17315
1            DEL
2            DEL
3          14633
4          12356
5          16709
6            DEL
7          13291
8          16928
9          15484
10           DEL
11         17797
12           DEL
Name: 238, dtype: object
id_user    12647
0          17315
1            DEL
2            DEL
3          14633
4          12356
5          16709
6            DEL
7          13291
8          16928
9          15484
10           DEL
11         17797
12           DEL
Name: 238, dtype: object
id_user    12648
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          15920
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 239, dtype: object
id_user    12649
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          14277
6            DEL
7            DEL
8          13411
9            DEL
10           DEL
11           DEL
12           DEL
Name: 240, dtype: object
id_user    12649
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          14277
6            DEL
7            DEL
8          13411
9            DEL
10           DEL
11           DEL
12           DEL
Name: 240, dtype: object
id_user    12650
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12         12749
Name: 241, dtype: object
id_user    12651
0            DEL
1          14472
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 242, dtype: object
id_user    12652
0            DEL
1          12652
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 243, dtype: object
id_user    12653
0            DEL
1            DEL
2          15810
3            DEL
4            DEL
5            DEL
6            DEL
7          16488
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 244, dtype: object
id_user    12653
0            DEL
1            DEL
2          15810
3            DEL
4            DEL
5            DEL
6            DEL
7          16488
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 244, dtype: object
id_user    12654
0            DEL
1            DEL
2          14754
3            DEL
4            DEL
5          15805
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14719
12           DEL
Name: 245, dtype: object
id_user    12654
0            DEL
1            DEL
2          14754
3            DEL
4            DEL
5          15805
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14719
12           DEL
Name: 245, dtype: object
id_user    12654
0            DEL
1            DEL
2          14754
3            DEL
4            DEL
5          15805
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14719
12           DEL
Name: 245, dtype: object
id_user    12656
0            DEL
1            DEL
2            DEL
3            DEL
4          17454
5          13376
6            DEL
7            DEL
8          15480
9          15750
10           DEL
11         17073
12           DEL
Name: 246, dtype: object
id_user    12656
0            DEL
1            DEL
2            DEL
3            DEL
4          17454
5          13376
6            DEL
7            DEL
8          15480
9          15750
10           DEL
11         17073
12           DEL
Name: 246, dtype: object
id_user    12656
0            DEL
1            DEL
2            DEL
3            DEL
4          17454
5          13376
6            DEL
7            DEL
8          15480
9          15750
10           DEL
11         17073
12           DEL
Name: 246, dtype: object
id_user    12656
0            DEL
1            DEL
2            DEL
3            DEL
4          17454
5          13376
6            DEL
7            DEL
8          15480
9          15750
10           DEL
11         17073
12           DEL
Name: 246, dtype: object
id_user    12656
0            DEL
1            DEL
2            DEL
3            DEL
4          17454
5          13376
6            DEL
7            DEL
8          15480
9          15750
10           DEL
11         17073
12           DEL
Name: 246, dtype: object
id_user    12657
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          12380
10         16987
11         17019
12           DEL
Name: 247, dtype: object
id_user    12657
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          12380
10         16987
11         17019
12           DEL
Name: 247, dtype: object
id_user    12657
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          12380
10         16987
11         17019
12           DEL
Name: 247, dtype: object
id_user    12658
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         13823
12           DEL
Name: 248, dtype: object
id_user    12659
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         12844
12           DEL
Name: 249, dtype: object
id_user    12660
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         17379
12           DEL
Name: 250, dtype: object
id_user    12662
0          17908
1            DEL
2          17507
3          16710
4          17362
5            DEL
6          14696
7          17419
8          16340
9            DEL
10         14554
11         16855
12         14446
Name: 251, dtype: object
id_user    12662
0          17908
1            DEL
2          17507
3          16710
4          17362
5            DEL
6          14696
7          17419
8          16340
9            DEL
10         14554
11         16855
12         14446
Name: 251, dtype: object
id_user    12662
0          17908
1            DEL
2          17507
3          16710
4          17362
5            DEL
6          14696
7          17419
8          16340
9            DEL
10         14554
11         16855
12         14446
Name: 251, dtype: object
id_user    12662
0          17908
1            DEL
2          17507
3          16710
4          17362
5            DEL
6          14696
7          17419
8          16340
9            DEL
10         14554
11         16855
12         14446
Name: 251, dtype: object
id_user    12662
0          17908
1            DEL
2          17507
3          16710
4          17362
5            DEL
6          14696
7          17419
8          16340
9            DEL
10         14554
11         16855
12         14446
Name: 251, dtype: object
id_user    12662
0          17908
1            DEL
2          17507
3          16710
4          17362
5            DEL
6          14696
7          17419
8          16340
9            DEL
10         14554
11         16855
12         14446
Name: 251, dtype: object
id_user    12662
0          17908
1            DEL
2          17507
3          16710
4          17362
5            DEL
6          14696
7          17419
8          16340
9            DEL
10         14554
11         16855
12         14446
Name: 251, dtype: object
id_user    12662
0          17908
1            DEL
2          17507
3          16710
4          17362
5            DEL
6          14696
7          17419
8          16340
9            DEL
10         14554
11         16855
12         14446
Name: 251, dtype: object
id_user    12662
0          17908
1            DEL
2          17507
3          16710
4          17362
5            DEL
6          14696
7          17419
8          16340
9            DEL
10         14554
11         16855
12         14446
Name: 251, dtype: object
id_user    12662
0          17908
1            DEL
2          17507
3          16710
4          17362
5            DEL
6          14696
7          17419
8          16340
9            DEL
10         14554
11         16855
12         14446
Name: 251, dtype: object
id_user    12664
0            DEL
1          12664
2            DEL
3            DEL
4          12354
5            DEL
6            DEL
7          12662
8            DEL
9          17961
10         14834
11         14335
12         18122
Name: 252, dtype: object
id_user    12664
0            DEL
1          12664
2            DEL
3            DEL
4          12354
5            DEL
6            DEL
7          12662
8            DEL
9          17961
10         14834
11         14335
12         18122
Name: 252, dtype: object
id_user    12664
0            DEL
1          12664
2            DEL
3            DEL
4          12354
5            DEL
6            DEL
7          12662
8            DEL
9          17961
10         14834
11         14335
12         18122
Name: 252, dtype: object
id_user    12664
0            DEL
1          12664
2            DEL
3            DEL
4          12354
5            DEL
6            DEL
7          12662
8            DEL
9          17961
10         14834
11         14335
12         18122
Name: 252, dtype: object
id_user    12664
0            DEL
1          12664
2            DEL
3            DEL
4          12354
5            DEL
6            DEL
7          12662
8            DEL
9          17961
10         14834
11         14335
12         18122
Name: 252, dtype: object
id_user    12664
0            DEL
1          12664
2            DEL
3            DEL
4          12354
5            DEL
6            DEL
7          12662
8            DEL
9          17961
10         14834
11         14335
12         18122
Name: 252, dtype: object
id_user    12664
0            DEL
1          12664
2            DEL
3            DEL
4          12354
5            DEL
6            DEL
7          12662
8            DEL
9          17961
10         14834
11         14335
12         18122
Name: 252, dtype: object
id_user    12667
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         16607
11           DEL
12           DEL
Name: 253, dtype: object
id_user    12668
0          17243
1          17256
2            DEL
3          12778
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         17379
12           DEL
Name: 254, dtype: object

id_user    12668
0          17243
1          17256
2            DEL
3          12778
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         17379
12           DEL
Name: 254, dtype: object
id_user    12668
0          17243
1          17256
2            DEL
3          12778
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         17379
12           DEL
Name: 254, dtype: object
id_user    12668
0          17243
1          17256
2            DEL
3          12778
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         17379
12           DEL
Name: 254, dtype: object
id_user    12669
0            DEL
1            DEL
2            DEL
3          16245
4          14546
5            DEL
6            DEL
7          12669
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 255, dtype: object
id_user    12669
0            DEL
1            DEL
2            DEL
3          16245
4          14546
5            DEL
6            DEL
7          12669
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 255, dtype: object
id_user    12669
0            DEL
1            DEL
2            DEL
3          16245
4          14546
5            DEL
6            DEL
7          12669
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 255, dtype: object
id_user    12670
0            DEL
1            DEL
2            DEL
3            DEL
4          13267
5          16709
6            DEL
7            DEL
8            DEL
9          14019
10           DEL
11         14349
12           DEL
Name: 256, dtype: object
id_user    12670
0            DEL
1            DEL
2            DEL
3            DEL
4          13267
5          16709
6            DEL
7            DEL
8            DEL
9          14019
10           DEL
11         14349
12           DEL
Name: 256, dtype: object
id_user    12670
0            DEL
1            DEL
2            DEL
3            DEL
4          13267
5          16709
6            DEL
7            DEL
8            DEL
9          14019
10           DEL
11         14349
12           DEL
Name: 256, dtype: object
id_user    12670
0            DEL
1            DEL
2            DEL
3            DEL
4          13267
5          16709
6            DEL
7            DEL
8            DEL
9          14019
10           DEL
11         14349
12           DEL
Name: 256, dtype: object
id_user    12672
0            DEL
1          13385
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 257, dtype: object
id_user    12673
0            DEL
1          14525
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12         13471
Name: 258, dtype: object
id_user    12673
0            DEL
1          14525
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12         13471
Name: 258, dtype: object
id_user    12674
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          13650
6          15750
7            DEL
8            DEL
9          17426
10           DEL
11         12674
12           DEL
Name: 259, dtype: object
id_user    12674
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          13650
6          15750
7            DEL
8            DEL
9          17426
10           DEL
11         12674
12           DEL
Name: 259, dtype: object
id_user    12674
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          13650
6          15750
7            DEL
8            DEL
9          17426
10           DEL
11         12674
12           DEL
Name: 259, dtype: object
id_user    12674
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          13650
6          15750
7            DEL
8            DEL
9          17426
10           DEL
11         12674
12           DEL
Name: 259, dtype: object
id_user    12676
0            DEL
1            DEL
2          17147
3          12676
4            DEL
5            DEL
6          12517
7            DEL
8          16788
9          15034
10           DEL
11         17357
12           DEL
Name: 260, dtype: object
id_user    12676
0            DEL
1            DEL
2          17147
3          12676
4            DEL
5            DEL
6          12517
7            DEL
8          16788
9          15034
10           DEL
11         17357
12           DEL
Name: 260, dtype: object
id_user    12676
0            DEL
1            DEL
2          17147
3          12676
4            DEL
5            DEL
6          12517
7            DEL
8          16788
9          15034
10           DEL
11         17357
12           DEL
Name: 260, dtype: object
id_user    12676
0            DEL
1            DEL
2          17147
3          12676
4            DEL
5            DEL
6          12517
7            DEL
8          16788
9          15034
10           DEL
11         17357
12           DEL
Name: 260, dtype: object
id_user    12676
0            DEL
1            DEL
2          17147
3          12676
4            DEL
5            DEL
6          12517
7            DEL
8          16788
9          15034
10           DEL
11         17357
12           DEL
Name: 260, dtype: object
id_user    12676
0            DEL
1            DEL
2          17147
3          12676
4            DEL
5            DEL
6          12517
7            DEL
8          16788
9          15034
10           DEL
11         17357
12           DEL
Name: 260, dtype: object
id_user    12678
0          15034
1            DEL
2          17027
3          17365
4          14711
5            DEL
6          13576
7          12678
8          12678
9          17243
10         14397
11           DEL
12           DEL
Name: 261, dtype: object
id_user    12678
0          15034
1            DEL
2          17027
3          17365
4          14711
5            DEL
6          13576
7          12678
8          12678
9          17243
10         14397
11           DEL
12           DEL
Name: 261, dtype: object
id_user    12678
0          15034
1            DEL
2          17027
3          17365
4          14711
5            DEL
6          13576
7          12678
8          12678
9          17243
10         14397
11           DEL
12           DEL
Name: 261, dtype: object
id_user    12678
0          15034
1            DEL
2          17027
3          17365
4          14711
5            DEL
6          13576
7          12678
8          12678
9          17243
10         14397
11           DEL
12           DEL
Name: 261, dtype: object
id_user    12678
0          15034
1            DEL
2          17027
3          17365
4          14711
5            DEL
6          13576
7          12678
8          12678
9          17243
10         14397
11           DEL
12           DEL
Name: 261, dtype: object
id_user    12678
0          15034
1            DEL
2          17027
3          17365
4          14711
5            DEL
6          13576
7          12678
8          12678
9          17243
10         14397
11           DEL
12           DEL
Name: 261, dtype: object
id_user    12678
0          15034
1            DEL
2          17027
3          17365
4          14711
5            DEL
6          13576
7          12678
8          12678
9          17243
10         14397
11           DEL
12           DEL
Name: 261, dtype: object
id_user    12678
0          15034
1            DEL
2          17027
3          17365
4          14711
5            DEL
6          13576
7          12678
8          12678
9          17243
10         14397
11           DEL
12           DEL
Name: 261, dtype: object
id_user    12678
0          15034
1            DEL
2          17027
3          17365
4          14711
5            DEL
6          13576
7          12678
8          12678
9          17243
10         14397
11           DEL
12           DEL
Name: 261, dtype: object
id_user    12679
0            DEL
1            DEL
2            DEL
3          12679
4            DEL
5          18223
6            DEL
7            DEL
8            DEL
9          12679
10         12679
11           DEL
12           DEL
Name: 262, dtype: object
id_user    12679
0            DEL
1            DEL
2            DEL
3          12679
4            DEL
5          18223
6            DEL
7            DEL
8            DEL
9          12679
10         12679
11           DEL
12           DEL
Name: 262, dtype: object
id_user    12679
0            DEL
1            DEL
2            DEL
3          12679
4            DEL
5          18223
6            DEL
7            DEL
8            DEL
9          12679
10         12679
11           DEL
12           DEL
Name: 262, dtype: object
id_user    12679
0            DEL
1            DEL
2            DEL
3          12679
4            DEL
5          18223
6            DEL
7            DEL
8            DEL
9          12679
10         12679
11           DEL
12           DEL
Name: 262, dtype: object
id_user    12680
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          15472
9          14419
10           DEL
11           DEL
12         15804
Name: 263, dtype: object
id_user    12680
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          15472
9          14419
10           DEL
11           DEL
12         15804
Name: 263, dtype: object
id_user    12680
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          15472
9          14419
10           DEL
11           DEL
12         15804
Name: 263, dtype: object
id_user    12683
0          17965
1          13769
2            DEL
3          17507
4            DEL
5          17970
6          14587
7            DEL
8          15074
9          14410
10         16474
11           DEL
12         18015
Name: 264, dtype: object
id_user    12683
0          17965
1          13769
2            DEL
3          17507
4            DEL
5          17970
6          14587
7            DEL
8          15074
9          14410
10         16474
11           DEL
12         18015
Name: 264, dtype: object
id_user    12683
0          17965
1          13769
2            DEL
3          17507
4            DEL
5          17970
6          14587
7            DEL
8          15074
9          14410
10         16474
11           DEL
12         18015
Name: 264, dtype: object
id_user    12683
0          17965
1          13769
2            DEL
3          17507
4            DEL
5          17970
6          14587
7            DEL
8          15074
9          14410
10         16474
11           DEL
12         18015
Name: 264, dtype: object
id_user    12683
0          17965
1          13769
2            DEL
3          17507
4            DEL
5          17970
6          14587
7            DEL
8          15074
9          14410
10         16474
11           DEL
12         18015
Name: 264, dtype: object
id_user    12683
0          17965
1          13769
2            DEL
3          17507
4            DEL
5          17970
6          14587
7            DEL
8          15074
9          14410
10         16474
11           DEL
12         18015
Name: 264, dtype: object
id_user    12683
0          17965
1          13769
2            DEL
3          17507
4            DEL
5          17970
6          14587
7            DEL
8          15074
9          14410
10         16474
11           DEL
12         18015
Name: 264, dtype: object
id_user    12683
0          17965
1          13769
2            DEL
3          17507
4            DEL
5          17970
6          14587
7            DEL
8          15074
9          14410
10         16474
11           DEL
12         18015
Name: 264, dtype: object
id_user    12683
0          17965
1          13769
2            DEL
3          17507
4            DEL
5          17970
6          14587
7            DEL
8          15074
9          14410
10         16474
11           DEL
12         18015
Name: 264, dtype: object
id_user    12684
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          14584
6          15750
7            DEL
8            DEL
9            DEL
10         12856
11         16361
12         12970
Name: 265, dtype: object
id_user    12684
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          14584
6          15750
7            DEL
8            DEL
9            DEL
10         12856
11         16361
12         12970
Name: 265, dtype: object
id_user    12684
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          14584
6          15750
7            DEL
8            DEL
9            DEL
10         12856
11         16361
12         12970
Name: 265, dtype: object
id_user    12684
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          14584
6          15750
7            DEL
8            DEL
9            DEL
10         12856
11         16361
12         12970
Name: 265, dtype: object
id_user    12684
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          14584
6          15750
7            DEL
8            DEL
9            DEL
10         12856
11         16361
12         12970
Name: 265, dtype: object
id_user    12685
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          16594
10         14704
11         12589
12           DEL
Name: 266, dtype: object
id_user    12685
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          16594
10         14704
11         12589
12           DEL
Name: 266, dtype: object
id_user    12685
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          16594
10         14704
11         12589
12           DEL
Name: 266, dtype: object
id_user    12686
0          17967
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 267, dtype: object
id_user    12688
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          16767
9            DEL
10           DEL
11           DEL
12           DEL
Name: 268, dtype: object
id_user    12689
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          14713
9            DEL
10           DEL
11         12553
12           DEL
Name: 269, dtype: object
id_user    12689
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          14713
9            DEL
10           DEL
11         12553
12           DEL
Name: 269, dtype: object
id_user    12690
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          13767
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 270, dtype: object
id_user    12691
0          17315
1          13168
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          17571
8            DEL
9            DEL
10         15831
11         17052
12           DEL
Name: 271, dtype: object
id_user    12691
0          17315
1          13168
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          17571
8            DEL
9            DEL
10         15831
11         17052
12           DEL
Name: 271, dtype: object
id_user    12691
0          17315
1          13168
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          17571
8            DEL
9            DEL
10         15831
11         17052
12           DEL
Name: 271, dtype: object
id_user    12691
0          17315
1          13168
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          17571
8            DEL
9            DEL
10         15831
11         17052
12           DEL
Name: 271, dtype: object
id_user    12691
0          17315
1          13168
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          17571
8            DEL
9            DEL
10         15831
11         17052
12           DEL
Name: 271, dtype: object
id_user    12693
0            DEL
1          15078
2            DEL
3          16710
4            DEL
5          17315
6            DEL
7            DEL
8          14713
9            DEL
10           DEL
11           DEL
12           DEL
Name: 272, dtype: object
id_user    12693
0            DEL
1          15078
2            DEL
3          16710
4            DEL
5          17315
6            DEL
7            DEL
8          14713
9            DEL
10           DEL
11           DEL
12           DEL
Name: 272, dtype: object
id_user    12693
0            DEL
1          15078
2            DEL
3          16710
4            DEL
5          17315
6            DEL
7            DEL
8          14713
9            DEL
10           DEL
11           DEL
12           DEL
Name: 272, dtype: object
id_user    12693
0            DEL
1          15078
2            DEL
3          16710
4            DEL
5          17315
6            DEL
7            DEL
8          14713
9            DEL
10           DEL
11           DEL
12           DEL
Name: 272, dtype: object
id_user    12694
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          16113
7            DEL
8            DEL
9          15034
10           DEL
11           DEL
12           DEL
Name: 273, dtype: object
id_user    12694
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          16113
7            DEL
8            DEL
9          15034
10           DEL
11           DEL
12           DEL
Name: 273, dtype: object
id_user    12695
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          14291
6            DEL
7            DEL
8          12971
9            DEL
10         12747
11           DEL
12         18055
Name: 274, dtype: object
id_user    12695
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          14291
6            DEL
7            DEL
8          12971
9            DEL
10         12747
11           DEL
12         18055
Name: 274, dtype: object
id_user    12695
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          14291
6            DEL
7            DEL
8          12971
9            DEL
10         12747
11           DEL
12         18055
Name: 274, dtype: object
id_user    12695
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          14291
6            DEL
7            DEL
8          12971
9            DEL
10         12747
11           DEL
12         18055
Name: 274, dtype: object

id_user    12708
0          13155
1          13385
2            DEL
3          15834
4          12354
5          13831
6          13761
7            DEL
8          14108
9          13901
10           DEL
11         17416
12           DEL
Name: 283, dtype: object
id_user    12708
0          13155
1          13385
2            DEL
3          15834
4          12354
5          13831
6          13761
7            DEL
8          14108
9          13901
10           DEL
11         17416
12           DEL
Name: 283, dtype: object
id_user    12708
0          13155
1          13385
2            DEL
3          15834
4          12354
5          13831
6          13761
7            DEL
8          14108
9          13901
10           DEL
11         17416
12           DEL
Name: 283, dtype: object
id_user    12708
0          13155
1          13385
2            DEL
3          15834
4          12354
5          13831
6          13761
7            DEL
8          14108
9          13901
10           DEL
11         17416
12           DEL
Name: 283, dtype: object
id_user    12709
0          12621
1          12971
2            DEL
3          15373
4          18198
5          18170
6          12517
7          14680
8            DEL
9          13985
10         15707
11         14277
12           DEL
Name: 284, dtype: object
id_user    12709
0          12621
1          12971
2            DEL
3          15373
4          18198
5          18170
6          12517
7          14680
8            DEL
9          13985
10         15707
11         14277
12           DEL
Name: 284, dtype: object
id_user    12709
0          12621
1          12971
2            DEL
3          15373
4          18198
5          18170
6          12517
7          14680
8            DEL
9          13985
10         15707
11         14277
12           DEL
Name: 284, dtype: object
id_user    12709
0          12621
1          12971
2            DEL
3          15373
4          18198
5          18170
6          12517
7          14680
8            DEL
9          13985
10         15707
11         14277
12           DEL
Name: 284, dtype: object
id_user    12709
0          12621
1          12971
2            DEL
3          15373
4          18198
5          18170
6          12517
7          14680
8            DEL
9          13985
10         15707
11         14277
12           DEL
Name: 284, dtype: object
id_user    12709
0          12621
1          12971
2            DEL
3          15373
4          18198
5          18170
6          12517
7          14680
8            DEL
9          13985
10         15707
11         14277
12           DEL
Name: 284, dtype: object
id_user    12709
0          12621
1          12971
2            DEL
3          15373
4          18198
5          18170
6          12517
7          14680
8            DEL
9          13985
10         15707
11         14277
12           DEL
Name: 284, dtype: object
id_user    12709
0          12621
1          12971
2            DEL
3          15373
4          18198
5          18170
6          12517
7          14680
8            DEL
9          13985
10         15707
11         14277
12           DEL
Name: 284, dtype: object
id_user    12709
0          12621
1          12971
2            DEL
3          15373
4          18198
5          18170
6          12517
7          14680
8            DEL
9          13985
10         15707
11         14277
12           DEL
Name: 284, dtype: object
id_user    12709
0          12621
1          12971
2            DEL
3          15373
4          18198
5          18170
6          12517
7          14680
8            DEL
9          13985
10         15707
11         14277
12           DEL
Name: 284, dtype: object
id_user    12710
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          12705
6            DEL
7          15483
8            DEL
9          14965
10           DEL
11           DEL
12           DEL
Name: 285, dtype: object
id_user    12710
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          12705
6            DEL
7          15483
8            DEL
9          14965
10           DEL
11           DEL
12           DEL
Name: 285, dtype: object
id_user    12710
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          12705
6            DEL
7          15483
8            DEL
9          14965
10           DEL
11           DEL
12           DEL
Name: 285, dtype: object
id_user    12712
0          13982
1          14587
2          17884
3          16383
4            DEL
5          13339
6          13533
7          15301
8          12841
9            DEL
10         17832
11         14178
12           DEL
Name: 286, dtype: object
id_user    12712
0          13982
1          14587
2          17884
3          16383
4            DEL
5          13339
6          13533
7          15301
8          12841
9            DEL
10         17832
11         14178
12           DEL
Name: 286, dtype: object
id_user    12712
0          13982
1          14587
2          17884
3          16383
4            DEL
5          13339
6          13533
7          15301
8          12841
9            DEL
10         17832
11         14178
12           DEL
Name: 286, dtype: object
id_user    12712
0          13982
1          14587
2          17884
3          16383
4            DEL
5          13339
6          13533
7          15301
8          12841
9            DEL
10         17832
11         14178
12           DEL
Name: 286, dtype: object
id_user    12712
0          13982
1          14587
2          17884
3          16383
4            DEL
5          13339
6          13533
7          15301
8          12841
9            DEL
10         17832
11         14178
12           DEL
Name: 286, dtype: object
id_user    12712
0          13982
1          14587
2          17884
3          16383
4            DEL
5          13339
6          13533
7          15301
8          12841
9            DEL
10         17832
11         14178
12           DEL
Name: 286, dtype: object
id_user    12712
0          13982
1          14587
2          17884
3          16383
4            DEL
5          13339
6          13533
7          15301
8          12841
9            DEL
10         17832
11         14178
12           DEL
Name: 286, dtype: object
id_user    12712
0          13982
1          14587
2          17884
3          16383
4            DEL
5          13339
6          13533
7          15301
8          12841
9            DEL
10         17832
11         14178
12           DEL
Name: 286, dtype: object
id_user    12712
0          13982
1          14587
2          17884
3          16383
4            DEL
5          13339
6          13533
7          15301
8          12841
9            DEL
10         17832
11         14178
12           DEL
Name: 286, dtype: object
id_user    12712
0          13982
1          14587
2          17884
3          16383
4            DEL
5          13339
6          13533
7          15301
8          12841
9            DEL
10         17832
11         14178
12           DEL
Name: 286, dtype: object
id_user    12713
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12         12423
Name: 287, dtype: object
id_user    12714
0            DEL
1            DEL
2          16726
3            DEL
4            DEL
5          18043
6          16342
7            DEL
8          17189
9            DEL
10           DEL
11         14755
12           DEL
Name: 288, dtype: object
id_user    12714
0            DEL
1            DEL
2          16726
3            DEL
4            DEL
5          18043
6          16342
7            DEL
8          17189
9            DEL
10           DEL
11         14755
12           DEL
Name: 288, dtype: object
id_user    12714
0            DEL
1            DEL
2          16726
3            DEL
4            DEL
5          18043
6          16342
7            DEL
8          17189
9            DEL
10           DEL
11         14755
12           DEL
Name: 288, dtype: object
id_user    12714
0            DEL
1            DEL
2          16726
3            DEL
4            DEL
5          18043
6          16342
7            DEL
8          17189
9            DEL
10           DEL
11         14755
12           DEL
Name: 288, dtype: object
id_user    12714
0            DEL
1            DEL
2          16726
3            DEL
4            DEL
5          18043
6          16342
7            DEL
8          17189
9            DEL
10           DEL
11         14755
12           DEL
Name: 288, dtype: object
id_user    12715
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          15290
9            DEL
10           DEL
11           DEL
12           DEL
Name: 289, dtype: object
id_user    12716
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          16775
8            DEL
9            DEL
10           DEL
11           DEL
12         16016
Name: 290, dtype: object
id_user    12716
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          16775
8            DEL
9            DEL
10           DEL
11           DEL
12         16016
Name: 290, dtype: object
id_user    12717
0            DEL
1            DEL
2            DEL
3            DEL
4          14246
5            DEL
6            DEL
7          12556
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 291, dtype: object
id_user    12717
0            DEL
1            DEL
2            DEL
3            DEL
4          14246
5            DEL
6            DEL
7          12556
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 291, dtype: object
id_user    12718
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          12703
10           DEL
11           DEL
12           DEL
Name: 292, dtype: object
id_user    12719
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         15953
11           DEL
12         13471
Name: 293, dtype: object
id_user    12719
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         15953
11           DEL
12         13471
Name: 293, dtype: object
id_user    12720
0          15570
1          17619
2          17537
3          14530
4          13846
5          12720
6          17799
7          12720
8          14903
9          14211
10         15752
11         14756
12         16426
Name: 294, dtype: object
id_user    12720
0          15570
1          17619
2          17537
3          14530
4          13846
5          12720
6          17799
7          12720
8          14903
9          14211
10         15752
11         14756
12         16426
Name: 294, dtype: object
id_user    12720
0          15570
1          17619
2          17537
3          14530
4          13846
5          12720
6          17799
7          12720
8          14903
9          14211
10         15752
11         14756
12         16426
Name: 294, dtype: object
id_user    12720
0          15570
1          17619
2          17537
3          14530
4          13846
5          12720
6          17799
7          12720
8          14903
9          14211
10         15752
11         14756
12         16426
Name: 294, dtype: object
id_user    12720
0          15570
1          17619
2          17537
3          14530
4          13846
5          12720
6          17799
7          12720
8          14903
9          14211
10         15752
11         14756
12         16426
Name: 294, dtype: object
id_user    12720
0          15570
1          17619
2          17537
3          14530
4          13846
5          12720
6          17799
7          12720
8          14903
9          14211
10         15752
11         14756
12         16426
Name: 294, dtype: object
id_user    12720
0          15570
1          17619
2          17537
3          14530
4          13846
5          12720
6          17799
7          12720
8          14903
9          14211
10         15752
11         14756
12         16426
Name: 294, dtype: object
id_user    12720
0          15570
1          17619
2          17537
3          14530
4          13846
5          12720
6          17799
7          12720
8          14903
9          14211
10         15752
11         14756
12         16426
Name: 294, dtype: object
id_user    12720
0          15570
1          17619
2          17537
3          14530
4          13846
5          12720
6          17799
7          12720
8          14903
9          14211
10         15752
11         14756
12         16426
Name: 294, dtype: object
id_user    12720
0          15570
1          17619
2          17537
3          14530
4          13846
5          12720
6          17799
7          12720
8          14903
9          14211
10         15752
11         14756
12         16426
Name: 294, dtype: object
id_user    12720
0          15570
1          17619
2          17537
3          14530
4          13846
5          12720
6          17799
7          12720
8          14903
9          14211
10         15752
11         14756
12         16426
Name: 294, dtype: object
id_user    12720
0          15570
1          17619
2          17537
3          14530
4          13846
5          12720
6          17799
7          12720
8          14903
9          14211
10         15752
11         14756
12         16426
Name: 294, dtype: object
id_user    12720
0          15570
1          17619
2          17537
3          14530
4          13846
5          12720
6          17799
7          12720
8          14903
9          14211
10         15752
11         14756
12         16426
Name: 294, dtype: object
id_user    12721
0          15460
1            DEL
2          17358
3            DEL
4          15530
5            DEL
6          18041
7            DEL
8            DEL
9          13959
10           DEL
11         15249
12           DEL
Name: 295, dtype: object
id_user    12721
0          15460
1            DEL
2          17358
3            DEL
4          15530
5            DEL
6          18041
7            DEL
8            DEL
9          13959
10           DEL
11         15249
12           DEL
Name: 295, dtype: object
id_user    12721
0          15460
1            DEL
2          17358
3            DEL
4          15530
5            DEL
6          18041
7            DEL
8            DEL
9          13959
10           DEL
11         15249
12           DEL
Name: 295, dtype: object
id_user    12721
0          15460
1            DEL
2          17358
3            DEL
4          15530
5            DEL
6          18041
7            DEL
8            DEL
9          13959
10           DEL
11         15249
12           DEL
Name: 295, dtype: object
id_user    12721
0          15460
1            DEL
2          17358
3            DEL
4          15530
5            DEL
6          18041
7            DEL
8            DEL
9          13959
10           DEL
11         15249
12           DEL
Name: 295, dtype: object
id_user    12721
0          15460
1            DEL
2          17358
3            DEL
4          15530
5            DEL
6          18041
7            DEL
8            DEL
9          13959
10           DEL
11         15249
12           DEL
Name: 295, dtype: object
id_user    12722
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          15051
8          12949
9          15322
10           DEL
11           DEL
12           DEL
Name: 296, dtype: object
id_user    12722
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          15051
8          12949
9          15322
10           DEL
11           DEL
12           DEL
Name: 296, dtype: object
id_user    12722
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          15051
8          12949
9          15322
10           DEL
11           DEL
12           DEL
Name: 296, dtype: object
id_user    12723
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         15953
11         14205
12         15907
Name: 297, dtype: object
id_user    12723
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         15953
11         14205
12         15907
Name: 297, dtype: object
id_user    12723
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         15953
11         14205
12         15907
Name: 297, dtype: object
id_user    12724
0            DEL
1          16791
2            DEL
3            DEL
4            DEL
5            DEL
6          16744
7            DEL
8            DEL
9          14704
10           DEL
11           DEL
12         17827
Name: 298, dtype: object
id_user    12724
0            DEL
1          16791
2            DEL
3            DEL
4            DEL
5            DEL
6          16744
7            DEL
8            DEL
9          14704
10           DEL
11           DEL
12         17827
Name: 298, dtype: object
id_user    12724
0            DEL
1          16791
2            DEL
3            DEL
4            DEL
5            DEL
6          16744
7            DEL
8            DEL
9          14704
10           DEL
11           DEL
12         17827
Name: 298, dtype: object
id_user    12724
0            DEL
1          16791
2            DEL
3            DEL
4            DEL
5            DEL
6          16744
7            DEL
8            DEL
9          14704
10           DEL
11           DEL
12         17827
Name: 298, dtype: object
id_user    12725
0          12841
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 299, dtype: object
id_user    12726
0          17315
1          13141
2            DEL
3          16728
4            DEL
5          13752
6          17360
7            DEL
8            DEL
9          15272
10           DEL
11         12589
12           DEL
Name: 300, dtype: object
id_user    12726
0          17315
1          13141
2            DEL
3          16728
4            DEL
5          13752
6          17360
7            DEL
8            DEL
9          15272
10           DEL
11         12589
12           DEL
Name: 300, dtype: object
id_user    12726
0          17315
1          13141
2            DEL
3          16728
4            DEL
5          13752
6          17360
7            DEL
8            DEL
9          15272
10           DEL
11         12589
12           DEL
Name: 300, dtype: object
id_user    12726
0          17315
1          13141
2            DEL
3          16728
4            DEL
5          13752
6          17360
7            DEL
8            DEL
9          15272
10           DEL
11         12589
12           DEL
Name: 300, dtype: object
id_user    12726
0          17315
1          13141
2            DEL
3          16728
4            DEL
5          13752
6          17360
7            DEL
8            DEL
9          15272
10           DEL
11         12589
12           DEL
Name: 300, dtype: object

Name: 316, dtype: object
id_user    12753
0          12753
1            DEL
2          12753
3          16670
4          12744
5            DEL
6            DEL
7          12753
8            DEL
9            DEL
10           DEL
11         12753
12           DEL
Name: 317, dtype: object
id_user    12753
0          12753
1            DEL
2          12753
3          16670
4          12744
5            DEL
6            DEL
7          12753
8            DEL
9            DEL
10           DEL
11         12753
12           DEL
Name: 317, dtype: object
id_user    12753
0          12753
1            DEL
2          12753
3          16670
4          12744
5            DEL
6            DEL
7          12753
8            DEL
9            DEL
10           DEL
11         12753
12           DEL
Name: 317, dtype: object
id_user    12753
0          12753
1            DEL
2          12753
3          16670
4          12744
5            DEL
6            DEL
7          12753
8            DEL
9            DEL
10           DEL
11         12753
12           DEL
Name: 317, dtype: object
id_user    12753
0          12753
1            DEL
2          12753
3          16670
4          12744
5            DEL
6            DEL
7          12753
8            DEL
9            DEL
10           DEL
11         12753
12           DEL
Name: 317, dtype: object
id_user    12753
0          12753
1            DEL
2          12753
3          16670
4          12744
5            DEL
6            DEL
7          12753
8            DEL
9            DEL
10           DEL
11         12753
12           DEL
Name: 317, dtype: object
id_user    12754
0            DEL
1            DEL
2          16725
3          15834
4          12754
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 318, dtype: object
id_user    12754
0            DEL
1            DEL
2          16725
3          15834
4          12754
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 318, dtype: object
id_user    12754
0            DEL
1            DEL
2          16725
3          15834
4          12754
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 318, dtype: object
id_user    12755
0          12755
1            DEL
2            DEL
3          14670
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 319, dtype: object
id_user    12755
0          12755
1            DEL
2            DEL
3          14670
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 319, dtype: object
id_user    12757
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          13339
6          17091
7          12757
8            DEL
9            DEL
10         17625
11         15953
12           DEL
Name: 320, dtype: object
id_user    12757
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          13339
6          17091
7          12757
8            DEL
9            DEL
10         17625
11         15953
12           DEL
Name: 320, dtype: object
id_user    12757
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          13339
6          17091
7          12757
8            DEL
9            DEL
10         17625
11         15953
12           DEL
Name: 320, dtype: object
id_user    12757
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          13339
6          17091
7          12757
8            DEL
9            DEL
10         17625
11         15953
12           DEL
Name: 320, dtype: object
id_user    12757
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          13339
6          17091
7          12757
8            DEL
9            DEL
10         17625
11         15953
12           DEL
Name: 320, dtype: object
id_user    12758
0            DEL
1            DEL
2            DEL
3          16712
4            DEL
5            DEL
6            DEL
7            DEL
8          16902
9            DEL
10           DEL
11           DEL
12           DEL
Name: 321, dtype: object
id_user    12758
0            DEL
1            DEL
2            DEL
3          16712
4            DEL
5            DEL
6            DEL
7            DEL
8          16902
9            DEL
10           DEL
11           DEL
12           DEL
Name: 321, dtype: object
id_user    12759
0            DEL
1            DEL
2            DEL
3          16221
4            DEL
5            DEL
6          14175
7            DEL
8            DEL
9            DEL
10         15140
11           DEL
12           DEL
Name: 322, dtype: object
id_user    12759
0            DEL
1            DEL
2            DEL
3          16221
4            DEL
5            DEL
6          14175
7            DEL
8            DEL
9            DEL
10         15140
11           DEL
12           DEL
Name: 322, dtype: object
id_user    12759
0            DEL
1            DEL
2            DEL
3          16221
4            DEL
5            DEL
6          14175
7            DEL
8            DEL
9            DEL
10         15140
11           DEL
12           DEL
Name: 322, dtype: object
id_user    12762
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         15572
12         14031
Name: 323, dtype: object
id_user    12762
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         15572
12         14031
Name: 323, dtype: object
id_user    12763
0          17243
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          12763
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 324, dtype: object
id_user    12763
0          17243
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          12763
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 324, dtype: object
id_user    12764
0            DEL
1          13280
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 325, dtype: object
id_user    12766
0          16700
1          14472
2          12707
3            DEL
4          13740
5            DEL
6            DEL
7          12528
8            DEL
9            DEL
10         12613
11           DEL
12         12749
Name: 326, dtype: object
id_user    12766
0          16700
1          14472
2          12707
3            DEL
4          13740
5            DEL
6            DEL
7          12528
8            DEL
9            DEL
10         12613
11           DEL
12         12749
Name: 326, dtype: object
id_user    12766
0          16700
1          14472
2          12707
3            DEL
4          13740
5            DEL
6            DEL
7          12528
8            DEL
9            DEL
10         12613
11           DEL
12         12749
Name: 326, dtype: object
id_user    12766
0          16700
1          14472
2          12707
3            DEL
4          13740
5            DEL
6            DEL
7          12528
8            DEL
9            DEL
10         12613
11           DEL
12         12749
Name: 326, dtype: object
id_user    12766
0          16700
1          14472
2          12707
3            DEL
4          13740
5            DEL
6            DEL
7          12528
8            DEL
9            DEL
10         12613
11           DEL
12         12749
Name: 326, dtype: object
id_user    12766
0          16700
1          14472
2          12707
3            DEL
4          13740
5            DEL
6            DEL
7          12528
8            DEL
9            DEL
10         12613
11           DEL
12         12749
Name: 326, dtype: object
id_user    12766
0          16700
1          14472
2          12707
3            DEL
4          13740
5            DEL
6            DEL
7          12528
8            DEL
9            DEL
10         12613
11           DEL
12         12749
Name: 326, dtype: object
id_user    12769
0            DEL
1            DEL
2            DEL
3            DEL
4          16523
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 327, dtype: object
id_user    12770
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          13798
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 328, dtype: object
id_user    12772
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         15858
11           DEL
12           DEL
Name: 329, dtype: object
id_user    12775
0            DEL
1            DEL
2          17884
3          15437
4            DEL
5          12775
6          15812
7            DEL
8            DEL
9            DEL
10           DEL
11         16330
12           DEL
Name: 330, dtype: object
id_user    12775
0            DEL
1            DEL
2          17884
3          15437
4            DEL
5          12775
6          15812
7            DEL
8            DEL
9            DEL
10           DEL
11         16330
12           DEL
Name: 330, dtype: object
id_user    12775
0            DEL
1            DEL
2          17884
3          15437
4            DEL
5          12775
6          15812
7            DEL
8            DEL
9            DEL
10           DEL
11         16330
12           DEL
Name: 330, dtype: object
id_user    12775
0            DEL
1            DEL
2          17884
3          15437
4            DEL
5          12775
6          15812
7            DEL
8            DEL
9            DEL
10           DEL
11         16330
12           DEL
Name: 330, dtype: object
id_user    12775
0            DEL
1            DEL
2          17884
3          15437
4            DEL
5          12775
6          15812
7            DEL
8            DEL
9            DEL
10           DEL
11         16330
12           DEL
Name: 330, dtype: object
id_user    12778
0            DEL
1          14688
2            DEL
3          14587
4            DEL
5            DEL
6          15867
7            DEL
8            DEL
9            DEL
10         16900
11         17758
12           DEL
Name: 331, dtype: object
id_user    12778
0            DEL
1          14688
2            DEL
3          14587
4            DEL
5            DEL
6          15867
7            DEL
8            DEL
9            DEL
10         16900
11         17758
12           DEL
Name: 331, dtype: object
id_user    12778
0            DEL
1          14688
2            DEL
3          14587
4            DEL
5            DEL
6          15867
7            DEL
8            DEL
9            DEL
10         16900
11         17758
12           DEL
Name: 331, dtype: object
id_user    12778
0            DEL
1          14688
2            DEL
3          14587
4            DEL
5            DEL
6          15867
7            DEL
8            DEL
9            DEL
10         16900
11         17758
12           DEL
Name: 331, dtype: object
id_user    12778
0            DEL
1          14688
2            DEL
3          14587
4            DEL
5            DEL
6          15867
7            DEL
8            DEL
9            DEL
10         16900
11         17758
12           DEL
Name: 331, dtype: object
id_user    12779
0          15545
1          13769
2          12779
3          13451
4          13013
5          14985
6          14408
7            DEL
8            DEL
9            DEL
10           DEL
11         18164
12           DEL
Name: 332, dtype: object
id_user    12779
0          15545
1          13769
2          12779
3          13451
4          13013
5          14985
6          14408
7            DEL
8            DEL
9            DEL
10           DEL
11         18164
12           DEL
Name: 332, dtype: object
id_user    12779
0          15545
1          13769
2          12779
3          13451
4          13013
5          14985
6          14408
7            DEL
8            DEL
9            DEL
10           DEL
11         18164
12           DEL
Name: 332, dtype: object
id_user    12779
0          15545
1          13769
2          12779
3          13451
4          13013
5          14985
6          14408
7            DEL
8            DEL
9            DEL
10           DEL
11         18164
12           DEL
Name: 332, dtype: object
id_user    12779
0          15545
1          13769
2          12779
3          13451
4          13013
5          14985
6          14408
7            DEL
8            DEL
9            DEL
10           DEL
11         18164
12           DEL
Name: 332, dtype: object
id_user    12779
0          15545
1          13769
2          12779
3          13451
4          13013
5          14985
6          14408
7            DEL
8            DEL
9            DEL
10           DEL
11         18164
12           DEL
Name: 332, dtype: object
id_user    12779
0          15545
1          13769
2          12779
3          13451
4          13013
5          14985
6          14408
7            DEL
8            DEL
9            DEL
10           DEL
11         18164
12           DEL
Name: 332, dtype: object
id_user    12779
0          15545
1          13769
2          12779
3          13451
4          13013
5          14985
6          14408
7            DEL
8            DEL
9            DEL
10           DEL
11         18164
12           DEL
Name: 332, dtype: object
id_user    12781
0            DEL
1            DEL
2          13675
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         12856
11           DEL
12           DEL
Name: 333, dtype: object
id_user    12781
0            DEL
1            DEL
2          13675
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         12856
11           DEL
12           DEL
Name: 333, dtype: object
id_user    12782
0          15570
1          13491
2            DEL
3          18172
4            DEL
5            DEL
6            DEL
7          17644
8            DEL
9            DEL
10           DEL
11           DEL
12         12841
Name: 334, dtype: object
id_user    12782
0          15570
1          13491
2            DEL
3          18172
4            DEL
5            DEL
6            DEL
7          17644
8            DEL
9            DEL
10           DEL
11           DEL
12         12841
Name: 334, dtype: object
id_user    12782
0          15570
1          13491
2            DEL
3          18172
4            DEL
5            DEL
6            DEL
7          17644
8            DEL
9            DEL
10           DEL
11           DEL
12         12841
Name: 334, dtype: object
id_user    12782
0          15570
1          13491
2            DEL
3          18172
4            DEL
5            DEL
6            DEL
7          17644
8            DEL
9            DEL
10           DEL
11           DEL
12         12841
Name: 334, dtype: object
id_user    12782
0          15570
1          13491
2            DEL
3          18172
4            DEL
5            DEL
6            DEL
7          17644
8            DEL
9            DEL
10           DEL
11           DEL
12         12841
Name: 334, dtype: object
id_user    12783
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          16049
10         15012
11         16362
12         12783
Name: 335, dtype: object
id_user    12783
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          16049
10         15012
11         16362
12         12783
Name: 335, dtype: object
id_user    12783
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          16049
10         15012
11         16362
12         12783
Name: 335, dtype: object
id_user    12783
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          16049
10         15012
11         16362
12         12783
Name: 335, dtype: object
id_user    12784
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         16115
12           DEL
Name: 336, dtype: object
id_user    12785
0          18116
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 337, dtype: object
id_user    12787
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          16470
6            DEL
7            DEL
8            DEL
9          12787
10           DEL
11         16361
12           DEL
Name: 338, dtype: object
id_user    12787
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          16470
6            DEL
7            DEL
8            DEL
9          12787
10           DEL
11         16361
12           DEL
Name: 338, dtype: object
id_user    12787
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          16470
6            DEL
7            DEL
8            DEL
9          12787
10           DEL
11         16361
12           DEL
Name: 338, dtype: object
id_user    12790
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          16919
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 339, dtype: object
id_user    12792
0            DEL
1            DEL
2            DEL
3          17917
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 340, dtype: object
id_user    12793
0          13013
1          17218
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 341, dtype: object
id_user    12793
0          13013
1          17218
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 341, dtype: object
id_user    12794
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          12670
10         15066
11           DEL
12           DEL
Name: 342, dtype: object
id_user    12794
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          12670
10         15066
11           DEL
12           DEL

Name: 357, dtype: object
id_user    12824
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         14175
11           DEL
12           DEL
Name: 358, dtype: object
id_user    12826
0          17965
1          14709
2            DEL
3            DEL
4            DEL
5            DEL
6          14997
7            DEL
8            DEL
9          17813
10           DEL
11         12844
12         16368
Name: 359, dtype: object
id_user    12826
0          17965
1          14709
2            DEL
3            DEL
4            DEL
5            DEL
6          14997
7            DEL
8            DEL
9          17813
10           DEL
11         12844
12         16368
Name: 359, dtype: object
id_user    12826
0          17965
1          14709
2            DEL
3            DEL
4            DEL
5            DEL
6          14997
7            DEL
8            DEL
9          17813
10           DEL
11         12844
12         16368
Name: 359, dtype: object
id_user    12826
0          17965
1          14709
2            DEL
3            DEL
4            DEL
5            DEL
6          14997
7            DEL
8            DEL
9          17813
10           DEL
11         12844
12         16368
Name: 359, dtype: object
id_user    12826
0          17965
1          14709
2            DEL
3            DEL
4            DEL
5            DEL
6          14997
7            DEL
8            DEL
9          17813
10           DEL
11         12844
12         16368
Name: 359, dtype: object
id_user    12826
0          17965
1          14709
2            DEL
3            DEL
4            DEL
5            DEL
6          14997
7            DEL
8            DEL
9          17813
10           DEL
11         12844
12         16368
Name: 359, dtype: object
id_user    12827
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         18059
11         17623
12         13536
Name: 360, dtype: object
id_user    12827
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         18059
11         17623
12         13536
Name: 360, dtype: object
id_user    12827
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         18059
11         17623
12         13536
Name: 360, dtype: object
id_user    12828
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          12360
9          14907
10         15106
11           DEL
12         12569
Name: 361, dtype: object
id_user    12828
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          12360
9          14907
10         15106
11           DEL
12         12569
Name: 361, dtype: object
id_user    12828
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          12360
9          14907
10         15106
11           DEL
12         12569
Name: 361, dtype: object
id_user    12828
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          12360
9          14907
10         15106
11           DEL
12         12569
Name: 361, dtype: object
id_user    12829
0          16083
1          17284
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 362, dtype: object
id_user    12829
0          16083
1          17284
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 362, dtype: object
id_user    12830
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          12830
7          12830
8            DEL
9          15251
10           DEL
11         12830
12           DEL
Name: 363, dtype: object
id_user    12830
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          12830
7          12830
8            DEL
9          15251
10           DEL
11         12830
12           DEL
Name: 363, dtype: object
id_user    12830
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          12830
7          12830
8            DEL
9          15251
10           DEL
11         12830
12           DEL
Name: 363, dtype: object
id_user    12830
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          12830
7          12830
8            DEL
9          15251
10           DEL
11         12830
12           DEL
Name: 363, dtype: object
id_user    12831
0            DEL
1            DEL
2            DEL
3          12539
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 364, dtype: object
id_user    12832
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          14019
10           DEL
11         16242
12           DEL
Name: 365, dtype: object
id_user    12832
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          14019
10           DEL
11         16242
12           DEL
Name: 365, dtype: object
id_user    12833
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          16255
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 366, dtype: object
id_user    12834
0            DEL
1            DEL
2            DEL
3          17426
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 367, dtype: object
id_user    12836
0            DEL
1            DEL
2          15203
3            DEL
4            DEL
5          12720
6            DEL
7          15218
8            DEL
9            DEL
10         14710
11           DEL
12           DEL
Name: 368, dtype: object
id_user    12836
0            DEL
1            DEL
2          15203
3            DEL
4            DEL
5          12720
6            DEL
7          15218
8            DEL
9            DEL
10         14710
11           DEL
12           DEL
Name: 368, dtype: object
id_user    12836
0            DEL
1            DEL
2          15203
3            DEL
4            DEL
5          12720
6            DEL
7          15218
8            DEL
9            DEL
10         14710
11           DEL
12           DEL
Name: 368, dtype: object
id_user    12836
0            DEL
1            DEL
2          15203
3            DEL
4            DEL
5          12720
6            DEL
7          15218
8            DEL
9            DEL
10         14710
11           DEL
12           DEL
Name: 368, dtype: object
id_user    12837
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          16326
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 369, dtype: object
id_user    12838
0          17377
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         15952
12           DEL
Name: 370, dtype: object
id_user    12838
0          17377
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         15952
12           DEL
Name: 370, dtype: object
id_user    12839
0          15570
1            DEL
2          16841
3            DEL
4            DEL
5          15203
6          17576
7          13138
8          15144
9          12615
10         14842
11         14397
12         12783
Name: 371, dtype: object
id_user    12839
0          15570
1            DEL
2          16841
3            DEL
4            DEL
5          15203
6          17576
7          13138
8          15144
9          12615
10         14842
11         14397
12         12783
Name: 371, dtype: object
id_user    12839
0          15570
1            DEL
2          16841
3            DEL
4            DEL
5          15203
6          17576
7          13138
8          15144
9          12615
10         14842
11         14397
12         12783
Name: 371, dtype: object
id_user    12839
0          15570
1            DEL
2          16841
3            DEL
4            DEL
5          15203
6          17576
7          13138
8          15144
9          12615
10         14842
11         14397
12         12783
Name: 371, dtype: object
id_user    12839
0          15570
1            DEL
2          16841
3            DEL
4            DEL
5          15203
6          17576
7          13138
8          15144
9          12615
10         14842
11         14397
12         12783
Name: 371, dtype: object
id_user    12839
0          15570
1            DEL
2          16841
3            DEL
4            DEL
5          15203
6          17576
7          13138
8          15144
9          12615
10         14842
11         14397
12         12783
Name: 371, dtype: object
id_user    12839
0          15570
1            DEL
2          16841
3            DEL
4            DEL
5          15203
6          17576
7          13138
8          15144
9          12615
10         14842
11         14397
12         12783
Name: 371, dtype: object
id_user    12839
0          15570
1            DEL
2          16841
3            DEL
4            DEL
5          15203
6          17576
7          13138
8          15144
9          12615
10         14842
11         14397
12         12783
Name: 371, dtype: object
id_user    12839
0          15570
1            DEL
2          16841
3            DEL
4            DEL
5          15203
6          17576
7          13138
8          15144
9          12615
10         14842
11         14397
12         12783
Name: 371, dtype: object
id_user    12839
0          15570
1            DEL
2          16841
3            DEL
4            DEL
5          15203
6          17576
7          13138
8          15144
9          12615
10         14842
11         14397
12         12783
Name: 371, dtype: object
id_user    12840
0            DEL
1            DEL
2            DEL
3            DEL
4          16188
5          12840
6          12840
7          17682
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 372, dtype: object
id_user    12840
0            DEL
1            DEL
2            DEL
3            DEL
4          16188
5          12840
6          12840
7          17682
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 372, dtype: object
id_user    12840
0            DEL
1            DEL
2            DEL
3            DEL
4          16188
5          12840
6          12840
7          17682
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 372, dtype: object
id_user    12840
0            DEL
1            DEL
2            DEL
3            DEL
4          16188
5          12840
6          12840
7          17682
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 372, dtype: object
id_user    12841
0          18156
1          17068
2          13093
3          16777
4          16957
5          13301
6          16794
7          14810
8          12841
9          13884
10         16438
11         16719
12         12841
Name: 373, dtype: object
id_user    12841
0          18156
1          17068
2          13093
3          16777
4          16957
5          13301
6          16794
7          14810
8          12841
9          13884
10         16438
11         16719
12         12841
Name: 373, dtype: object
id_user    12841
0          18156
1          17068
2          13093
3          16777
4          16957
5          13301
6          16794
7          14810
8          12841
9          13884
10         16438
11         16719
12         12841
Name: 373, dtype: object
id_user    12841
0          18156
1          17068
2          13093
3          16777
4          16957
5          13301
6          16794
7          14810
8          12841
9          13884
10         16438
11         16719
12         12841
Name: 373, dtype: object
id_user    12841
0          18156
1          17068
2          13093
3          16777
4          16957
5          13301
6          16794
7          14810
8          12841
9          13884
10         16438
11         16719
12         12841
Name: 373, dtype: object
id_user    12841
0          18156
1          17068
2          13093
3          16777
4          16957
5          13301
6          16794
7          14810
8          12841
9          13884
10         16438
11         16719
12         12841
Name: 373, dtype: object
id_user    12841
0          18156
1          17068
2          13093
3          16777
4          16957
5          13301
6          16794
7          14810
8          12841
9          13884
10         16438
11         16719
12         12841
Name: 373, dtype: object
id_user    12841
0          18156
1          17068
2          13093
3          16777
4          16957
5          13301
6          16794
7          14810
8          12841
9          13884
10         16438
11         16719
12         12841
Name: 373, dtype: object
id_user    12841
0          18156
1          17068
2          13093
3          16777
4          16957
5          13301
6          16794
7          14810
8          12841
9          13884
10         16438
11         16719
12         12841
Name: 373, dtype: object
id_user    12841
0          18156
1          17068
2          13093
3          16777
4          16957
5          13301
6          16794
7          14810
8          12841
9          13884
10         16438
11         16719
12         12841
Name: 373, dtype: object
id_user    12841
0          18156
1          17068
2          13093
3          16777
4          16957
5          13301
6          16794
7          14810
8          12841
9          13884
10         16438
11         16719
12         12841
Name: 373, dtype: object
id_user    12841
0          18156
1          17068
2          13093
3          16777
4          16957
5          13301
6          16794
7          14810
8          12841
9          13884
10         16438
11         16719
12         12841
Name: 373, dtype: object
id_user    12841
0          18156
1          17068
2          13093
3          16777
4          16957
5          13301
6          16794
7          14810
8          12841
9          13884
10         16438
11         16719
12         12841
Name: 373, dtype: object
id_user    12842
0            DEL
1            DEL
2          12779
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          16133
10           DEL
11           DEL
12           DEL
Name: 374, dtype: object
id_user    12842
0            DEL
1            DEL
2          12779
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          16133
10           DEL
11           DEL
12           DEL
Name: 374, dtype: object
id_user    12843
0            DEL
1            DEL
2            DEL
3          15288
4            DEL
5          17597
6          15665
7          18226
8            DEL
9            DEL
10         17837
11           DEL
12           DEL
Name: 375, dtype: object
id_user    12843
0            DEL
1            DEL
2            DEL
3          15288
4            DEL
5          17597
6          15665
7          18226
8            DEL
9            DEL
10         17837
11           DEL
12           DEL
Name: 375, dtype: object
id_user    12843
0            DEL
1            DEL
2            DEL
3          15288
4            DEL
5          17597
6          15665
7          18226
8            DEL
9            DEL
10         17837
11           DEL
12           DEL
Name: 375, dtype: object
id_user    12843
0            DEL
1            DEL
2            DEL
3          15288
4            DEL
5          17597
6          15665
7          18226
8            DEL
9            DEL
10         17837
11           DEL
12           DEL
Name: 375, dtype: object
id_user    12843
0            DEL
1            DEL
2            DEL
3          15288
4            DEL
5          17597
6          15665
7          18226
8            DEL
9            DEL
10         17837
11           DEL
12           DEL
Name: 375, dtype: object
id_user    12844
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          16984
9            DEL
10           DEL
11         12844
12           DEL
Name: 376, dtype: object
id_user    12844
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          16984
9            DEL
10           DEL
11         12844
12           DEL
Name: 376, dtype: object
id_user    12845
0            DEL
1            DEL
2          13421
3          12845
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 377, dtype: object
id_user    12845
0            DEL
1            DEL
2          13421
3          12845
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 377, dtype: object
id_user    12847
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         13313
12           DEL
Name: 378, dtype: object
id_user    12849
0            DEL
1            DEL
2            DEL
3          16152
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         15615
12           DEL
Name: 379, dtype: object
id_user    12849
0            DEL
1            DEL
2            DEL
3          16152
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         15615
12           DEL
Name: 379, dtype: object
id_user    12851
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          16761
10           DEL
11           DEL
12           DEL
Name: 380, dtype: object
id_user    12852
0            DEL
1            DEL
2          15290
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 381, dtype: object
id_user    12853
0            DEL
1          12853
2            DEL
3            DEL
4          16957
5            DEL
6            DEL
7          16912
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL

id_user    12871
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          12871
6            DEL
7            DEL
8            DEL
9          13141
10           DEL
11           DEL
12           DEL
Name: 390, dtype: object
id_user    12872
0          14896
1          14525
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 391, dtype: object
id_user    12872
0          14896
1          14525
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 391, dtype: object
id_user    12876
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          16133
6            DEL
7            DEL
8            DEL
9            DEL
10         12685
11           DEL
12           DEL
Name: 392, dtype: object
id_user    12876
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          16133
6            DEL
7            DEL
8            DEL
9            DEL
10         12685
11           DEL
12           DEL
Name: 392, dtype: object
id_user    12877
0          15194
1          12490
2          15974
3          13875
4          16609
5          13831
6          17284
7            DEL
8          12720
9          12854
10           DEL
11         16361
12         12749
Name: 393, dtype: object
id_user    12877
0          15194
1          12490
2          15974
3          13875
4          16609
5          13831
6          17284
7            DEL
8          12720
9          12854
10           DEL
11         16361
12         12749
Name: 393, dtype: object
id_user    12877
0          15194
1          12490
2          15974
3          13875
4          16609
5          13831
6          17284
7            DEL
8          12720
9          12854
10           DEL
11         16361
12         12749
Name: 393, dtype: object
id_user    12877
0          15194
1          12490
2          15974
3          13875
4          16609
5          13831
6          17284
7            DEL
8          12720
9          12854
10           DEL
11         16361
12         12749
Name: 393, dtype: object
id_user    12877
0          15194
1          12490
2          15974
3          13875
4          16609
5          13831
6          17284
7            DEL
8          12720
9          12854
10           DEL
11         16361
12         12749
Name: 393, dtype: object
id_user    12877
0          15194
1          12490
2          15974
3          13875
4          16609
5          13831
6          17284
7            DEL
8          12720
9          12854
10           DEL
11         16361
12         12749
Name: 393, dtype: object
id_user    12877
0          15194
1          12490
2          15974
3          13875
4          16609
5          13831
6          17284
7            DEL
8          12720
9          12854
10           DEL
11         16361
12         12749
Name: 393, dtype: object
id_user    12877
0          15194
1          12490
2          15974
3          13875
4          16609
5          13831
6          17284
7            DEL
8          12720
9          12854
10           DEL
11         16361
12         12749
Name: 393, dtype: object
id_user    12877
0          15194
1          12490
2          15974
3          13875
4          16609
5          13831
6          17284
7            DEL
8          12720
9          12854
10           DEL
11         16361
12         12749
Name: 393, dtype: object
id_user    12877
0          15194
1          12490
2          15974
3          13875
4          16609
5          13831
6          17284
7            DEL
8          12720
9          12854
10           DEL
11         16361
12         12749
Name: 393, dtype: object
id_user    12877
0          15194
1          12490
2          15974
3          13875
4          16609
5          13831
6          17284
7            DEL
8          12720
9          12854
10           DEL
11         16361
12         12749
Name: 393, dtype: object
id_user    12878
0            DEL
1            DEL
2            DEL
3          17419
4          17990
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 394, dtype: object
id_user    12878
0            DEL
1            DEL
2            DEL
3          17419
4          17990
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 394, dtype: object
id_user    12879
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          16460
10         13435
11           DEL
12           DEL
Name: 395, dtype: object
id_user    12879
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          16460
10         13435
11           DEL
12           DEL
Name: 395, dtype: object
id_user    12881
0            DEL
1            DEL
2            DEL
3          14825
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 396, dtype: object
id_user    12882
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         12957
12           DEL
Name: 397, dtype: object
id_user    12883
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          13450
10           DEL
11         18181
12           DEL
Name: 398, dtype: object
id_user    12883
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          13450
10           DEL
11         18181
12           DEL
Name: 398, dtype: object
id_user    12884
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          12884
10           DEL
11           DEL
12           DEL
Name: 399, dtype: object
id_user    12885
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          12885
9            DEL
10         13004
11           DEL
12           DEL
Name: 400, dtype: object
id_user    12885
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          12885
9            DEL
10         13004
11           DEL
12           DEL
Name: 400, dtype: object
id_user    12886
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          17384
6            DEL
7            DEL
8            DEL
9            DEL
10         14815
11           DEL
12           DEL
Name: 401, dtype: object
id_user    12886
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          17384
6            DEL
7            DEL
8            DEL
9            DEL
10         14815
11           DEL
12           DEL
Name: 401, dtype: object
id_user    12888
0            DEL
1            DEL
2            DEL
3          16712
4            DEL
5          13971
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 402, dtype: object
id_user    12888
0            DEL
1            DEL
2            DEL
3          16712
4            DEL
5          13971
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 402, dtype: object
id_user    12890
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         16361
12           DEL
Name: 403, dtype: object
id_user    12893
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         18274
12           DEL
Name: 404, dtype: object
id_user    12895
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          12895
10         14416
11           DEL
12           DEL
Name: 405, dtype: object
id_user    12895
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          12895
10         14416
11           DEL
12           DEL
Name: 405, dtype: object
id_user    12901
0            DEL
1            DEL
2            DEL
3          12901
4          12901
5          12901
6          17063
7          12901
8          12901
9          12901
10         14842
11         12901
12         12901
Name: 406, dtype: object
id_user    12901
0            DEL
1            DEL
2            DEL
3          12901
4          12901
5          12901
6          17063
7          12901
8          12901
9          12901
10         14842
11         12901
12         12901
Name: 406, dtype: object
id_user    12901
0            DEL
1            DEL
2            DEL
3          12901
4          12901
5          12901
6          17063
7          12901
8          12901
9          12901
10         14842
11         12901
12         12901
Name: 406, dtype: object
id_user    12901
0            DEL
1            DEL
2            DEL
3          12901
4          12901
5          12901
6          17063
7          12901
8          12901
9          12901
10         14842
11         12901
12         12901
Name: 406, dtype: object
id_user    12901
0            DEL
1            DEL
2            DEL
3          12901
4          12901
5          12901
6          17063
7          12901
8          12901
9          12901
10         14842
11         12901
12         12901
Name: 406, dtype: object
id_user    12901
0            DEL
1            DEL
2            DEL
3          12901
4          12901
5          12901
6          17063
7          12901
8          12901
9          12901
10         14842
11         12901
12         12901
Name: 406, dtype: object
id_user    12901
0            DEL
1            DEL
2            DEL
3          12901
4          12901
5          12901
6          17063
7          12901
8          12901
9          12901
10         14842
11         12901
12         12901
Name: 406, dtype: object
id_user    12901
0            DEL
1            DEL
2            DEL
3          12901
4          12901
5          12901
6          17063
7          12901
8          12901
9          12901
10         14842
11         12901
12         12901
Name: 406, dtype: object
id_user    12901
0            DEL
1            DEL
2            DEL
3          12901
4          12901
5          12901
6          17063
7          12901
8          12901
9          12901
10         14842
11         12901
12         12901
Name: 406, dtype: object
id_user    12901
0            DEL
1            DEL
2            DEL
3          12901
4          12901
5          12901
6          17063
7          12901
8          12901
9          12901
10         14842
11         12901
12         12901
Name: 406, dtype: object
id_user    12902
0            DEL
1            DEL
2            DEL
3          16728
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 407, dtype: object
id_user    12904
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          14808
7            DEL
8            DEL
9            DEL
10           DEL
11         16712
12           DEL
Name: 408, dtype: object
id_user    12904
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          14808
7            DEL
8            DEL
9            DEL
10           DEL
11         16712
12           DEL
Name: 408, dtype: object
id_user    12906
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          12579
10           DEL
11         16705
12           DEL
Name: 409, dtype: object
id_user    12906
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          12579
10           DEL
11         16705
12           DEL
Name: 409, dtype: object
id_user    12909
0            DEL
1            DEL
2            DEL
3          18172
4            DEL
5          14546
6            DEL
7            DEL
8            DEL
9          13831
10         13982
11           DEL
12           DEL
Name: 410, dtype: object
id_user    12909
0            DEL
1            DEL
2            DEL
3          18172
4            DEL
5          14546
6            DEL
7            DEL
8            DEL
9          13831
10         13982
11           DEL
12           DEL
Name: 410, dtype: object
id_user    12909
0            DEL
1            DEL
2            DEL
3          18172
4            DEL
5          14546
6            DEL
7            DEL
8            DEL
9          13831
10         13982
11           DEL
12           DEL
Name: 410, dtype: object
id_user    12909
0            DEL
1            DEL
2            DEL
3          18172
4            DEL
5          14546
6            DEL
7            DEL
8            DEL
9          13831
10         13982
11           DEL
12           DEL
Name: 410, dtype: object
id_user    12910
0            DEL
1            DEL
2            DEL
3            DEL
4          17278
5          16837
6            DEL
7          16843
8            DEL
9          17172
10         15300
11         12662
12           DEL
Name: 411, dtype: object
id_user    12910
0            DEL
1            DEL
2            DEL
3            DEL
4          17278
5          16837
6            DEL
7          16843
8            DEL
9          17172
10         15300
11         12662
12           DEL
Name: 411, dtype: object
id_user    12910
0            DEL
1            DEL
2            DEL
3            DEL
4          17278
5          16837
6            DEL
7          16843
8            DEL
9          17172
10         15300
11         12662
12           DEL
Name: 411, dtype: object
id_user    12910
0            DEL
1            DEL
2            DEL
3            DEL
4          17278
5          16837
6            DEL
7          16843
8            DEL
9          17172
10         15300
11         12662
12           DEL
Name: 411, dtype: object
id_user    12910
0            DEL
1            DEL
2            DEL
3            DEL
4          17278
5          16837
6            DEL
7          16843
8            DEL
9          17172
10         15300
11         12662
12           DEL
Name: 411, dtype: object
id_user    12910
0            DEL
1            DEL
2            DEL
3            DEL
4          17278
5          16837
6            DEL
7          16843
8            DEL
9          17172
10         15300
11         12662
12           DEL
Name: 411, dtype: object
id_user    12912
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         17725
11         13199
12         13870
Name: 412, dtype: object
id_user    12912
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         17725
11         13199
12         13870
Name: 412, dtype: object
id_user    12912
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         17725
11         13199
12         13870
Name: 412, dtype: object
id_user    12913
0          12913
1            DEL
2          17705
3          16217
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14591
12         12841
Name: 413, dtype: object
id_user    12913
0          12913
1            DEL
2          17705
3          16217
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14591
12         12841
Name: 413, dtype: object
id_user    12913
0          12913
1            DEL
2          17705
3          16217
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14591
12         12841
Name: 413, dtype: object
id_user    12913
0          12913
1            DEL
2          17705
3          16217
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14591
12         12841
Name: 413, dtype: object
id_user    12913
0          12913
1            DEL
2          17705
3          16217
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14591
12         12841
Name: 413, dtype: object
id_user    12915
0          15658
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          17706
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 414, dtype: object
id_user    12915
0          15658
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          17706
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 414, dtype: object
id_user    12916
0            DEL
1          16085
2            DEL
3          15465
4            DEL
5          12705
6            DEL
7          14019
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 415, dtype: object
id_user    12916
0            DEL
1          16085
2            DEL
3          15465
4            DEL
5          12705
6            DEL
7          14019
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 415, dtype: object
id_user    12916
0            DEL
1          16085
2            DEL
3          15465
4            DEL
5          12705
6            DEL
7          14019
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 415, dtype: object

id_user    12916
0            DEL
1          16085
2            DEL
3          15465
4            DEL
5          12705
6            DEL
7          14019
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 415, dtype: object
id_user    12919
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          12465
7          16145
8          14623
9            DEL
10           DEL
11         13174
12         13102
Name: 416, dtype: object
id_user    12919
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          12465
7          16145
8          14623
9            DEL
10           DEL
11         13174
12         13102
Name: 416, dtype: object
id_user    12919
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          12465
7          16145
8          14623
9            DEL
10           DEL
11         13174
12         13102
Name: 416, dtype: object
id_user    12919
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          12465
7          16145
8          14623
9            DEL
10           DEL
11         13174
12         13102
Name: 416, dtype: object
id_user    12919
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          12465
7          16145
8          14623
9            DEL
10           DEL
11         13174
12         13102
Name: 416, dtype: object
id_user    12920
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         16985
12           DEL
Name: 417, dtype: object
id_user    12922
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          17505
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 418, dtype: object
id_user    12923
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         13504
11           DEL
12           DEL
Name: 419, dtype: object
id_user    12924
0            DEL
1          15673
2            DEL
3          17049
4            DEL
5          18044
6            DEL
7            DEL
8            DEL
9          17919
10           DEL
11           DEL
12           DEL
Name: 420, dtype: object
id_user    12924
0            DEL
1          15673
2            DEL
3          17049
4            DEL
5          18044
6            DEL
7            DEL
8            DEL
9          17919
10           DEL
11           DEL
12           DEL
Name: 420, dtype: object
id_user    12924
0            DEL
1          15673
2            DEL
3          17049
4            DEL
5          18044
6            DEL
7            DEL
8            DEL
9          17919
10           DEL
11           DEL
12           DEL
Name: 420, dtype: object
id_user    12924
0            DEL
1          15673
2            DEL
3          17049
4            DEL
5          18044
6            DEL
7            DEL
8            DEL
9          17919
10           DEL
11           DEL
12           DEL
Name: 420, dtype: object
id_user    12925
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          13867
10           DEL
11           DEL
12         12841
Name: 421, dtype: object
id_user    12925
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          13867
10           DEL
11           DEL
12         12841
Name: 421, dtype: object
id_user    12928
0          15290
1            DEL
2            DEL
3            DEL
4          12463
5            DEL
6            DEL
7          14572
8            DEL
9            DEL
10         15630
11         13013
12           DEL
Name: 422, dtype: object
id_user    12928
0          15290
1            DEL
2            DEL
3            DEL
4          12463
5            DEL
6            DEL
7          14572
8            DEL
9            DEL
10         15630
11         13013
12           DEL
Name: 422, dtype: object
id_user    12928
0          15290
1            DEL
2            DEL
3            DEL
4          12463
5            DEL
6            DEL
7          14572
8            DEL
9            DEL
10         15630
11         13013
12           DEL
Name: 422, dtype: object
id_user    12928
0          15290
1            DEL
2            DEL
3            DEL
4          12463
5            DEL
6            DEL
7          14572
8            DEL
9            DEL
10         15630
11         13013
12           DEL
Name: 422, dtype: object
id_user    12928
0          15290
1            DEL
2            DEL
3            DEL
4          12463
5            DEL
6            DEL
7          14572
8            DEL
9            DEL
10         15630
11         13013
12           DEL
Name: 422, dtype: object
id_user    12929
0            DEL
1            DEL
2          16110
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 423, dtype: object
id_user    12930
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17420
7            DEL
8            DEL
9          16389
10           DEL
11           DEL
12           DEL
Name: 424, dtype: object
id_user    12930
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17420
7            DEL
8            DEL
9          16389
10           DEL
11           DEL
12           DEL
Name: 424, dtype: object
id_user    12931
0          17377
1            DEL
2          12931
3          12931
4          17381
5          15095
6            DEL
7            DEL
8          12931
9            DEL
10         18102
11         12931
12           DEL
Name: 425, dtype: object
id_user    12931
0          17377
1            DEL
2          12931
3          12931
4          17381
5          15095
6            DEL
7            DEL
8          12931
9            DEL
10         18102
11         12931
12           DEL
Name: 425, dtype: object
id_user    12931
0          17377
1            DEL
2          12931
3          12931
4          17381
5          15095
6            DEL
7            DEL
8          12931
9            DEL
10         18102
11         12931
12           DEL
Name: 425, dtype: object
id_user    12931
0          17377
1            DEL
2          12931
3          12931
4          17381
5          15095
6            DEL
7            DEL
8          12931
9            DEL
10         18102
11         12931
12           DEL
Name: 425, dtype: object
id_user    12931
0          17377
1            DEL
2          12931
3          12931
4          17381
5          15095
6            DEL
7            DEL
8          12931
9            DEL
10         18102
11         12931
12           DEL
Name: 425, dtype: object
id_user    12931
0          17377
1            DEL
2          12931
3          12931
4          17381
5          15095
6            DEL
7            DEL
8          12931
9            DEL
10         18102
11         12931
12           DEL
Name: 425, dtype: object
id_user    12931
0          17377
1            DEL
2          12931
3          12931
4          17381
5          15095
6            DEL
7            DEL
8          12931
9            DEL
10         18102
11         12931
12           DEL
Name: 425, dtype: object
id_user    12931
0          17377
1            DEL
2          12931
3          12931
4          17381
5          15095
6            DEL
7            DEL
8          12931
9            DEL
10         18102
11         12931
12           DEL
Name: 425, dtype: object
id_user    12933
0            DEL
1            DEL
2            DEL
3          14506
4            DEL
5            DEL
6          17960
7            DEL
8            DEL
9            DEL
10           DEL
11         18181
12           DEL
Name: 426, dtype: object
id_user    12933
0            DEL
1            DEL
2            DEL
3          14506
4            DEL
5            DEL
6          17960
7            DEL
8            DEL
9            DEL
10           DEL
11         18181
12           DEL
Name: 426, dtype: object
id_user    12933
0            DEL
1            DEL
2            DEL
3          14506
4            DEL
5            DEL
6          17960
7            DEL
8            DEL
9            DEL
10           DEL
11         18181
12           DEL
Name: 426, dtype: object
id_user    12935
0            DEL
1          12625
2            DEL
3            DEL
4            DEL
5          16497
6            DEL
7          12528
8          17676
9            DEL
10           DEL
11         17211
12         14904
Name: 427, dtype: object
id_user    12935
0            DEL
1          12625
2            DEL
3            DEL
4            DEL
5          16497
6            DEL
7          12528
8          17676
9            DEL
10           DEL
11         17211
12         14904
Name: 427, dtype: object
id_user    12935
0            DEL
1          12625
2            DEL
3            DEL
4            DEL
5          16497
6            DEL
7          12528
8          17676
9            DEL
10           DEL
11         17211
12         14904
Name: 427, dtype: object
id_user    12935
0            DEL
1          12625
2            DEL
3            DEL
4            DEL
5          16497
6            DEL
7          12528
8          17676
9            DEL
10           DEL
11         17211
12         14904
Name: 427, dtype: object
id_user    12935
0            DEL
1          12625
2            DEL
3            DEL
4            DEL
5          16497
6            DEL
7          12528
8          17676
9            DEL
10           DEL
11         17211
12         14904
Name: 427, dtype: object
id_user    12935
0            DEL
1          12625
2            DEL
3            DEL
4            DEL
5          16497
6            DEL
7          12528
8          17676
9            DEL
10           DEL
11         17211
12         14904
Name: 427, dtype: object
id_user    12936
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          13394
10           DEL
11         16376
12           DEL
Name: 428, dtype: object
id_user    12936
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          13394
10           DEL
11         16376
12           DEL
Name: 428, dtype: object
id_user    12937
0            DEL
1            DEL
2            DEL
3          14035
4            DEL
5          12720
6            DEL
7            DEL
8            DEL
9          18235
10           DEL
11         14591
12           DEL
Name: 429, dtype: object
id_user    12937
0            DEL
1            DEL
2            DEL
3          14035
4            DEL
5          12720
6            DEL
7            DEL
8            DEL
9          18235
10           DEL
11         14591
12           DEL
Name: 429, dtype: object
id_user    12937
0            DEL
1            DEL
2            DEL
3          14035
4            DEL
5          12720
6            DEL
7            DEL
8            DEL
9          18235
10           DEL
11         14591
12           DEL
Name: 429, dtype: object
id_user    12937
0            DEL
1            DEL
2            DEL
3          14035
4            DEL
5          12720
6            DEL
7            DEL
8            DEL
9          18235
10           DEL
11         14591
12           DEL
Name: 429, dtype: object
id_user    12938
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         17228
12           DEL
Name: 430, dtype: object
id_user    12939
0            DEL
1          12939
2          12939
3          12939
4            DEL
5            DEL
6            DEL
7          13576
8            DEL
9          12435
10         12939
11           DEL
12           DEL
Name: 431, dtype: object
id_user    12939
0            DEL
1          12939
2          12939
3          12939
4            DEL
5            DEL
6            DEL
7          13576
8            DEL
9          12435
10         12939
11           DEL
12           DEL
Name: 431, dtype: object
id_user    12939
0            DEL
1          12939
2          12939
3          12939
4            DEL
5            DEL
6            DEL
7          13576
8            DEL
9          12435
10         12939
11           DEL
12           DEL
Name: 431, dtype: object
id_user    12939
0            DEL
1          12939
2          12939
3          12939
4            DEL
5            DEL
6            DEL
7          13576
8            DEL
9          12435
10         12939
11           DEL
12           DEL
Name: 431, dtype: object
id_user    12939
0            DEL
1          12939
2          12939
3          12939
4            DEL
5            DEL
6            DEL
7          13576
8            DEL
9          12435
10         12939
11           DEL
12           DEL
Name: 431, dtype: object
id_user    12939
0            DEL
1          12939
2          12939
3          12939
4            DEL
5            DEL
6            DEL
7          13576
8            DEL
9          12435
10         12939
11           DEL
12           DEL
Name: 431, dtype: object
id_user    12940
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          16081
10         16674
11           DEL
12           DEL
Name: 432, dtype: object
id_user    12940
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          16081
10         16674
11           DEL
12           DEL
Name: 432, dtype: object
id_user    12942
0          17965
1            DEL
2            DEL
3            DEL
4            DEL
5          15805
6            DEL
7          16255
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 433, dtype: object
id_user    12942
0          17965
1            DEL
2            DEL
3            DEL
4            DEL
5          15805
6            DEL
7          16255
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 433, dtype: object
id_user    12942
0          17965
1            DEL
2            DEL
3            DEL
4            DEL
5          15805
6            DEL
7          16255
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 433, dtype: object
id_user    12944
0          14733
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         17652
12           DEL
Name: 434, dtype: object
id_user    12944
0          14733
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         17652
12           DEL
Name: 434, dtype: object
id_user    12945
0            DEL
1            DEL
2          17613
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 435, dtype: object
id_user    12947
0          17897
1          12947
2            DEL
3            DEL
4          13141
5            DEL
6          16767
7          17682
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 436, dtype: object
id_user    12947
0          17897
1          12947
2            DEL
3            DEL
4          13141
5            DEL
6          16767
7          17682
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 436, dtype: object
id_user    12947
0          17897
1          12947
2            DEL
3            DEL
4          13141
5            DEL
6          16767
7          17682
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 436, dtype: object
id_user    12947
0          17897
1          12947
2            DEL
3            DEL
4          13141
5            DEL
6          16767
7          17682
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 436, dtype: object
id_user    12947
0          17897
1          12947
2            DEL
3            DEL
4          13141
5            DEL
6          16767
7          17682
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 436, dtype: object
id_user    12948
0            DEL
1            DEL
2            DEL
3          13341
4            DEL
5          12840
6            DEL
7            DEL
8          13812
9            DEL
10         18059
11         15640
12           DEL
Name: 437, dtype: object
id_user    12948
0            DEL
1            DEL
2            DEL
3          13341
4            DEL
5          12840
6            DEL
7            DEL
8          13812
9            DEL
10         18059
11         15640
12           DEL
Name: 437, dtype: object
id_user    12948
0            DEL
1            DEL
2            DEL
3          13341
4            DEL
5          12840
6            DEL
7            DEL
8          13812
9            DEL
10         18059
11         15640
12           DEL
Name: 437, dtype: object
id_user    12948
0            DEL
1            DEL
2            DEL
3          13341
4            DEL
5          12840
6            DEL
7            DEL
8          13812
9            DEL
10         18059
11         15640
12           DEL
Name: 437, dtype: object
id_user    12948
0            DEL
1            DEL
2            DEL
3          13341
4            DEL
5          12840
6            DEL
7            DEL
8          13812
9            DEL
10         18059
11         15640
12           DEL
Name: 437, dtype: object
id_user    12949
0            DEL
1            DEL
2            DEL
3            DEL
4          16609
5          13488
6            DEL
7            DEL
8          16755
9            DEL
10           DEL
11         14621
12           DEL
Name: 438, dtype: object
id_user    12949
0            DEL
1            DEL
2            DEL
3            DEL
4          16609
5          13488
6            DEL
7            DEL
8          16755
9            DEL
10           DEL
11         14621
12           DEL
Name: 438, dtype: object
id_user    12949
0            DEL
1            DEL
2            DEL
3            DEL
4          16609
5          13488
6            DEL
7            DEL
8          16755
9            DEL
10           DEL
11         14621
12           DEL
Name: 438, dtype: object
id_user    12949
0            DEL
1            DEL
2            DEL
3            DEL
4          16609
5          13488
6            DEL
7            DEL
8          16755
9            DEL
10           DEL
11         14621
12           DEL
Name: 438, dtype: object
id_user    12950
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         12950
12         12950
Name: 439, dtype: object

id_user    12962
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          18272
9            DEL
10           DEL
11           DEL
12         14031
Name: 446, dtype: object
id_user    12963
0          17062
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          14262
10         12473
11         14701
12         15904
Name: 447, dtype: object
id_user    12963
0          17062
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          14262
10         12473
11         14701
12         15904
Name: 447, dtype: object
id_user    12963
0          17062
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          14262
10         12473
11         14701
12         15904
Name: 447, dtype: object
id_user    12963
0          17062
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          14262
10         12473
11         14701
12         15904
Name: 447, dtype: object
id_user    12963
0          17062
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          14262
10         12473
11         14701
12         15904
Name: 447, dtype: object
id_user    12965
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          17864
10           DEL
11           DEL
12           DEL
Name: 448, dtype: object
id_user    12966
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14540
12           DEL
Name: 449, dtype: object
id_user    12967
0          12967
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 450, dtype: object
id_user    12968
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          15396
9            DEL
10           DEL
11           DEL
12           DEL
Name: 451, dtype: object
id_user    12970
0            DEL
1          17799
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12         12970
Name: 452, dtype: object
id_user    12970
0            DEL
1          17799
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12         12970
Name: 452, dtype: object
id_user    12971
0          16996
1          12472
2          14243
3          12709
4          14961
5          14447
6          17858
7          16147
8          17865
9          14419
10         17725
11         14349
12         16016
Name: 453, dtype: object
id_user    12971
0          16996
1          12472
2          14243
3          12709
4          14961
5          14447
6          17858
7          16147
8          17865
9          14419
10         17725
11         14349
12         16016
Name: 453, dtype: object
id_user    12971
0          16996
1          12472
2          14243
3          12709
4          14961
5          14447
6          17858
7          16147
8          17865
9          14419
10         17725
11         14349
12         16016
Name: 453, dtype: object
id_user    12971
0          16996
1          12472
2          14243
3          12709
4          14961
5          14447
6          17858
7          16147
8          17865
9          14419
10         17725
11         14349
12         16016
Name: 453, dtype: object
id_user    12971
0          16996
1          12472
2          14243
3          12709
4          14961
5          14447
6          17858
7          16147
8          17865
9          14419
10         17725
11         14349
12         16016
Name: 453, dtype: object
id_user    12971
0          16996
1          12472
2          14243
3          12709
4          14961
5          14447
6          17858
7          16147
8          17865
9          14419
10         17725
11         14349
12         16016
Name: 453, dtype: object
id_user    12971
0          16996
1          12472
2          14243
3          12709
4          14961
5          14447
6          17858
7          16147
8          17865
9          14419
10         17725
11         14349
12         16016
Name: 453, dtype: object
id_user    12971
0          16996
1          12472
2          14243
3          12709
4          14961
5          14447
6          17858
7          16147
8          17865
9          14419
10         17725
11         14349
12         16016
Name: 453, dtype: object
id_user    12971
0          16996
1          12472
2          14243
3          12709
4          14961
5          14447
6          17858
7          16147
8          17865
9          14419
10         17725
11         14349
12         16016
Name: 453, dtype: object
id_user    12971
0          16996
1          12472
2          14243
3          12709
4          14961
5          14447
6          17858
7          16147
8          17865
9          14419
10         17725
11         14349
12         16016
Name: 453, dtype: object
id_user    12971
0          16996
1          12472
2          14243
3          12709
4          14961
5          14447
6          17858
7          16147
8          17865
9          14419
10         17725
11         14349
12         16016
Name: 453, dtype: object
id_user    12971
0          16996
1          12472
2          14243
3          12709
4          14961
5          14447
6          17858
7          16147
8          17865
9          14419
10         17725
11         14349
12         16016
Name: 453, dtype: object
id_user    12971
0          16996
1          12472
2          14243
3          12709
4          14961
5          14447
6          17858
7          16147
8          17865
9          14419
10         17725
11         14349
12         16016
Name: 453, dtype: object
id_user    12974
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          16837
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 454, dtype: object
id_user    12976
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          15544
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 455, dtype: object
id_user    12977
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          17220
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 456, dtype: object
id_user    12980
0          17744
1          16525
2          18041
3          14934
4            DEL
5          12980
6          16027
7          13082
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 457, dtype: object
id_user    12980
0          17744
1          16525
2          18041
3          14934
4            DEL
5          12980
6          16027
7          13082
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 457, dtype: object
id_user    12980
0          17744
1          16525
2          18041
3          14934
4            DEL
5          12980
6          16027
7          13082
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 457, dtype: object
id_user    12980
0          17744
1          16525
2          18041
3          14934
4            DEL
5          12980
6          16027
7          13082
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 457, dtype: object
id_user    12980
0          17744
1          16525
2          18041
3          14934
4            DEL
5          12980
6          16027
7          13082
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 457, dtype: object
id_user    12980
0          17744
1          16525
2          18041
3          14934
4            DEL
5          12980
6          16027
7          13082
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 457, dtype: object
id_user    12980
0          17744
1          16525
2          18041
3          14934
4            DEL
5          12980
6          16027
7          13082
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 457, dtype: object
id_user    12981
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          16062
8            DEL
9            DEL
10           DEL
11         14121
12           DEL
Name: 458, dtype: object
id_user    12981
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          16062
8            DEL
9            DEL
10           DEL
11         14121
12           DEL
Name: 458, dtype: object
id_user    12982
0            DEL
1            DEL
2            DEL
3            DEL
4          14311
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 459, dtype: object
id_user    12985
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         12726
12         12985
Name: 460, dtype: object
id_user    12985
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         12726
12         12985
Name: 460, dtype: object
id_user    12987
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          15805
6            DEL
7            DEL
8            DEL
9          14901
10           DEL
11           DEL
12           DEL
Name: 461, dtype: object
id_user    12987
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          15805
6            DEL
7            DEL
8            DEL
9          14901
10           DEL
11           DEL
12           DEL
Name: 461, dtype: object
id_user    12988
0            DEL
1            DEL
2          16746
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 462, dtype: object
id_user    12989
0          15061
1          12989
2          14644
3          12435
4          16523
5          13798
6            DEL
7          12989
8            DEL
9          18180
10         17244
11         13960
12         17744
Name: 463, dtype: object
id_user    12989
0          15061
1          12989
2          14644
3          12435
4          16523
5          13798
6            DEL
7          12989
8            DEL
9          18180
10         17244
11         13960
12         17744
Name: 463, dtype: object
id_user    12989
0          15061
1          12989
2          14644
3          12435
4          16523
5          13798
6            DEL
7          12989
8            DEL
9          18180
10         17244
11         13960
12         17744
Name: 463, dtype: object
id_user    12989
0          15061
1          12989
2          14644
3          12435
4          16523
5          13798
6            DEL
7          12989
8            DEL
9          18180
10         17244
11         13960
12         17744
Name: 463, dtype: object
id_user    12989
0          15061
1          12989
2          14644
3          12435
4          16523
5          13798
6            DEL
7          12989
8            DEL
9          18180
10         17244
11         13960
12         17744
Name: 463, dtype: object
id_user    12989
0          15061
1          12989
2          14644
3          12435
4          16523
5          13798
6            DEL
7          12989
8            DEL
9          18180
10         17244
11         13960
12         17744
Name: 463, dtype: object
id_user    12989
0          15061
1          12989
2          14644
3          12435
4          16523
5          13798
6            DEL
7          12989
8            DEL
9          18180
10         17244
11         13960
12         17744
Name: 463, dtype: object
id_user    12989
0          15061
1          12989
2          14644
3          12435
4          16523
5          13798
6            DEL
7          12989
8            DEL
9          18180
10         17244
11         13960
12         17744
Name: 463, dtype: object
id_user    12989
0          15061
1          12989
2          14644
3          12435
4          16523
5          13798
6            DEL
7          12989
8            DEL
9          18180
10         17244
11         13960
12         17744
Name: 463, dtype: object
id_user    12989
0          15061
1          12989
2          14644
3          12435
4          16523
5          13798
6            DEL
7          12989
8            DEL
9          18180
10         17244
11         13960
12         17744
Name: 463, dtype: object
id_user    12989
0          15061
1          12989
2          14644
3          12435
4          16523
5          13798
6            DEL
7          12989
8            DEL
9          18180
10         17244
11         13960
12         17744
Name: 463, dtype: object
id_user    12990
0            DEL
1            DEL
2          17975
3            DEL
4            DEL
5            DEL
6          13283
7            DEL
8            DEL
9            DEL
10           DEL
11         16187
12           DEL
Name: 464, dtype: object
id_user    12990
0            DEL
1            DEL
2          17975
3            DEL
4            DEL
5            DEL
6          13283
7            DEL
8            DEL
9            DEL
10           DEL
11         16187
12           DEL
Name: 464, dtype: object
id_user    12990
0            DEL
1            DEL
2          17975
3            DEL
4            DEL
5            DEL
6          13283
7            DEL
8            DEL
9            DEL
10           DEL
11         16187
12           DEL
Name: 464, dtype: object
id_user    12991
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          16170
9            DEL
10           DEL
11         12662
12           DEL
Name: 465, dtype: object
id_user    12991
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          16170
9            DEL
10           DEL
11         12662
12           DEL
Name: 465, dtype: object
id_user    12993
0            DEL
1            DEL
2          14644
3            DEL
4            DEL
5          17898
6            DEL
7            DEL
8          18226
9            DEL
10           DEL
11         17434
12           DEL
Name: 466, dtype: object
id_user    12993
0            DEL
1            DEL
2          14644
3            DEL
4            DEL
5          17898
6            DEL
7            DEL
8          18226
9            DEL
10           DEL
11         17434
12           DEL
Name: 466, dtype: object
id_user    12993
0            DEL
1            DEL
2          14644
3            DEL
4            DEL
5          17898
6            DEL
7            DEL
8          18226
9            DEL
10           DEL
11         17434
12           DEL
Name: 466, dtype: object
id_user    12993
0            DEL
1            DEL
2          14644
3            DEL
4            DEL
5          17898
6            DEL
7            DEL
8          18226
9            DEL
10           DEL
11         17434
12           DEL
Name: 466, dtype: object
id_user    12994
0            DEL
1            DEL
2            DEL
3          17504
4            DEL
5            DEL
6            DEL
7            DEL
8          15117
9            DEL
10           DEL
11           DEL
12         12841
Name: 467, dtype: object
id_user    12994
0            DEL
1            DEL
2            DEL
3          17504
4            DEL
5            DEL
6            DEL
7            DEL
8          15117
9            DEL
10           DEL
11           DEL
12         12841
Name: 467, dtype: object
id_user    12994
0            DEL
1            DEL
2            DEL
3          17504
4            DEL
5            DEL
6            DEL
7            DEL
8          15117
9            DEL
10           DEL
11           DEL
12         12841
Name: 467, dtype: object
id_user    12995
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          17679
10           DEL
11           DEL
12           DEL
Name: 468, dtype: object
id_user    12997
0            DEL
1          12472
2            DEL
3            DEL
4          17990
5            DEL
6            DEL
7            DEL
8            DEL
9          18180
10           DEL
11         17095
12           DEL
Name: 469, dtype: object
id_user    12997
0            DEL
1          12472
2            DEL
3            DEL
4          17990
5            DEL
6            DEL
7            DEL
8            DEL
9          18180
10           DEL
11         17095
12           DEL
Name: 469, dtype: object
id_user    12997
0            DEL
1          12472
2            DEL
3            DEL
4          17990
5            DEL
6            DEL
7            DEL
8            DEL
9          18180
10           DEL
11         17095
12           DEL
Name: 469, dtype: object
id_user    12997
0            DEL
1          12472
2            DEL
3            DEL
4          17990
5            DEL
6            DEL
7            DEL
8            DEL
9          18180
10           DEL
11         17095
12           DEL
Name: 469, dtype: object
id_user    12999
0            DEL
1            DEL
2            DEL
3            DEL
4          13630
5          12633
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 470, dtype: object
id_user    12999
0            DEL
1            DEL
2            DEL
3            DEL
4          13630
5          12633
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 470, dtype: object
id_user    13000
0          16873
1            DEL
2            DEL
3          17139
4            DEL
5            DEL
6            DEL
7            DEL
8          12500
9            DEL
10           DEL
11           DEL
12           DEL
Name: 471, dtype: object
id_user    13000
0          16873
1            DEL
2            DEL
3          17139
4            DEL
5            DEL
6            DEL
7            DEL
8          12500
9            DEL
10           DEL
11           DEL
12           DEL
Name: 471, dtype: object
id_user    13000
0          16873
1            DEL
2            DEL
3          17139
4            DEL
5            DEL
6            DEL
7            DEL
8          12500
9            DEL
10           DEL
11           DEL
12           DEL
Name: 471, dtype: object

Name: 481, dtype: object
id_user    13016
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          12885
9          14901
10           DEL
11           DEL
12           DEL
Name: 482, dtype: object
id_user    13016
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          12885
9          14901
10           DEL
11           DEL
12           DEL
Name: 482, dtype: object
id_user    13018
0            DEL
1            DEL
2          14231
3          13021
4          13018
5          14447
6          12567
7          16255
8          13355
9          13901
10         17295
11         14020
12           DEL
Name: 483, dtype: object
id_user    13018
0            DEL
1            DEL
2          14231
3          13021
4          13018
5          14447
6          12567
7          16255
8          13355
9          13901
10         17295
11         14020
12           DEL
Name: 483, dtype: object
id_user    13018
0            DEL
1            DEL
2          14231
3          13021
4          13018
5          14447
6          12567
7          16255
8          13355
9          13901
10         17295
11         14020
12           DEL
Name: 483, dtype: object
id_user    13018
0            DEL
1            DEL
2          14231
3          13021
4          13018
5          14447
6          12567
7          16255
8          13355
9          13901
10         17295
11         14020
12           DEL
Name: 483, dtype: object
id_user    13018
0            DEL
1            DEL
2          14231
3          13021
4          13018
5          14447
6          12567
7          16255
8          13355
9          13901
10         17295
11         14020
12           DEL
Name: 483, dtype: object
id_user    13018
0            DEL
1            DEL
2          14231
3          13021
4          13018
5          14447
6          12567
7          16255
8          13355
9          13901
10         17295
11         14020
12           DEL
Name: 483, dtype: object
id_user    13018
0            DEL
1            DEL
2          14231
3          13021
4          13018
5          14447
6          12567
7          16255
8          13355
9          13901
10         17295
11         14020
12           DEL
Name: 483, dtype: object
id_user    13018
0            DEL
1            DEL
2          14231
3          13021
4          13018
5          14447
6          12567
7          16255
8          13355
9          13901
10         17295
11         14020
12           DEL
Name: 483, dtype: object
id_user    13018
0            DEL
1            DEL
2          14231
3          13021
4          13018
5          14447
6          12567
7          16255
8          13355
9          13901
10         17295
11         14020
12           DEL
Name: 483, dtype: object
id_user    13018
0            DEL
1            DEL
2          14231
3          13021
4          13018
5          14447
6          12567
7          16255
8          13355
9          13901
10         17295
11         14020
12           DEL
Name: 483, dtype: object
id_user    13021
0          14621
1            DEL
2            DEL
3          13854
4            DEL
5          13835
6          17593
7            DEL
8            DEL
9          14422
10           DEL
11         15681
12         13790
Name: 484, dtype: object
id_user    13021
0          14621
1            DEL
2            DEL
3          13854
4            DEL
5          13835
6          17593
7            DEL
8            DEL
9          14422
10           DEL
11         15681
12         13790
Name: 484, dtype: object
id_user    13021
0          14621
1            DEL
2            DEL
3          13854
4            DEL
5          13835
6          17593
7            DEL
8            DEL
9          14422
10           DEL
11         15681
12         13790
Name: 484, dtype: object
id_user    13021
0          14621
1            DEL
2            DEL
3          13854
4            DEL
5          13835
6          17593
7            DEL
8            DEL
9          14422
10           DEL
11         15681
12         13790
Name: 484, dtype: object
id_user    13021
0          14621
1            DEL
2            DEL
3          13854
4            DEL
5          13835
6          17593
7            DEL
8            DEL
9          14422
10           DEL
11         15681
12         13790
Name: 484, dtype: object
id_user    13021
0          14621
1            DEL
2            DEL
3          13854
4            DEL
5          13835
6          17593
7            DEL
8            DEL
9          14422
10           DEL
11         15681
12         13790
Name: 484, dtype: object
id_user    13021
0          14621
1            DEL
2            DEL
3          13854
4            DEL
5          13835
6          17593
7            DEL
8            DEL
9          14422
10           DEL
11         15681
12         13790
Name: 484, dtype: object
id_user    13023
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          13023
9            DEL
10         13882
11           DEL
12           DEL
Name: 485, dtype: object
id_user    13023
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          13023
9            DEL
10         13882
11           DEL
12           DEL
Name: 485, dtype: object
id_user    13026
0            DEL
1            DEL
2            DEL
3          17049
4            DEL
5          13026
6            DEL
7            DEL
8            DEL
9          17004
10           DEL
11         16618
12         16523
Name: 486, dtype: object
id_user    13026
0            DEL
1            DEL
2            DEL
3          17049
4            DEL
5          13026
6            DEL
7            DEL
8            DEL
9          17004
10           DEL
11         16618
12         16523
Name: 486, dtype: object
id_user    13026
0            DEL
1            DEL
2            DEL
3          17049
4            DEL
5          13026
6            DEL
7            DEL
8            DEL
9          17004
10           DEL
11         16618
12         16523
Name: 486, dtype: object
id_user    13026
0            DEL
1            DEL
2            DEL
3          17049
4            DEL
5          13026
6            DEL
7            DEL
8            DEL
9          17004
10           DEL
11         16618
12         16523
Name: 486, dtype: object
id_user    13026
0            DEL
1            DEL
2            DEL
3          17049
4            DEL
5          13026
6            DEL
7            DEL
8            DEL
9          17004
10           DEL
11         16618
12         16523
Name: 486, dtype: object
id_user    13027
0          13027
1            DEL
2            DEL
3          13027
4          13027
5            DEL
6            DEL
7          13027
8          13027
9            DEL
10           DEL
11           DEL
12           DEL
Name: 487, dtype: object
id_user    13027
0          13027
1            DEL
2            DEL
3          13027
4          13027
5            DEL
6            DEL
7          13027
8          13027
9            DEL
10           DEL
11           DEL
12           DEL
Name: 487, dtype: object
id_user    13027
0          13027
1            DEL
2            DEL
3          13027
4          13027
5            DEL
6            DEL
7          13027
8          13027
9            DEL
10           DEL
11           DEL
12           DEL
Name: 487, dtype: object
id_user    13027
0          13027
1            DEL
2            DEL
3          13027
4          13027
5            DEL
6            DEL
7          13027
8          13027
9            DEL
10           DEL
11           DEL
12           DEL
Name: 487, dtype: object
id_user    13027
0          13027
1            DEL
2            DEL
3          13027
4          13027
5            DEL
6            DEL
7          13027
8          13027
9            DEL
10           DEL
11           DEL
12           DEL
Name: 487, dtype: object
id_user    13028
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         15630
11         16186
12           DEL
Name: 488, dtype: object
id_user    13028
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         15630
11         16186
12           DEL
Name: 488, dtype: object
id_user    13029
0          13029
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          17649
8            DEL
9            DEL
10           DEL
11         14621
12           DEL
Name: 489, dtype: object
id_user    13029
0          13029
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          17649
8            DEL
9            DEL
10           DEL
11         14621
12           DEL
Name: 489, dtype: object
id_user    13029
0          13029
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          17649
8            DEL
9            DEL
10           DEL
11         14621
12           DEL
Name: 489, dtype: object
id_user    13030
0          16719
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         15721
12           DEL
Name: 490, dtype: object
id_user    13030
0          16719
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         15721
12           DEL
Name: 490, dtype: object
id_user    13032
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          15343
10         14554
11           DEL
12           DEL
Name: 491, dtype: object
id_user    13032
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          15343
10         14554
11           DEL
12           DEL
Name: 491, dtype: object
id_user    13033
0          15570
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 492, dtype: object
id_user    13034
0          17243
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         16052
11           DEL
12           DEL
Name: 493, dtype: object
id_user    13034
0          17243
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         16052
11           DEL
12           DEL
Name: 493, dtype: object
id_user    13035
0            DEL
1            DEL
2            DEL
3          15641
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          15674
10           DEL
11           DEL
12           DEL
Name: 494, dtype: object
id_user    13035
0            DEL
1            DEL
2            DEL
3          15641
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          15674
10           DEL
11           DEL
12           DEL
Name: 494, dtype: object
id_user    13037
0            DEL
1            DEL
2            DEL
3          17917
4            DEL
5          12836
6            DEL
7          16458
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 495, dtype: object
id_user    13037
0            DEL
1            DEL
2            DEL
3          17917
4            DEL
5          12836
6            DEL
7          16458
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 495, dtype: object
id_user    13037
0            DEL
1            DEL
2            DEL
3          17917
4            DEL
5          12836
6            DEL
7          16458
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 495, dtype: object
id_user    13038
0            DEL
1            DEL
2          16045
3            DEL
4            DEL
5            DEL
6          13265
7            DEL
8            DEL
9          16700
10           DEL
11           DEL
12           DEL
Name: 496, dtype: object
id_user    13038
0            DEL
1            DEL
2          16045
3            DEL
4            DEL
5            DEL
6          13265
7            DEL
8            DEL
9          16700
10           DEL
11           DEL
12           DEL
Name: 496, dtype: object
id_user    13038
0            DEL
1            DEL
2          16045
3            DEL
4            DEL
5            DEL
6          13265
7            DEL
8            DEL
9          16700
10           DEL
11           DEL
12           DEL
Name: 496, dtype: object
id_user    13040
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14174
12         12569
Name: 497, dtype: object
id_user    13040
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14174
12         12569
Name: 497, dtype: object
id_user    13043
0            DEL
1            DEL
2            DEL
3          14329
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 498, dtype: object
id_user    13044
0            DEL
1            DEL
2          12707
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 499, dtype: object
id_user    13045
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          14092
10           DEL
11           DEL
12           DEL
Name: 500, dtype: object
id_user    13046
0            DEL
1            DEL
2            DEL
3          14633
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         15031
12           DEL
Name: 501, dtype: object
id_user    13046
0            DEL
1            DEL
2            DEL
3          14633
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         15031
12           DEL
Name: 501, dtype: object
id_user    13047
0          15525
1            DEL
2          13581
3          13078
4            DEL
5          14245
6          16880
7            DEL
8          15254
9            DEL
10         14567
11         16284
12           DEL
Name: 502, dtype: object
id_user    13047
0          15525
1            DEL
2          13581
3          13078
4            DEL
5          14245
6          16880
7            DEL
8          15254
9            DEL
10         14567
11         16284
12           DEL
Name: 502, dtype: object
id_user    13047
0          15525
1            DEL
2          13581
3          13078
4            DEL
5          14245
6          16880
7            DEL
8          15254
9            DEL
10         14567
11         16284
12           DEL
Name: 502, dtype: object
id_user    13047
0          15525
1            DEL
2          13581
3          13078
4            DEL
5          14245
6          16880
7            DEL
8          15254
9            DEL
10         14567
11         16284
12           DEL
Name: 502, dtype: object
id_user    13047
0          15525
1            DEL
2          13581
3          13078
4            DEL
5          14245
6          16880
7            DEL
8          15254
9            DEL
10         14567
11         16284
12           DEL
Name: 502, dtype: object
id_user    13047
0          15525
1            DEL
2          13581
3          13078
4            DEL
5          14245
6          16880
7            DEL
8          15254
9            DEL
10         14567
11         16284
12           DEL
Name: 502, dtype: object
id_user    13047
0          15525
1            DEL
2          13581
3          13078
4            DEL
5          14245
6          16880
7            DEL
8          15254
9            DEL
10         14567
11         16284
12           DEL
Name: 502, dtype: object
id_user    13047
0          15525
1            DEL
2          13581
3          13078
4            DEL
5          14245
6          16880
7            DEL
8          15254
9            DEL
10         14567
11         16284
12           DEL
Name: 502, dtype: object
id_user    13048
0            DEL
1          13048
2            DEL
3            DEL
4          14323
5            DEL
6            DEL
7            DEL
8          15144
9            DEL
10           DEL
11         16458
12           DEL
Name: 503, dtype: object
id_user    13048
0            DEL
1          13048
2            DEL
3            DEL
4          14323
5            DEL
6            DEL
7            DEL
8          15144
9            DEL
10           DEL
11         16458
12           DEL
Name: 503, dtype: object
id_user    13048
0            DEL
1          13048
2            DEL
3            DEL
4          14323
5            DEL
6            DEL
7            DEL
8          15144
9            DEL
10           DEL
11         16458
12           DEL
Name: 503, dtype: object
id_user    13048
0            DEL
1          13048
2            DEL
3            DEL
4          14323
5            DEL
6            DEL
7            DEL
8          15144
9            DEL
10           DEL
11         16458
12           DEL
Name: 503, dtype: object
id_user    13049
0            DEL
1          14341
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         15300
11           DEL
12           DEL
Name: 504, dtype: object
id_user    13049
0            DEL
1          14341
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         15300
11           DEL
12           DEL
Name: 504, dtype: object
id_user    13050
0          12377
1          13659
2          16951
3          12831
4            DEL
5          15791
6          16393
7          17738
8          13236
9            DEL
10         13050
11         12438
12           DEL
Name: 505, dtype: object
id_user    13050
0          12377
1          13659
2          16951
3          12831
4            DEL
5          15791
6          16393
7          17738
8          13236
9            DEL
10         13050
11         12438
12           DEL
Name: 505, dtype: object
id_user    13050
0          12377
1          13659
2          16951
3          12831
4            DEL
5          15791
6          16393
7          17738
8          13236
9            DEL
10         13050
11         12438
12           DEL
Name: 505, dtype: object
id_user    13050
0          12377
1          13659
2          16951
3          12831
4            DEL
5          15791
6          16393
7          17738
8          13236
9            DEL
10         13050
11         12438
12           DEL

Name: 531, dtype: object
id_user    13093
0          13534
1          13993
2          13093
3          16221
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 531, dtype: object
id_user    13094
0          13094
1          13094
2          13094
3          13094
4            DEL
5          16389
6          15192
7          13599
8          13094
9          14866
10           DEL
11         13094
12           DEL
Name: 532, dtype: object
id_user    13094
0          13094
1          13094
2          13094
3          13094
4            DEL
5          16389
6          15192
7          13599
8          13094
9          14866
10           DEL
11         13094
12           DEL
Name: 532, dtype: object
id_user    13094
0          13094
1          13094
2          13094
3          13094
4            DEL
5          16389
6          15192
7          13599
8          13094
9          14866
10           DEL
11         13094
12           DEL
Name: 532, dtype: object
id_user    13094
0          13094
1          13094
2          13094
3          13094
4            DEL
5          16389
6          15192
7          13599
8          13094
9          14866
10           DEL
11         13094
12           DEL
Name: 532, dtype: object
id_user    13094
0          13094
1          13094
2          13094
3          13094
4            DEL
5          16389
6          15192
7          13599
8          13094
9          14866
10           DEL
11         13094
12           DEL
Name: 532, dtype: object
id_user    13094
0          13094
1          13094
2          13094
3          13094
4            DEL
5          16389
6          15192
7          13599
8          13094
9          14866
10           DEL
11         13094
12           DEL
Name: 532, dtype: object
id_user    13094
0          13094
1          13094
2          13094
3          13094
4            DEL
5          16389
6          15192
7          13599
8          13094
9          14866
10           DEL
11         13094
12           DEL
Name: 532, dtype: object
id_user    13094
0          13094
1          13094
2          13094
3          13094
4            DEL
5          16389
6          15192
7          13599
8          13094
9          14866
10           DEL
11         13094
12           DEL
Name: 532, dtype: object
id_user    13094
0          13094
1          13094
2          13094
3          13094
4            DEL
5          16389
6          15192
7          13599
8          13094
9          14866
10           DEL
11         13094
12           DEL
Name: 532, dtype: object
id_user    13094
0          13094
1          13094
2          13094
3          13094
4            DEL
5          16389
6          15192
7          13599
8          13094
9          14866
10           DEL
11         13094
12           DEL
Name: 532, dtype: object
id_user    13095
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          14422
10           DEL
11           DEL
12           DEL
Name: 533, dtype: object
id_user    13097
0          18219
1          13576
2          13246
3          14758
4          17530
5            DEL
6          13240
7            DEL
8          17302
9          14014
10           DEL
11         14426
12           DEL
Name: 534, dtype: object
id_user    13097
0          18219
1          13576
2          13246
3          14758
4          17530
5            DEL
6          13240
7            DEL
8          17302
9          14014
10           DEL
11         14426
12           DEL
Name: 534, dtype: object
id_user    13097
0          18219
1          13576
2          13246
3          14758
4          17530
5            DEL
6          13240
7            DEL
8          17302
9          14014
10           DEL
11         14426
12           DEL
Name: 534, dtype: object
id_user    13097
0          18219
1          13576
2          13246
3          14758
4          17530
5            DEL
6          13240
7            DEL
8          17302
9          14014
10           DEL
11         14426
12           DEL
Name: 534, dtype: object
id_user    13097
0          18219
1          13576
2          13246
3          14758
4          17530
5            DEL
6          13240
7            DEL
8          17302
9          14014
10           DEL
11         14426
12           DEL
Name: 534, dtype: object
id_user    13097
0          18219
1          13576
2          13246
3          14758
4          17530
5            DEL
6          13240
7            DEL
8          17302
9          14014
10           DEL
11         14426
12           DEL
Name: 534, dtype: object
id_user    13097
0          18219
1          13576
2          13246
3          14758
4          17530
5            DEL
6          13240
7            DEL
8          17302
9          14014
10           DEL
11         14426
12           DEL
Name: 534, dtype: object
id_user    13097
0          18219
1          13576
2          13246
3          14758
4          17530
5            DEL
6          13240
7            DEL
8          17302
9          14014
10           DEL
11         14426
12           DEL
Name: 534, dtype: object
id_user    13097
0          18219
1          13576
2          13246
3          14758
4          17530
5            DEL
6          13240
7            DEL
8          17302
9          14014
10           DEL
11         14426
12           DEL
Name: 534, dtype: object
id_user    13101
0            DEL
1            DEL
2            DEL
3            DEL
4          15594
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 535, dtype: object
id_user    13102
0          16899
1          13102
2          12567
3          16710
4          14446
5          15804
6          17001
7          13138
8            DEL
9          16460
10         12678
11         16916
12         15796
Name: 536, dtype: object
id_user    13102
0          16899
1          13102
2          12567
3          16710
4          14446
5          15804
6          17001
7          13138
8            DEL
9          16460
10         12678
11         16916
12         15796
Name: 536, dtype: object
id_user    13102
0          16899
1          13102
2          12567
3          16710
4          14446
5          15804
6          17001
7          13138
8            DEL
9          16460
10         12678
11         16916
12         15796
Name: 536, dtype: object
id_user    13102
0          16899
1          13102
2          12567
3          16710
4          14446
5          15804
6          17001
7          13138
8            DEL
9          16460
10         12678
11         16916
12         15796
Name: 536, dtype: object
id_user    13102
0          16899
1          13102
2          12567
3          16710
4          14446
5          15804
6          17001
7          13138
8            DEL
9          16460
10         12678
11         16916
12         15796
Name: 536, dtype: object
id_user    13102
0          16899
1          13102
2          12567
3          16710
4          14446
5          15804
6          17001
7          13138
8            DEL
9          16460
10         12678
11         16916
12         15796
Name: 536, dtype: object
id_user    13102
0          16899
1          13102
2          12567
3          16710
4          14446
5          15804
6          17001
7          13138
8            DEL
9          16460
10         12678
11         16916
12         15796
Name: 536, dtype: object
id_user    13102
0          16899
1          13102
2          12567
3          16710
4          14446
5          15804
6          17001
7          13138
8            DEL
9          16460
10         12678
11         16916
12         15796
Name: 536, dtype: object
id_user    13102
0          16899
1          13102
2          12567
3          16710
4          14446
5          15804
6          17001
7          13138
8            DEL
9          16460
10         12678
11         16916
12         15796
Name: 536, dtype: object
id_user    13102
0          16899
1          13102
2          12567
3          16710
4          14446
5          15804
6          17001
7          13138
8            DEL
9          16460
10         12678
11         16916
12         15796
Name: 536, dtype: object
id_user    13102
0          16899
1          13102
2          12567
3          16710
4          14446
5          15804
6          17001
7          13138
8            DEL
9          16460
10         12678
11         16916
12         15796
Name: 536, dtype: object
id_user    13102
0          16899
1          13102
2          12567
3          16710
4          14446
5          15804
6          17001
7          13138
8            DEL
9          16460
10         12678
11         16916
12         15796
Name: 536, dtype: object
id_user    13103
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         16836
11           DEL
12           DEL
Name: 537, dtype: object
id_user    13104
0          13104
1            DEL
2            DEL
3          15433
4            DEL
5            DEL
6            DEL
7          14005
8            DEL
9          14894
10         15482
11           DEL
12         17744
Name: 538, dtype: object
id_user    13104
0          13104
1            DEL
2            DEL
3          15433
4            DEL
5            DEL
6            DEL
7          14005
8            DEL
9          14894
10         15482
11           DEL
12         17744
Name: 538, dtype: object
id_user    13104
0          13104
1            DEL
2            DEL
3          15433
4            DEL
5            DEL
6            DEL
7          14005
8            DEL
9          14894
10         15482
11           DEL
12         17744
Name: 538, dtype: object
id_user    13104
0          13104
1            DEL
2            DEL
3          15433
4            DEL
5            DEL
6            DEL
7          14005
8            DEL
9          14894
10         15482
11           DEL
12         17744
Name: 538, dtype: object
id_user    13104
0          13104
1            DEL
2            DEL
3          15433
4            DEL
5            DEL
6            DEL
7          14005
8            DEL
9          14894
10         15482
11           DEL
12         17744
Name: 538, dtype: object
id_user    13104
0          13104
1            DEL
2            DEL
3          15433
4            DEL
5            DEL
6            DEL
7          14005
8            DEL
9          14894
10         15482
11           DEL
12         17744
Name: 538, dtype: object
id_user    13107
0            DEL
1          16303
2            DEL
3            DEL
4            DEL
5            DEL
6          12408
7            DEL
8            DEL
9          15322
10         13107
11           DEL
12           DEL
Name: 539, dtype: object
id_user    13107
0            DEL
1          16303
2            DEL
3            DEL
4            DEL
5            DEL
6          12408
7            DEL
8            DEL
9          15322
10         13107
11           DEL
12           DEL
Name: 539, dtype: object
id_user    13107
0            DEL
1          16303
2            DEL
3            DEL
4            DEL
5            DEL
6          12408
7            DEL
8            DEL
9          15322
10         13107
11           DEL
12           DEL
Name: 539, dtype: object
id_user    13107
0            DEL
1          16303
2            DEL
3            DEL
4            DEL
5            DEL
6          12408
7            DEL
8            DEL
9          15322
10         13107
11           DEL
12           DEL
Name: 539, dtype: object
id_user    13108
0          17838
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 540, dtype: object
id_user    13109
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          17049
8            DEL
9            DEL
10         14175
11           DEL
12           DEL
Name: 541, dtype: object
id_user    13109
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          17049
8            DEL
9            DEL
10         14175
11           DEL
12           DEL
Name: 541, dtype: object
id_user    13110
0            DEL
1            DEL
2          16110
3          13110
4            DEL
5            DEL
6            DEL
7          16364
8            DEL
9            DEL
10         15012
11         17633
12           DEL
Name: 542, dtype: object
id_user    13110
0            DEL
1            DEL
2          16110
3          13110
4            DEL
5            DEL
6            DEL
7          16364
8            DEL
9            DEL
10         15012
11         17633
12           DEL
Name: 542, dtype: object
id_user    13110
0            DEL
1            DEL
2          16110
3          13110
4            DEL
5            DEL
6            DEL
7          16364
8            DEL
9            DEL
10         15012
11         17633
12           DEL
Name: 542, dtype: object
id_user    13110
0            DEL
1            DEL
2          16110
3          13110
4            DEL
5            DEL
6            DEL
7          16364
8            DEL
9            DEL
10         15012
11         17633
12           DEL
Name: 542, dtype: object
id_user    13110
0            DEL
1            DEL
2          16110
3          13110
4            DEL
5            DEL
6            DEL
7          16364
8            DEL
9            DEL
10         15012
11         17633
12           DEL
Name: 542, dtype: object
id_user    13113
0          14032
1          12472
2          13421
3          17400
4          13113
5          12594
6          16316
7            DEL
8          17736
9            DEL
10         13870
11         12438
12         12423
Name: 543, dtype: object
id_user    13113
0          14032
1          12472
2          13421
3          17400
4          13113
5          12594
6          16316
7            DEL
8          17736
9            DEL
10         13870
11         12438
12         12423
Name: 543, dtype: object
id_user    13113
0          14032
1          12472
2          13421
3          17400
4          13113
5          12594
6          16316
7            DEL
8          17736
9            DEL
10         13870
11         12438
12         12423
Name: 543, dtype: object
id_user    13113
0          14032
1          12472
2          13421
3          17400
4          13113
5          12594
6          16316
7            DEL
8          17736
9            DEL
10         13870
11         12438
12         12423
Name: 543, dtype: object
id_user    13113
0          14032
1          12472
2          13421
3          17400
4          13113
5          12594
6          16316
7            DEL
8          17736
9            DEL
10         13870
11         12438
12         12423
Name: 543, dtype: object
id_user    13113
0          14032
1          12472
2          13421
3          17400
4          13113
5          12594
6          16316
7            DEL
8          17736
9            DEL
10         13870
11         12438
12         12423
Name: 543, dtype: object
id_user    13113
0          14032
1          12472
2          13421
3          17400
4          13113
5          12594
6          16316
7            DEL
8          17736
9            DEL
10         13870
11         12438
12         12423
Name: 543, dtype: object

id_user    13113
0          14032
1          12472
2          13421
3          17400
4          13113
5          12594
6          16316
7            DEL
8          17736
9            DEL
10         13870
11         12438
12         12423
Name: 543, dtype: object
id_user    13113
0          14032
1          12472
2          13421
3          17400
4          13113
5          12594
6          16316
7            DEL
8          17736
9            DEL
10         13870
11         12438
12         12423
Name: 543, dtype: object
id_user    13113
0          14032
1          12472
2          13421
3          17400
4          13113
5          12594
6          16316
7            DEL
8          17736
9            DEL
10         13870
11         12438
12         12423
Name: 543, dtype: object
id_user    13113
0          14032
1          12472
2          13421
3          17400
4          13113
5          12594
6          16316
7            DEL
8          17736
9            DEL
10         13870
11         12438
12         12423
Name: 543, dtype: object
id_user    13115
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          16955
7            DEL
8            DEL
9            DEL
10         12477
11         14893
12           DEL
Name: 544, dtype: object
id_user    13115
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          16955
7            DEL
8            DEL
9            DEL
10         12477
11         14893
12           DEL
Name: 544, dtype: object
id_user    13115
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          16955
7            DEL
8            DEL
9            DEL
10         12477
11         14893
12           DEL
Name: 544, dtype: object
id_user    13116
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          17649
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 545, dtype: object
id_user    13117
0          14713
1          12935
2            DEL
3          15752
4          16523
5          14659
6            DEL
7            DEL
8          13919
9            DEL
10           DEL
11         12578
12           DEL
Name: 546, dtype: object
id_user    13117
0          14713
1          12935
2            DEL
3          15752
4          16523
5          14659
6            DEL
7            DEL
8          13919
9            DEL
10           DEL
11         12578
12           DEL
Name: 546, dtype: object
id_user    13117
0          14713
1          12935
2            DEL
3          15752
4          16523
5          14659
6            DEL
7            DEL
8          13919
9            DEL
10           DEL
11         12578
12           DEL
Name: 546, dtype: object
id_user    13117
0          14713
1          12935
2            DEL
3          15752
4          16523
5          14659
6            DEL
7            DEL
8          13919
9            DEL
10           DEL
11         12578
12           DEL
Name: 546, dtype: object
id_user    13117
0          14713
1          12935
2            DEL
3          15752
4          16523
5          14659
6            DEL
7            DEL
8          13919
9            DEL
10           DEL
11         12578
12           DEL
Name: 546, dtype: object
id_user    13117
0          14713
1          12935
2            DEL
3          15752
4          16523
5          14659
6            DEL
7            DEL
8          13919
9            DEL
10           DEL
11         12578
12           DEL
Name: 546, dtype: object
id_user    13117
0          14713
1          12935
2            DEL
3          15752
4          16523
5          14659
6            DEL
7            DEL
8          13919
9            DEL
10           DEL
11         12578
12           DEL
Name: 546, dtype: object
id_user    13118
0            DEL
1            DEL
2          14231
3          17365
4            DEL
5          12599
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         12540
12           DEL
Name: 547, dtype: object
id_user    13118
0            DEL
1            DEL
2          14231
3          17365
4            DEL
5          12599
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         12540
12           DEL
Name: 547, dtype: object
id_user    13118
0            DEL
1            DEL
2          14231
3          17365
4            DEL
5          12599
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         12540
12           DEL
Name: 547, dtype: object
id_user    13118
0            DEL
1            DEL
2          14231
3          17365
4            DEL
5          12599
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         12540
12           DEL
Name: 547, dtype: object
id_user    13121
0            DEL
1            DEL
2            DEL
3          17954
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 548, dtype: object
id_user    13122
0            DEL
1            DEL
2            DEL
3            DEL
4          16224
5            DEL
6            DEL
7            DEL
8            DEL
9          12720
10           DEL
11           DEL
12           DEL
Name: 549, dtype: object
id_user    13122
0            DEL
1            DEL
2            DEL
3            DEL
4          16224
5            DEL
6            DEL
7            DEL
8            DEL
9          12720
10           DEL
11           DEL
12           DEL
Name: 549, dtype: object
id_user    13124
0          15290
1            DEL
2            DEL
3            DEL
4          16592
5            DEL
6            DEL
7            DEL
8            DEL
9          12680
10           DEL
11           DEL
12           DEL
Name: 550, dtype: object
id_user    13124
0          15290
1            DEL
2            DEL
3            DEL
4          16592
5            DEL
6            DEL
7            DEL
8            DEL
9          12680
10           DEL
11           DEL
12           DEL
Name: 550, dtype: object
id_user    13124
0          15290
1            DEL
2            DEL
3            DEL
4          16592
5            DEL
6            DEL
7            DEL
8            DEL
9          12680
10           DEL
11           DEL
12           DEL
Name: 550, dtype: object
id_user    13126
0          13050
1          17585
2            DEL
3          16398
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          13505
10         16345
11           DEL
12         15932
Name: 551, dtype: object
id_user    13126
0          13050
1          17585
2            DEL
3          16398
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          13505
10         16345
11           DEL
12         15932
Name: 551, dtype: object
id_user    13126
0          13050
1          17585
2            DEL
3          16398
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          13505
10         16345
11           DEL
12         15932
Name: 551, dtype: object
id_user    13126
0          13050
1          17585
2            DEL
3          16398
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          13505
10         16345
11           DEL
12         15932
Name: 551, dtype: object
id_user    13126
0          13050
1          17585
2            DEL
3          16398
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          13505
10         16345
11           DEL
12         15932
Name: 551, dtype: object
id_user    13126
0          13050
1          17585
2            DEL
3          16398
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          13505
10         16345
11           DEL
12         15932
Name: 551, dtype: object
id_user    13127
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          15475
10           DEL
11           DEL
12           DEL
Name: 552, dtype: object
id_user    13131
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          12468
7            DEL
8            DEL
9          13985
10           DEL
11         12731
12           DEL
Name: 553, dtype: object
id_user    13131
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          12468
7            DEL
8            DEL
9          13985
10           DEL
11         12731
12           DEL
Name: 553, dtype: object
id_user    13131
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          12468
7            DEL
8            DEL
9          13985
10           DEL
11         12731
12           DEL
Name: 553, dtype: object
id_user    13133
0            DEL
1            DEL
2          16553
3          14329
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 554, dtype: object
id_user    13133
0            DEL
1            DEL
2          16553
3          14329
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 554, dtype: object
id_user    13134
0            DEL
1            DEL
2            DEL
3            DEL
4          16919
5            DEL
6          17576
7            DEL
8            DEL
9          14306
10           DEL
11           DEL
12           DEL
Name: 555, dtype: object
id_user    13134
0            DEL
1            DEL
2            DEL
3            DEL
4          16919
5            DEL
6          17576
7            DEL
8            DEL
9          14306
10           DEL
11           DEL
12           DEL
Name: 555, dtype: object
id_user    13134
0            DEL
1            DEL
2            DEL
3            DEL
4          16919
5            DEL
6          17576
7            DEL
8            DEL
9          14306
10           DEL
11           DEL
12           DEL
Name: 555, dtype: object
id_user    13136
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          14277
6            DEL
7          12520
8            DEL
9          12619
10         14595
11           DEL
12           DEL
Name: 556, dtype: object
id_user    13136
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          14277
6            DEL
7          12520
8            DEL
9          12619
10         14595
11           DEL
12           DEL
Name: 556, dtype: object
id_user    13136
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          14277
6            DEL
7          12520
8            DEL
9          12619
10         14595
11           DEL
12           DEL
Name: 556, dtype: object
id_user    13136
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          14277
6            DEL
7          12520
8            DEL
9          12619
10         14595
11           DEL
12           DEL
Name: 556, dtype: object
id_user    13138
0          15601
1            DEL
2            DEL
3            DEL
4          15147
5            DEL
6            DEL
7          14735
8            DEL
9          17863
10         16728
11         14034
12           DEL
Name: 557, dtype: object
id_user    13138
0          15601
1            DEL
2            DEL
3            DEL
4          15147
5            DEL
6            DEL
7          14735
8            DEL
9          17863
10         16728
11         14034
12           DEL
Name: 557, dtype: object
id_user    13138
0          15601
1            DEL
2            DEL
3            DEL
4          15147
5            DEL
6            DEL
7          14735
8            DEL
9          17863
10         16728
11         14034
12           DEL
Name: 557, dtype: object
id_user    13138
0          15601
1            DEL
2            DEL
3            DEL
4          15147
5            DEL
6            DEL
7          14735
8            DEL
9          17863
10         16728
11         14034
12           DEL
Name: 557, dtype: object
id_user    13138
0          15601
1            DEL
2            DEL
3            DEL
4          15147
5            DEL
6            DEL
7          14735
8            DEL
9          17863
10         16728
11         14034
12           DEL
Name: 557, dtype: object
id_user    13138
0          15601
1            DEL
2            DEL
3            DEL
4          15147
5            DEL
6            DEL
7          14735
8            DEL
9          17863
10         16728
11         14034
12           DEL
Name: 557, dtype: object
id_user    13139
0            DEL
1            DEL
2            DEL
3          13139
4            DEL
5          15421
6            DEL
7            DEL
8          17676
9          13901
10           DEL
11         13139
12           DEL
Name: 558, dtype: object
id_user    13139
0            DEL
1            DEL
2            DEL
3          13139
4            DEL
5          15421
6            DEL
7            DEL
8          17676
9          13901
10           DEL
11         13139
12           DEL
Name: 558, dtype: object
id_user    13139
0            DEL
1            DEL
2            DEL
3          13139
4            DEL
5          15421
6            DEL
7            DEL
8          17676
9          13901
10           DEL
11         13139
12           DEL
Name: 558, dtype: object
id_user    13139
0            DEL
1            DEL
2            DEL
3          13139
4            DEL
5          15421
6            DEL
7            DEL
8          17676
9          13901
10           DEL
11         13139
12           DEL
Name: 558, dtype: object
id_user    13139
0            DEL
1            DEL
2            DEL
3          13139
4            DEL
5          15421
6            DEL
7            DEL
8          17676
9          13901
10           DEL
11         13139
12           DEL
Name: 558, dtype: object
id_user    13140
0          13113
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          17315
9            DEL
10           DEL
11           DEL
12           DEL
Name: 559, dtype: object
id_user    13140
0          13113
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          17315
9            DEL
10           DEL
11           DEL
12           DEL
Name: 559, dtype: object
id_user    13141
0            DEL
1          12726
2            DEL
3            DEL
4          13719
5          17612
6            DEL
7            DEL
8            DEL
9          13141
10           DEL
11           DEL
12           DEL
Name: 560, dtype: object
id_user    13141
0            DEL
1          12726
2            DEL
3            DEL
4          13719
5          17612
6            DEL
7            DEL
8            DEL
9          13141
10           DEL
11           DEL
12           DEL
Name: 560, dtype: object
id_user    13141
0            DEL
1          12726
2            DEL
3            DEL
4          13719
5          17612
6            DEL
7            DEL
8            DEL
9          13141
10           DEL
11           DEL
12           DEL
Name: 560, dtype: object
id_user    13141
0            DEL
1          12726
2            DEL
3            DEL
4          13719
5          17612
6            DEL
7            DEL
8            DEL
9          13141
10           DEL
11           DEL
12           DEL
Name: 560, dtype: object
id_user    13142
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14071
12           DEL
Name: 561, dtype: object
id_user    13145
0          15574
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          18172
9          12637
10         12347
11           DEL
12           DEL
Name: 562, dtype: object
id_user    13145
0          15574
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          18172
9          12637
10         12347
11           DEL
12           DEL
Name: 562, dtype: object
id_user    13145
0          15574
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          18172
9          12637
10         12347
11           DEL
12           DEL
Name: 562, dtype: object
id_user    13145
0          15574
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          18172
9          12637
10         12347
11           DEL
12           DEL
Name: 562, dtype: object
id_user    13146
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         16571
12           DEL
Name: 563, dtype: object
id_user    13148
0          17880
1          13148
2            DEL
3          17019
4          14961
5            DEL
6            DEL
7          16775
8            DEL
9            DEL
10           DEL
11         17340
12           DEL
Name: 564, dtype: object
id_user    13148
0          17880
1          13148
2            DEL
3          17019
4          14961
5            DEL
6            DEL
7          16775
8            DEL
9            DEL
10           DEL
11         17340
12           DEL
Name: 564, dtype: object
id_user    13148
0          17880
1          13148
2            DEL
3          17019
4          14961
5            DEL
6            DEL
7          16775
8            DEL
9            DEL
10           DEL
11         17340
12           DEL
Name: 564, dtype: object
id_user    13148
0          17880
1          13148
2            DEL
3          17019
4          14961
5            DEL
6            DEL
7          16775
8            DEL
9            DEL
10           DEL
11         17340
12           DEL
Name: 564, dtype: object
id_user    13148
0          17880
1          13148
2            DEL
3          17019
4          14961
5            DEL
6            DEL
7          16775
8            DEL
9            DEL
10           DEL
11         17340
12           DEL
Name: 564, dtype: object
id_user    13148
0          17880
1          13148
2            DEL
3          17019
4          14961
5            DEL
6            DEL
7          16775
8            DEL
9            DEL
10           DEL
11         17340
12           DEL
Name: 564, dtype: object
id_user    13149
0            DEL
1            DEL
2          13804
3            DEL
4            DEL
5            DEL
6            DEL
7          12528
8          16779
9            DEL
10           DEL
11         17385
12           DEL
Name: 565, dtype: object
id_user    13149
0            DEL
1            DEL
2          13804
3            DEL
4            DEL
5            DEL
6            DEL
7          12528
8          16779
9            DEL
10           DEL
11         17385
12           DEL

Name: 565, dtype: object
id_user    13149
0            DEL
1            DEL
2          13804
3            DEL
4            DEL
5            DEL
6            DEL
7          12528
8          16779
9            DEL
10           DEL
11         17385
12           DEL
Name: 565, dtype: object
id_user    13149
0            DEL
1            DEL
2          13804
3            DEL
4            DEL
5            DEL
6            DEL
7          12528
8          16779
9            DEL
10           DEL
11         17385
12           DEL
Name: 565, dtype: object
id_user    13151
0            DEL
1            DEL
2          17576
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 566, dtype: object
id_user    13153
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12         13153
Name: 567, dtype: object
id_user    13155
0          16719
1          13769
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          17758
10           DEL
11         14511
12           DEL
Name: 568, dtype: object
id_user    13155
0          16719
1          13769
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          17758
10           DEL
11         14511
12           DEL
Name: 568, dtype: object
id_user    13155
0          16719
1          13769
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          17758
10           DEL
11         14511
12           DEL
Name: 568, dtype: object
id_user    13155
0          16719
1          13769
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          17758
10           DEL
11         14511
12           DEL
Name: 568, dtype: object
id_user    13157
0            DEL
1            DEL
2          16701
3            DEL
4          17278
5            DEL
6            DEL
7          14849
8            DEL
9            DEL
10         15819
11           DEL
12           DEL
Name: 569, dtype: object
id_user    13157
0            DEL
1            DEL
2          16701
3            DEL
4          17278
5            DEL
6            DEL
7          14849
8            DEL
9            DEL
10         15819
11           DEL
12           DEL
Name: 569, dtype: object
id_user    13157
0            DEL
1            DEL
2          16701
3            DEL
4          17278
5            DEL
6            DEL
7          14849
8            DEL
9            DEL
10         15819
11           DEL
12           DEL
Name: 569, dtype: object
id_user    13157
0            DEL
1            DEL
2          16701
3            DEL
4          17278
5            DEL
6            DEL
7          14849
8            DEL
9            DEL
10         15819
11           DEL
12           DEL
Name: 569, dtype: object
id_user    13158
0            DEL
1          14341
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          16743
8          12381
9          13949
10           DEL
11           DEL
12           DEL
Name: 570, dtype: object
id_user    13158
0            DEL
1          14341
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          16743
8          12381
9          13949
10           DEL
11           DEL
12           DEL
Name: 570, dtype: object
id_user    13158
0            DEL
1          14341
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          16743
8          12381
9          13949
10           DEL
11           DEL
12           DEL
Name: 570, dtype: object
id_user    13158
0            DEL
1          14341
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          16743
8          12381
9          13949
10           DEL
11           DEL
12           DEL
Name: 570, dtype: object
id_user    13159
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          12841
9            DEL
10         16474
11           DEL
12         14135
Name: 571, dtype: object
id_user    13159
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          12841
9            DEL
10         16474
11           DEL
12         14135
Name: 571, dtype: object
id_user    13159
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          12841
9            DEL
10         16474
11           DEL
12         14135
Name: 571, dtype: object
id_user    13161
0            DEL
1          13148
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 572, dtype: object
id_user    13162
0            DEL
1          18260
2            DEL
3            DEL
4          15805
5            DEL
6          17360
7            DEL
8          16775
9            DEL
10           DEL
11           DEL
12           DEL
Name: 573, dtype: object
id_user    13162
0            DEL
1          18260
2            DEL
3            DEL
4          15805
5            DEL
6          17360
7            DEL
8          16775
9            DEL
10           DEL
11           DEL
12           DEL
Name: 573, dtype: object
id_user    13162
0            DEL
1          18260
2            DEL
3            DEL
4          15805
5            DEL
6          17360
7            DEL
8          16775
9            DEL
10           DEL
11           DEL
12           DEL
Name: 573, dtype: object
id_user    13162
0            DEL
1          18260
2            DEL
3            DEL
4          15805
5            DEL
6          17360
7            DEL
8          16775
9            DEL
10           DEL
11           DEL
12           DEL
Name: 573, dtype: object
id_user    13165
0          13165
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         13523
11           DEL
12           DEL
Name: 574, dtype: object
id_user    13165
0          13165
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         13523
11           DEL
12           DEL
Name: 574, dtype: object
id_user    13166
0            DEL
1            DEL
2            DEL
3          15750
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 575, dtype: object
id_user    13167
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          17419
8          12749
9            DEL
10         17652
11         15645
12           DEL
Name: 576, dtype: object
id_user    13167
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          17419
8          12749
9            DEL
10         17652
11         15645
12           DEL
Name: 576, dtype: object
id_user    13167
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          17419
8          12749
9            DEL
10         17652
11         15645
12           DEL
Name: 576, dtype: object
id_user    13167
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          17419
8          12749
9            DEL
10         17652
11         15645
12           DEL
Name: 576, dtype: object
id_user    13168
0            DEL
1          17515
2          17050
3            DEL
4            DEL
5          16709
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         15551
12           DEL
Name: 577, dtype: object
id_user    13168
0            DEL
1          17515
2          17050
3            DEL
4            DEL
5          16709
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         15551
12           DEL
Name: 577, dtype: object
id_user    13168
0            DEL
1          17515
2          17050
3            DEL
4            DEL
5          16709
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         15551
12           DEL
Name: 577, dtype: object
id_user    13168
0            DEL
1          17515
2          17050
3            DEL
4            DEL
5          16709
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         15551
12           DEL
Name: 577, dtype: object
id_user    13169
0            DEL
1            DEL
2            DEL
3            DEL
4          16609
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         16900
11           DEL
12           DEL
Name: 578, dtype: object
id_user    13169
0            DEL
1            DEL
2            DEL
3            DEL
4          16609
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         16900
11           DEL
12           DEL
Name: 578, dtype: object
id_user    13170
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         15787
12           DEL
Name: 579, dtype: object
id_user    13171
0            DEL
1            DEL
2          17255
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         17800
11         12578
12           DEL
Name: 580, dtype: object
id_user    13171
0            DEL
1            DEL
2          17255
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         17800
11         12578
12           DEL
Name: 580, dtype: object
id_user    13171
0            DEL
1            DEL
2          17255
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         17800
11         12578
12           DEL
Name: 580, dtype: object
id_user    13173
0          16059
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12         18015
Name: 581, dtype: object
id_user    13173
0          16059
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12         18015
Name: 581, dtype: object
id_user    13174
0          15708
1          14541
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         13174
12           DEL
Name: 582, dtype: object
id_user    13174
0          15708
1          14541
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         13174
12           DEL
Name: 582, dtype: object
id_user    13174
0          15708
1          14541
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         13174
12           DEL
Name: 582, dtype: object
id_user    13176
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         15482
11           DEL
12           DEL
Name: 583, dtype: object
id_user    13177
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         13090
11           DEL
12           DEL
Name: 584, dtype: object
id_user    13178
0          18219
1            DEL
2          16556
3            DEL
4          12356
5          15078
6          17629
7          12981
8            DEL
9          13178
10           DEL
11         15599
12           DEL
Name: 585, dtype: object
id_user    13178
0          18219
1            DEL
2          16556
3            DEL
4          12356
5          15078
6          17629
7          12981
8            DEL
9          13178
10           DEL
11         15599
12           DEL
Name: 585, dtype: object
id_user    13178
0          18219
1            DEL
2          16556
3            DEL
4          12356
5          15078
6          17629
7          12981
8            DEL
9          13178
10           DEL
11         15599
12           DEL
Name: 585, dtype: object
id_user    13178
0          18219
1            DEL
2          16556
3            DEL
4          12356
5          15078
6          17629
7          12981
8            DEL
9          13178
10           DEL
11         15599
12           DEL
Name: 585, dtype: object
id_user    13178
0          18219
1            DEL
2          16556
3            DEL
4          12356
5          15078
6          17629
7          12981
8            DEL
9          13178
10           DEL
11         15599
12           DEL
Name: 585, dtype: object
id_user    13178
0          18219
1            DEL
2          16556
3            DEL
4          12356
5          15078
6          17629
7          12981
8            DEL
9          13178
10           DEL
11         15599
12           DEL
Name: 585, dtype: object
id_user    13178
0          18219
1            DEL
2          16556
3            DEL
4          12356
5          15078
6          17629
7          12981
8            DEL
9          13178
10           DEL
11         15599
12           DEL
Name: 585, dtype: object
id_user    13178
0          18219
1            DEL
2          16556
3            DEL
4          12356
5          15078
6          17629
7          12981
8            DEL
9          13178
10           DEL
11         15599
12           DEL
Name: 585, dtype: object
id_user    13182
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         13050
11           DEL
12           DEL
Name: 586, dtype: object
id_user    13183
0            DEL
1          14800
2            DEL
3          15641
4            DEL
5          12599
6            DEL
7          13458
8          17690
9          18173
10           DEL
11         12779
12         14031
Name: 587, dtype: object
id_user    13183
0            DEL
1          14800
2            DEL
3          15641
4            DEL
5          12599
6            DEL
7          13458
8          17690
9          18173
10           DEL
11         12779
12         14031
Name: 587, dtype: object
id_user    13183
0            DEL
1          14800
2            DEL
3          15641
4            DEL
5          12599
6            DEL
7          13458
8          17690
9          18173
10           DEL
11         12779
12         14031
Name: 587, dtype: object
id_user    13183
0            DEL
1          14800
2            DEL
3          15641
4            DEL
5          12599
6            DEL
7          13458
8          17690
9          18173
10           DEL
11         12779
12         14031
Name: 587, dtype: object
id_user    13183
0            DEL
1          14800
2            DEL
3          15641
4            DEL
5          12599
6            DEL
7          13458
8          17690
9          18173
10           DEL
11         12779
12         14031
Name: 587, dtype: object
id_user    13183
0            DEL
1          14800
2            DEL
3          15641
4            DEL
5          12599
6            DEL
7          13458
8          17690
9          18173
10           DEL
11         12779
12         14031
Name: 587, dtype: object
id_user    13183
0            DEL
1          14800
2            DEL
3          15641
4            DEL
5          12599
6            DEL
7          13458
8          17690
9          18173
10           DEL
11         12779
12         14031
Name: 587, dtype: object
id_user    13183
0            DEL
1          14800
2            DEL
3          15641
4            DEL
5          12599
6            DEL
7          13458
8          17690
9          18173
10           DEL
11         12779
12         14031
Name: 587, dtype: object
id_user    13184
0            DEL
1            DEL
2          14688
3            DEL
4          13184
5            DEL
6          13115
7          17750
8          12749
9            DEL
10           DEL
11         15872
12           DEL
Name: 588, dtype: object
id_user    13184
0            DEL
1            DEL
2          14688
3            DEL
4          13184
5            DEL
6          13115
7          17750
8          12749
9            DEL
10           DEL
11         15872
12           DEL
Name: 588, dtype: object
id_user    13184
0            DEL
1            DEL
2          14688
3            DEL
4          13184
5            DEL
6          13115
7          17750
8          12749
9            DEL
10           DEL
11         15872
12           DEL
Name: 588, dtype: object
id_user    13184
0            DEL
1            DEL
2          14688
3            DEL
4          13184
5            DEL
6          13115
7          17750
8          12749
9            DEL
10           DEL
11         15872
12           DEL
Name: 588, dtype: object
id_user    13184
0            DEL
1            DEL
2          14688
3            DEL
4          13184
5            DEL
6          13115
7          17750
8          12749
9            DEL
10           DEL
11         15872
12           DEL
Name: 588, dtype: object
id_user    13184
0            DEL
1            DEL
2          14688
3            DEL
4          13184
5            DEL
6          13115
7          17750
8          12749
9            DEL
10           DEL
11         15872
12           DEL
Name: 588, dtype: object
id_user    13186
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          16012
9          12685
10         13680
11           DEL
12           DEL
Name: 589, dtype: object
id_user    13186
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          16012
9          12685
10         13680
11           DEL
12           DEL
Name: 589, dtype: object
id_user    13186
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          16012
9          12685
10         13680
11           DEL
12           DEL
Name: 589, dtype: object
id_user    13187
0            DEL
1          13576
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 590, dtype: object
id_user    13189
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          14918
9            DEL
10           DEL
11         13189
12           DEL

Name: 603, dtype: object
id_user    13211
0          13069
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          16444
10           DEL
11         16678
12           DEL
Name: 603, dtype: object
id_user    13211
0          13069
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          16444
10           DEL
11         16678
12           DEL
Name: 603, dtype: object
id_user    13212
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         13259
11         17758
12           DEL
Name: 604, dtype: object
id_user    13212
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         13259
11         17758
12           DEL
Name: 604, dtype: object
id_user    13213
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          18202
6          15214
7            DEL
8          15089
9            DEL
10         14567
11           DEL
12           DEL
Name: 605, dtype: object
id_user    13213
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          18202
6          15214
7            DEL
8          15089
9            DEL
10         14567
11           DEL
12           DEL
Name: 605, dtype: object
id_user    13213
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          18202
6          15214
7            DEL
8          15089
9            DEL
10         14567
11           DEL
12           DEL
Name: 605, dtype: object
id_user    13213
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          18202
6          15214
7            DEL
8          15089
9            DEL
10         14567
11           DEL
12           DEL
Name: 605, dtype: object
id_user    13216
0            DEL
1            DEL
2            DEL
3          13216
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 606, dtype: object
id_user    13217
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          17404
8          17302
9            DEL
10           DEL
11           DEL
12           DEL
Name: 607, dtype: object
id_user    13217
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          17404
8          17302
9            DEL
10           DEL
11           DEL
12           DEL
Name: 607, dtype: object
id_user    13218
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          13218
9            DEL
10           DEL
11           DEL
12           DEL
Name: 608, dtype: object
id_user    13220
0            DEL
1            DEL
2            DEL
3            DEL
4          17990
5          14307
6          15449
7            DEL
8            DEL
9          16558
10           DEL
11           DEL
12           DEL
Name: 609, dtype: object
id_user    13220
0            DEL
1            DEL
2            DEL
3            DEL
4          17990
5          14307
6          15449
7            DEL
8            DEL
9          16558
10           DEL
11           DEL
12           DEL
Name: 609, dtype: object
id_user    13220
0            DEL
1            DEL
2            DEL
3            DEL
4          17990
5          14307
6          15449
7            DEL
8            DEL
9          16558
10           DEL
11           DEL
12           DEL
Name: 609, dtype: object
id_user    13220
0            DEL
1            DEL
2            DEL
3            DEL
4          17990
5          14307
6          15449
7            DEL
8            DEL
9          16558
10           DEL
11           DEL
12           DEL
Name: 609, dtype: object
id_user    13221
0          15727
1            DEL
2            DEL
3            DEL
4          17589
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 610, dtype: object
id_user    13221
0          15727
1            DEL
2            DEL
3            DEL
4          17589
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 610, dtype: object
id_user    13223
0            DEL
1            DEL
2            DEL
3            DEL
4          16133
5          13078
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 611, dtype: object
id_user    13223
0            DEL
1            DEL
2            DEL
3            DEL
4          16133
5          13078
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 611, dtype: object
id_user    13224
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          13224
8            DEL
9            DEL
10         17706
11           DEL
12           DEL
Name: 612, dtype: object
id_user    13224
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          13224
8            DEL
9            DEL
10         17706
11           DEL
12           DEL
Name: 612, dtype: object
id_user    13225
0          14544
1          13629
2            DEL
3          15125
4            DEL
5          13225
6            DEL
7          14732
8            DEL
9            DEL
10         13224
11           DEL
12         16133
Name: 613, dtype: object
id_user    13225
0          14544
1          13629
2            DEL
3          15125
4            DEL
5          13225
6            DEL
7          14732
8            DEL
9            DEL
10         13224
11           DEL
12         16133
Name: 613, dtype: object
id_user    13225
0          14544
1          13629
2            DEL
3          15125
4            DEL
5          13225
6            DEL
7          14732
8            DEL
9            DEL
10         13224
11           DEL
12         16133
Name: 613, dtype: object
id_user    13225
0          14544
1          13629
2            DEL
3          15125
4            DEL
5          13225
6            DEL
7          14732
8            DEL
9            DEL
10         13224
11           DEL
12         16133
Name: 613, dtype: object
id_user    13225
0          14544
1          13629
2            DEL
3          15125
4            DEL
5          13225
6            DEL
7          14732
8            DEL
9            DEL
10         13224
11           DEL
12         16133
Name: 613, dtype: object
id_user    13225
0          14544
1          13629
2            DEL
3          15125
4            DEL
5          13225
6            DEL
7          14732
8            DEL
9            DEL
10         13224
11           DEL
12         16133
Name: 613, dtype: object
id_user    13225
0          14544
1          13629
2            DEL
3          15125
4            DEL
5          13225
6            DEL
7          14732
8            DEL
9            DEL
10         13224
11           DEL
12         16133
Name: 613, dtype: object
id_user    13226
0            DEL
1            DEL
2            DEL
3          14329
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 614, dtype: object
id_user    13227
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          13555
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 615, dtype: object
id_user    13229
0            DEL
1            DEL
2            DEL
3            DEL
4          16370
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 616, dtype: object
id_user    13232
0            DEL
1            DEL
2            DEL
3            DEL
4          13606
5          14447
6          12841
7            DEL
8            DEL
9          16706
10           DEL
11         13232
12           DEL
Name: 617, dtype: object
id_user    13232
0            DEL
1            DEL
2            DEL
3            DEL
4          13606
5          14447
6          12841
7            DEL
8            DEL
9          16706
10           DEL
11         13232
12           DEL
Name: 617, dtype: object
id_user    13232
0            DEL
1            DEL
2            DEL
3            DEL
4          13606
5          14447
6          12841
7            DEL
8            DEL
9          16706
10           DEL
11         13232
12           DEL
Name: 617, dtype: object
id_user    13232
0            DEL
1            DEL
2            DEL
3            DEL
4          13606
5          14447
6          12841
7            DEL
8            DEL
9          16706
10           DEL
11         13232
12           DEL
Name: 617, dtype: object
id_user    13232
0            DEL
1            DEL
2            DEL
3            DEL
4          13606
5          14447
6          12841
7            DEL
8            DEL
9          16706
10           DEL
11         13232
12           DEL
Name: 617, dtype: object
id_user    13233
0            DEL
1          15607
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          14808
10           DEL
11           DEL
12           DEL
Name: 618, dtype: object
id_user    13233
0            DEL
1          15607
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          14808
10           DEL
11           DEL
12           DEL
Name: 618, dtype: object
id_user    13235
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          13235
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 619, dtype: object
id_user    13236
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          16779
9            DEL
10           DEL
11         16422
12           DEL
Name: 620, dtype: object
id_user    13236
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          16779
9            DEL
10           DEL
11         16422
12           DEL
Name: 620, dtype: object
id_user    13238
0          12370
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          18075
7            DEL
8            DEL
9            DEL
10           DEL
11         18139
12           DEL
Name: 621, dtype: object
id_user    13238
0          12370
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          18075
7            DEL
8            DEL
9            DEL
10           DEL
11         18139
12           DEL
Name: 621, dtype: object
id_user    13238
0          12370
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          18075
7            DEL
8            DEL
9            DEL
10           DEL
11         18139
12           DEL
Name: 621, dtype: object
id_user    13239
0            DEL
1            DEL
2            DEL
3          14794
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 622, dtype: object
id_user    13240
0          16907
1            DEL
2            DEL
3          16777
4            DEL
5            DEL
6          13240
7            DEL
8            DEL
9          14965
10           DEL
11           DEL
12           DEL
Name: 623, dtype: object
id_user    13240
0          16907
1            DEL
2            DEL
3          16777
4            DEL
5            DEL
6          13240
7            DEL
8            DEL
9          14965
10           DEL
11           DEL
12           DEL
Name: 623, dtype: object
id_user    13240
0          16907
1            DEL
2            DEL
3          16777
4            DEL
5            DEL
6          13240
7            DEL
8            DEL
9          14965
10           DEL
11           DEL
12           DEL
Name: 623, dtype: object
id_user    13240
0          16907
1            DEL
2            DEL
3          16777
4            DEL
5            DEL
6          13240
7            DEL
8            DEL
9          14965
10           DEL
11           DEL
12           DEL

Name: 623, dtype: object
id_user    13242
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          14688
6            DEL
7            DEL
8          12626
9            DEL
10           DEL
11           DEL
12           DEL
Name: 624, dtype: object
id_user    13242
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          14688
6            DEL
7            DEL
8          12626
9            DEL
10           DEL
11           DEL
12           DEL
Name: 624, dtype: object
id_user    13243
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          17926
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 625, dtype: object
id_user    13244
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          13244
10           DEL
11           DEL
12           DEL
Name: 626, dtype: object
id_user    13245
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         17434
11           DEL
12           DEL
Name: 627, dtype: object
id_user    13246
0            DEL
1          15296
2          13246
3            DEL
4            DEL
5          13246
6          14282
7            DEL
8            DEL
9            DEL
10           DEL
11         12349
12           DEL
Name: 628, dtype: object
id_user    13246
0            DEL
1          15296
2          13246
3            DEL
4            DEL
5          13246
6          14282
7            DEL
8            DEL
9            DEL
10           DEL
11         12349
12           DEL
Name: 628, dtype: object
id_user    13246
0            DEL
1          15296
2          13246
3            DEL
4            DEL
5          13246
6          14282
7            DEL
8            DEL
9            DEL
10           DEL
11         12349
12           DEL
Name: 628, dtype: object
id_user    13246
0            DEL
1          15296
2          13246
3            DEL
4            DEL
5          13246
6          14282
7            DEL
8            DEL
9            DEL
10           DEL
11         12349
12           DEL
Name: 628, dtype: object
id_user    13246
0            DEL
1          15296
2          13246
3            DEL
4            DEL
5          13246
6          14282
7            DEL
8            DEL
9            DEL
10           DEL
11         12349
12           DEL
Name: 628, dtype: object
id_user    13247
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          13247
10         16131
11         14506
12           DEL
Name: 629, dtype: object
id_user    13247
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          13247
10         16131
11         14506
12           DEL
Name: 629, dtype: object
id_user    13247
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          13247
10         16131
11         14506
12           DEL
Name: 629, dtype: object
id_user    13248
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          16593
7            DEL
8          12720
9            DEL
10           DEL
11           DEL
12           DEL
Name: 630, dtype: object
id_user    13248
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          16593
7            DEL
8          12720
9            DEL
10           DEL
11           DEL
12           DEL
Name: 630, dtype: object
id_user    13249
0            DEL
1            DEL
2            DEL
3          15245
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          13249
10           DEL
11           DEL
12           DEL
Name: 631, dtype: object
id_user    13249
0            DEL
1            DEL
2            DEL
3          15245
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          13249
10           DEL
11           DEL
12           DEL
Name: 631, dtype: object
id_user    13253
0            DEL
1          12957
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          17861
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 632, dtype: object
id_user    13253
0            DEL
1          12957
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          17861
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 632, dtype: object
id_user    13255
0          17850
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         16115
12           DEL
Name: 633, dtype: object
id_user    13255
0          17850
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         16115
12           DEL
Name: 633, dtype: object
id_user    13258
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          17556
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         12839
12           DEL
Name: 634, dtype: object
id_user    13258
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          17556
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         12839
12           DEL
Name: 634, dtype: object
id_user    13259
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         16685
11           DEL
12           DEL
Name: 635, dtype: object
id_user    13260
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         13260
11           DEL
12           DEL
Name: 636, dtype: object
id_user    13261
0            DEL
1            DEL
2          14952
3          13261
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 637, dtype: object
id_user    13261
0            DEL
1            DEL
2          14952
3          13261
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 637, dtype: object
id_user    13262
0            DEL
1            DEL
2            DEL
3          17204
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 638, dtype: object
id_user    13265
0            DEL
1            DEL
2            DEL
3          14329
4          12647
5            DEL
6          14584
7            DEL
8            DEL
9          12924
10         12475
11           DEL
12           DEL
Name: 639, dtype: object
id_user    13265
0            DEL
1            DEL
2            DEL
3          14329
4          12647
5            DEL
6          14584
7            DEL
8            DEL
9          12924
10         12475
11           DEL
12           DEL
Name: 639, dtype: object
id_user    13265
0            DEL
1            DEL
2            DEL
3          14329
4          12647
5            DEL
6          14584
7            DEL
8            DEL
9          12924
10         12475
11           DEL
12           DEL
Name: 639, dtype: object
id_user    13265
0            DEL
1            DEL
2            DEL
3          14329
4          12647
5            DEL
6          14584
7            DEL
8            DEL
9          12924
10         12475
11           DEL
12           DEL
Name: 639, dtype: object
id_user    13265
0            DEL
1            DEL
2            DEL
3          14329
4          12647
5            DEL
6          14584
7            DEL
8            DEL
9          12924
10         12475
11           DEL
12           DEL
Name: 639, dtype: object
id_user    13266
0            DEL
1            DEL
2            DEL
3          16245
4          12476
5          15220
6          14525
7          15290
8          14755
9          16187
10         15659
11         13004
12           DEL
Name: 640, dtype: object
id_user    13266
0            DEL
1            DEL
2            DEL
3          16245
4          12476
5          15220
6          14525
7          15290
8          14755
9          16187
10         15659
11         13004
12           DEL
Name: 640, dtype: object
id_user    13266
0            DEL
1            DEL
2            DEL
3          16245
4          12476
5          15220
6          14525
7          15290
8          14755
9          16187
10         15659
11         13004
12           DEL
Name: 640, dtype: object
id_user    13266
0            DEL
1            DEL
2            DEL
3          16245
4          12476
5          15220
6          14525
7          15290
8          14755
9          16187
10         15659
11         13004
12           DEL
Name: 640, dtype: object
id_user    13266
0            DEL
1            DEL
2            DEL
3          16245
4          12476
5          15220
6          14525
7          15290
8          14755
9          16187
10         15659
11         13004
12           DEL
Name: 640, dtype: object
id_user    13266
0            DEL
1            DEL
2            DEL
3          16245
4          12476
5          15220
6          14525
7          15290
8          14755
9          16187
10         15659
11         13004
12           DEL
Name: 640, dtype: object
id_user    13266
0            DEL
1            DEL
2            DEL
3          16245
4          12476
5          15220
6          14525
7          15290
8          14755
9          16187
10         15659
11         13004
12           DEL
Name: 640, dtype: object
id_user    13266
0            DEL
1            DEL
2            DEL
3          16245
4          12476
5          15220
6          14525
7          15290
8          14755
9          16187
10         15659
11         13004
12           DEL
Name: 640, dtype: object
id_user    13266
0            DEL
1            DEL
2            DEL
3          16245
4          12476
5          15220
6          14525
7          15290
8          14755
9          16187
10         15659
11         13004
12           DEL
Name: 640, dtype: object
id_user    13267
0          18219
1          16525
2            DEL
3          13148
4          14961
5          18202
6            DEL
7          17243
8          16407
9          12685
10           DEL
11         18139
12         15701
Name: 641, dtype: object
id_user    13267
0          18219
1          16525
2            DEL
3          13148
4          14961
5          18202
6            DEL
7          17243
8          16407
9          12685
10           DEL
11         18139
12         15701
Name: 641, dtype: object
id_user    13267
0          18219
1          16525
2            DEL
3          13148
4          14961
5          18202
6            DEL
7          17243
8          16407
9          12685
10           DEL
11         18139
12         15701
Name: 641, dtype: object
id_user    13267
0          18219
1          16525
2            DEL
3          13148
4          14961
5          18202
6            DEL
7          17243
8          16407
9          12685
10           DEL
11         18139
12         15701
Name: 641, dtype: object
id_user    13267
0          18219
1          16525
2            DEL
3          13148
4          14961
5          18202
6            DEL
7          17243
8          16407
9          12685
10           DEL
11         18139
12         15701
Name: 641, dtype: object
id_user    13267
0          18219
1          16525
2            DEL
3          13148
4          14961
5          18202
6            DEL
7          17243
8          16407
9          12685
10           DEL
11         18139
12         15701
Name: 641, dtype: object
id_user    13267
0          18219
1          16525
2            DEL
3          13148
4          14961
5          18202
6            DEL
7          17243
8          16407
9          12685
10           DEL
11         18139
12         15701
Name: 641, dtype: object
id_user    13267
0          18219
1          16525
2            DEL
3          13148
4          14961
5          18202
6            DEL
7          17243
8          16407
9          12685
10           DEL
11         18139
12         15701
Name: 641, dtype: object
id_user    13267
0          18219
1          16525
2            DEL
3          13148
4          14961
5          18202
6            DEL
7          17243
8          16407
9          12685
10           DEL
11         18139
12         15701
Name: 641, dtype: object
id_user    13267
0          18219
1          16525
2            DEL
3          13148
4          14961
5          18202
6            DEL
7          17243
8          16407
9          12685
10           DEL
11         18139
12         15701
Name: 641, dtype: object
id_user    13268
0            DEL
1            DEL
2            DEL
3          13268
4          17278
5          15804
6          17848
7            DEL
8            DEL
9          17652
10           DEL
11         13268
12           DEL
Name: 642, dtype: object
id_user    13268
0            DEL
1            DEL
2            DEL
3          13268
4          17278
5          15804
6          17848
7            DEL
8            DEL
9          17652
10           DEL
11         13268
12           DEL
Name: 642, dtype: object
id_user    13268
0            DEL
1            DEL
2            DEL
3          13268
4          17278
5          15804
6          17848
7            DEL
8            DEL
9          17652
10           DEL
11         13268
12           DEL
Name: 642, dtype: object
id_user    13268
0            DEL
1            DEL
2            DEL
3          13268
4          17278
5          15804
6          17848
7            DEL
8            DEL
9          17652
10           DEL
11         13268
12           DEL
Name: 642, dtype: object
id_user    13268
0            DEL
1            DEL
2            DEL
3          13268
4          17278
5          15804
6          17848
7            DEL
8            DEL
9          17652
10           DEL
11         13268
12           DEL
Name: 642, dtype: object
id_user    13268
0            DEL
1            DEL
2            DEL
3          13268
4          17278
5          15804
6          17848
7            DEL
8            DEL
9          17652
10           DEL
11         13268
12           DEL
Name: 642, dtype: object
id_user    13269
0          14290
1            DEL
2            DEL
3            DEL
4          17530
5          12451
6          12567
7          16145
8          13269
9          18180
10         14506
11         13004
12         15796
Name: 643, dtype: object
id_user    13269
0          14290
1            DEL
2            DEL
3            DEL
4          17530
5          12451
6          12567
7          16145
8          13269
9          18180
10         14506
11         13004
12         15796
Name: 643, dtype: object
id_user    13269
0          14290
1            DEL
2            DEL
3            DEL
4          17530
5          12451
6          12567
7          16145
8          13269
9          18180
10         14506
11         13004
12         15796
Name: 643, dtype: object
id_user    13269
0          14290
1            DEL
2            DEL
3            DEL
4          17530
5          12451
6          12567
7          16145
8          13269
9          18180
10         14506
11         13004
12         15796
Name: 643, dtype: object
id_user    13269
0          14290
1            DEL
2            DEL
3            DEL
4          17530
5          12451
6          12567
7          16145
8          13269
9          18180
10         14506
11         13004
12         15796
Name: 643, dtype: object
id_user    13269
0          14290
1            DEL
2            DEL
3            DEL
4          17530
5          12451
6          12567
7          16145
8          13269
9          18180
10         14506
11         13004
12         15796
Name: 643, dtype: object
id_user    13269
0          14290
1            DEL
2            DEL
3            DEL
4          17530
5          12451
6          12567
7          16145
8          13269
9          18180
10         14506
11         13004
12         15796
Name: 643, dtype: object
id_user    13269
0          14290
1            DEL
2            DEL
3            DEL
4          17530
5          12451
6          12567
7          16145
8          13269
9          18180
10         14506
11         13004
12         15796
Name: 643, dtype: object
id_user    13269
0          14290
1            DEL
2            DEL
3            DEL
4          17530
5          12451
6          12567
7          16145
8          13269
9          18180
10         14506
11         13004
12         15796
Name: 643, dtype: object
id_user    13269
0          14290
1            DEL
2            DEL
3            DEL
4          17530
5          12451
6          12567
7          16145
8          13269
9          18180
10         14506
11         13004
12         15796
Name: 643, dtype: object
id_user    13271
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14390
12           DEL
Name: 644, dtype: object
id_user    13272
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          13884
10           DEL
11         16284
12           DEL
Name: 645, dtype: object
id_user    13272
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          13884
10           DEL
11         16284
12           DEL
Name: 645, dtype: object
id_user    13273
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          12962
9            DEL
10           DEL
11           DEL
12           DEL
Name: 646, dtype: object
id_user    13276
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          12739
10         17228
11           DEL
12           DEL
Name: 647, dtype: object
id_user    13276
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          12739
10         17228
11           DEL
12           DEL
Name: 647, dtype: object
id_user    13277
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          17519
8          16902
9            DEL
10           DEL
11         12388
12           DEL
Name: 648, dtype: object
id_user    13277
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          17519
8          16902
9            DEL
10           DEL
11         12388
12           DEL

id_user    13297
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         16875
11         17434
12         14031
Name: 661, dtype: object
id_user    13297
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         16875
11         17434
12         14031
Name: 661, dtype: object
id_user    13299
0            DEL
1            DEL
2            DEL
3          16497
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 662, dtype: object
id_user    13300
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17848
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 663, dtype: object
id_user    13301
0            DEL
1            DEL
2          13097
3            DEL
4            DEL
5          14304
6            DEL
7          15349
8          14472
9            DEL
10           DEL
11           DEL
12           DEL
Name: 664, dtype: object
id_user    13301
0            DEL
1            DEL
2          13097
3            DEL
4            DEL
5          14304
6            DEL
7          15349
8          14472
9            DEL
10           DEL
11           DEL
12           DEL
Name: 664, dtype: object
id_user    13301
0            DEL
1            DEL
2          13097
3            DEL
4            DEL
5          14304
6            DEL
7          15349
8          14472
9            DEL
10           DEL
11           DEL
12           DEL
Name: 664, dtype: object
id_user    13301
0            DEL
1            DEL
2          13097
3            DEL
4            DEL
5          14304
6            DEL
7          15349
8          14472
9            DEL
10           DEL
11           DEL
12           DEL
Name: 664, dtype: object
id_user    13304
0          15587
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 665, dtype: object
id_user    13305
0          17838
1            DEL
2          17576
3          14329
4          16873
5            DEL
6            DEL
7          16678
8          15752
9          12685
10           DEL
11         13960
12         13790
Name: 666, dtype: object
id_user    13305
0          17838
1            DEL
2          17576
3          14329
4          16873
5            DEL
6            DEL
7          16678
8          15752
9          12685
10           DEL
11         13960
12         13790
Name: 666, dtype: object
id_user    13305
0          17838
1            DEL
2          17576
3          14329
4          16873
5            DEL
6            DEL
7          16678
8          15752
9          12685
10           DEL
11         13960
12         13790
Name: 666, dtype: object
id_user    13305
0          17838
1            DEL
2          17576
3          14329
4          16873
5            DEL
6            DEL
7          16678
8          15752
9          12685
10           DEL
11         13960
12         13790
Name: 666, dtype: object
id_user    13305
0          17838
1            DEL
2          17576
3          14329
4          16873
5            DEL
6            DEL
7          16678
8          15752
9          12685
10           DEL
11         13960
12         13790
Name: 666, dtype: object
id_user    13305
0          17838
1            DEL
2          17576
3          14329
4          16873
5            DEL
6            DEL
7          16678
8          15752
9          12685
10           DEL
11         13960
12         13790
Name: 666, dtype: object
id_user    13305
0          17838
1            DEL
2          17576
3          14329
4          16873
5            DEL
6            DEL
7          16678
8          15752
9          12685
10           DEL
11         13960
12         13790
Name: 666, dtype: object
id_user    13305
0          17838
1            DEL
2          17576
3          14329
4          16873
5            DEL
6            DEL
7          16678
8          15752
9          12685
10           DEL
11         13960
12         13790
Name: 666, dtype: object
id_user    13305
0          17838
1            DEL
2          17576
3          14329
4          16873
5            DEL
6            DEL
7          16678
8          15752
9          12685
10           DEL
11         13960
12         13790
Name: 666, dtype: object
id_user    13308
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          17591
6            DEL
7            DEL
8            DEL
9            DEL
10         12540
11         12477
12           DEL
Name: 667, dtype: object
id_user    13308
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          17591
6            DEL
7            DEL
8            DEL
9            DEL
10         12540
11         12477
12           DEL
Name: 667, dtype: object
id_user    13308
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          17591
6            DEL
7            DEL
8            DEL
9            DEL
10         12540
11         12477
12           DEL
Name: 667, dtype: object
id_user    13309
0            DEL
1            DEL
2          13309
3            DEL
4            DEL
5          14239
6            DEL
7            DEL
8            DEL
9          17139
10         13340
11           DEL
12         18245
Name: 668, dtype: object
id_user    13309
0            DEL
1            DEL
2          13309
3            DEL
4            DEL
5          14239
6            DEL
7            DEL
8            DEL
9          17139
10         13340
11           DEL
12         18245
Name: 668, dtype: object
id_user    13309
0            DEL
1            DEL
2          13309
3            DEL
4            DEL
5          14239
6            DEL
7            DEL
8            DEL
9          17139
10         13340
11           DEL
12         18245
Name: 668, dtype: object
id_user    13309
0            DEL
1            DEL
2          13309
3            DEL
4            DEL
5          14239
6            DEL
7            DEL
8            DEL
9          17139
10         13340
11           DEL
12         18245
Name: 668, dtype: object
id_user    13309
0            DEL
1            DEL
2          13309
3            DEL
4            DEL
5          14239
6            DEL
7            DEL
8            DEL
9          17139
10         13340
11           DEL
12         18245
Name: 668, dtype: object
id_user    13310
0            DEL
1          14572
2            DEL
3            DEL
4            DEL
5          12949
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14178
12           DEL
Name: 669, dtype: object
id_user    13310
0            DEL
1          14572
2            DEL
3            DEL
4            DEL
5          12949
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14178
12           DEL
Name: 669, dtype: object
id_user    13310
0            DEL
1          14572
2            DEL
3            DEL
4            DEL
5          12949
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14178
12           DEL
Name: 669, dtype: object
id_user    13311
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          16700
8            DEL
9            DEL
10           DEL
11           DEL
12         15932
Name: 670, dtype: object
id_user    13311
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          16700
8            DEL
9            DEL
10           DEL
11           DEL
12         15932
Name: 670, dtype: object
id_user    13313
0            DEL
1          13680
2            DEL
3            DEL
4            DEL
5          13139
6            DEL
7          16607
8            DEL
9            DEL
10           DEL
11         14034
12           DEL
Name: 671, dtype: object
id_user    13313
0            DEL
1          13680
2            DEL
3            DEL
4            DEL
5          13139
6            DEL
7          16607
8            DEL
9            DEL
10           DEL
11         14034
12           DEL
Name: 671, dtype: object
id_user    13313
0            DEL
1          13680
2            DEL
3            DEL
4            DEL
5          13139
6            DEL
7          16607
8            DEL
9            DEL
10           DEL
11         14034
12           DEL
Name: 671, dtype: object
id_user    13313
0            DEL
1          13680
2            DEL
3            DEL
4            DEL
5          13139
6            DEL
7          16607
8            DEL
9            DEL
10           DEL
11         14034
12           DEL
Name: 671, dtype: object
id_user    13314
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          14755
10         17228
11           DEL
12         15796
Name: 672, dtype: object
id_user    13314
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          14755
10         17228
11           DEL
12         15796
Name: 672, dtype: object
id_user    13314
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          14755
10         17228
11           DEL
12         15796
Name: 672, dtype: object
id_user    13316
0            DEL
1            DEL
2            DEL
3          13316
4            DEL
5            DEL
6            DEL
7          16255
8            DEL
9          14060
10           DEL
11         14285
12           DEL
Name: 673, dtype: object
id_user    13316
0            DEL
1            DEL
2            DEL
3          13316
4            DEL
5            DEL
6            DEL
7          16255
8            DEL
9          14060
10           DEL
11         14285
12           DEL
Name: 673, dtype: object
id_user    13316
0            DEL
1            DEL
2            DEL
3          13316
4            DEL
5            DEL
6            DEL
7          16255
8            DEL
9          14060
10           DEL
11         14285
12           DEL
Name: 673, dtype: object
id_user    13316
0            DEL
1            DEL
2            DEL
3          13316
4            DEL
5            DEL
6            DEL
7          16255
8            DEL
9          14060
10           DEL
11         14285
12           DEL
Name: 673, dtype: object
id_user    13317
0          13534
1            DEL
2            DEL
3            DEL
4          16957
5          14985
6            DEL
7            DEL
8            DEL
9            DEL
10         15276
11           DEL
12           DEL
Name: 674, dtype: object
id_user    13317
0          13534
1            DEL
2            DEL
3            DEL
4          16957
5          14985
6            DEL
7            DEL
8            DEL
9            DEL
10         15276
11           DEL
12           DEL
Name: 674, dtype: object
id_user    13317
0          13534
1            DEL
2            DEL
3            DEL
4          16957
5          14985
6            DEL
7            DEL
8            DEL
9            DEL
10         15276
11           DEL
12           DEL
Name: 674, dtype: object
id_user    13317
0          13534
1            DEL
2            DEL
3            DEL
4          16957
5          14985
6            DEL
7            DEL
8            DEL
9            DEL
10         15276
11           DEL
12           DEL
Name: 674, dtype: object
id_user    13318
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         18164
12         15796
Name: 675, dtype: object
id_user    13318
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         18164
12         15796
Name: 675, dtype: object
id_user    13319
0          12377
1          13313
2          17412
3          15738
4          17214
5          17898
6          14854
7          15639
8          15144
9          12637
10         14178
11         17528
12         17750
Name: 676, dtype: object
id_user    13319
0          12377
1          13313
2          17412
3          15738
4          17214
5          17898
6          14854
7          15639
8          15144
9          12637
10         14178
11         17528
12         17750
Name: 676, dtype: object
id_user    13319
0          12377
1          13313
2          17412
3          15738
4          17214
5          17898
6          14854
7          15639
8          15144
9          12637
10         14178
11         17528
12         17750
Name: 676, dtype: object
id_user    13319
0          12377
1          13313
2          17412
3          15738
4          17214
5          17898
6          14854
7          15639
8          15144
9          12637
10         14178
11         17528
12         17750
Name: 676, dtype: object
id_user    13319
0          12377
1          13313
2          17412
3          15738
4          17214
5          17898
6          14854
7          15639
8          15144
9          12637
10         14178
11         17528
12         17750
Name: 676, dtype: object
id_user    13319
0          12377
1          13313
2          17412
3          15738
4          17214
5          17898
6          14854
7          15639
8          15144
9          12637
10         14178
11         17528
12         17750
Name: 676, dtype: object
id_user    13319
0          12377
1          13313
2          17412
3          15738
4          17214
5          17898
6          14854
7          15639
8          15144
9          12637
10         14178
11         17528
12         17750
Name: 676, dtype: object
id_user    13319
0          12377
1          13313
2          17412
3          15738
4          17214
5          17898
6          14854
7          15639
8          15144
9          12637
10         14178
11         17528
12         17750
Name: 676, dtype: object
id_user    13319
0          12377
1          13313
2          17412
3          15738
4          17214
5          17898
6          14854
7          15639
8          15144
9          12637
10         14178
11         17528
12         17750
Name: 676, dtype: object
id_user    13319
0          12377
1          13313
2          17412
3          15738
4          17214
5          17898
6          14854
7          15639
8          15144
9          12637
10         14178
11         17528
12         17750
Name: 676, dtype: object
id_user    13319
0          12377
1          13313
2          17412
3          15738
4          17214
5          17898
6          14854
7          15639
8          15144
9          12637
10         14178
11         17528
12         17750
Name: 676, dtype: object
id_user    13319
0          12377
1          13313
2          17412
3          15738
4          17214
5          17898
6          14854
7          15639
8          15144
9          12637
10         14178
11         17528
12         17750
Name: 676, dtype: object
id_user    13319
0          12377
1          13313
2          17412
3          15738
4          17214
5          17898
6          14854
7          15639
8          15144
9          12637
10         14178
11         17528
12         17750
Name: 676, dtype: object
id_user    13320
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          14462
6            DEL
7            DEL
8          15955
9          16558
10           DEL
11           DEL
12           DEL
Name: 677, dtype: object
id_user    13320
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          14462
6            DEL
7            DEL
8          15955
9          16558
10           DEL
11           DEL
12           DEL
Name: 677, dtype: object
id_user    13320
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          14462
6            DEL
7            DEL
8          15955
9          16558
10           DEL
11           DEL
12           DEL
Name: 677, dtype: object
id_user    13321
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          16394
10           DEL
11           DEL
12           DEL
Name: 678, dtype: object
id_user    13322
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         17073
12           DEL
Name: 679, dtype: object
id_user    13323
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          13599
10           DEL
11         12578
12         12749
Name: 680, dtype: object
id_user    13323
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          13599
10           DEL
11         12578
12         12749
Name: 680, dtype: object
id_user    13323
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          13599
10           DEL
11         12578
12         12749
Name: 680, dtype: object
id_user    13324
0          16202
1          12731
2            DEL
3            DEL
4          13324
5          15095
6            DEL
7            DEL
8            DEL
9          14212
10           DEL
11         17306
12           DEL
Name: 681, dtype: object
id_user    13324
0          16202
1          12731
2            DEL
3            DEL
4          13324
5          15095
6            DEL
7            DEL
8            DEL
9          14212
10           DEL
11         17306
12           DEL
Name: 681, dtype: object
id_user    13324
0          16202
1          12731
2            DEL
3            DEL
4          13324
5          15095
6            DEL
7            DEL
8            DEL
9          14212
10           DEL
11         17306
12           DEL
Name: 681, dtype: object
id_user    13324
0          16202
1          12731
2            DEL
3            DEL
4          13324
5          15095
6            DEL
7            DEL
8            DEL
9          14212
10           DEL
11         17306
12           DEL
Name: 681, dtype: object
id_user    13324
0          16202
1          12731
2            DEL
3            DEL
4          13324
5          15095
6            DEL
7            DEL
8            DEL
9          14212
10           DEL
11         17306
12           DEL
Name: 681, dtype: object
id_user    13324
0          16202
1          12731
2            DEL
3            DEL
4          13324
5          15095
6            DEL
7            DEL
8            DEL
9          14212
10           DEL
11         17306
12           DEL
Name: 681, dtype: object
id_user    13325
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          12621
10           DEL
11           DEL
12           DEL
Name: 682, dtype: object

id_user    13349
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14719
12           DEL
Name: 699, dtype: object
id_user    13350
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          12721
10           DEL
11         14335
12           DEL
Name: 700, dtype: object
id_user    13350
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          12721
10           DEL
11         14335
12           DEL
Name: 700, dtype: object
id_user    13351
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         14462
11           DEL
12           DEL
Name: 701, dtype: object
id_user    13352
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         17706
11           DEL
12           DEL
Name: 702, dtype: object
id_user    13354
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          12615
10           DEL
11           DEL
12           DEL
Name: 703, dtype: object
id_user    13355
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          13769
9            DEL
10           DEL
11           DEL
12           DEL
Name: 704, dtype: object
id_user    13356
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          15839
10           DEL
11           DEL
12           DEL
Name: 705, dtype: object
id_user    13357
0            DEL
1            DEL
2            DEL
3          16777
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 706, dtype: object
id_user    13358
0            DEL
1            DEL
2            DEL
3          17515
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 707, dtype: object
id_user    13359
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         13587
11           DEL
12           DEL
Name: 708, dtype: object
id_user    13362
0            DEL
1            DEL
2          13870
3            DEL
4          13265
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         16940
11         12957
12           DEL
Name: 709, dtype: object
id_user    13362
0            DEL
1            DEL
2          13870
3            DEL
4          13265
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         16940
11         12957
12           DEL
Name: 709, dtype: object
id_user    13362
0            DEL
1            DEL
2          13870
3            DEL
4          13265
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         16940
11         12957
12           DEL
Name: 709, dtype: object
id_user    13362
0            DEL
1            DEL
2          13870
3            DEL
4          13265
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         16940
11         12957
12           DEL
Name: 709, dtype: object
id_user    13363
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         16438
11         16330
12           DEL
Name: 710, dtype: object
id_user    13363
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         16438
11         16330
12           DEL
Name: 710, dtype: object
id_user    13364
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          17813
10           DEL
11           DEL
12           DEL
Name: 711, dtype: object
id_user    13365
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          15114
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         15427
12           DEL
Name: 712, dtype: object
id_user    13365
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          15114
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         15427
12           DEL
Name: 712, dtype: object
id_user    13368
0            DEL
1          13576
2            DEL
3          17917
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 713, dtype: object
id_user    13368
0            DEL
1          13576
2            DEL
3          17917
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 713, dtype: object
id_user    13369
0          16907
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 714, dtype: object
id_user    13370
0          15545
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 715, dtype: object
id_user    13372
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          17864
10           DEL
11           DEL
12           DEL
Name: 716, dtype: object
id_user    13373
0            DEL
1            DEL
2            DEL
3          12528
4            DEL
5            DEL
6            DEL
7          13901
8            DEL
9            DEL
10         16637
11           DEL
12           DEL
Name: 717, dtype: object
id_user    13373
0            DEL
1            DEL
2            DEL
3          12528
4            DEL
5            DEL
6            DEL
7          13901
8            DEL
9            DEL
10         16637
11           DEL
12           DEL
Name: 717, dtype: object
id_user    13373
0            DEL
1            DEL
2            DEL
3          12528
4            DEL
5            DEL
6            DEL
7          13901
8            DEL
9            DEL
10         16637
11           DEL
12           DEL
Name: 717, dtype: object
id_user    13375
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          17433
10           DEL
11           DEL
12           DEL
Name: 718, dtype: object
id_user    13376
0            DEL
1            DEL
2            DEL
3            DEL
4          16907
5          14334
6            DEL
7            DEL
8            DEL
9          17799
10           DEL
11           DEL
12           DEL
Name: 719, dtype: object
id_user    13376
0            DEL
1            DEL
2            DEL
3            DEL
4          16907
5          14334
6            DEL
7            DEL
8            DEL
9          17799
10           DEL
11           DEL
12           DEL
Name: 719, dtype: object
id_user    13376
0            DEL
1            DEL
2            DEL
3            DEL
4          16907
5          14334
6            DEL
7            DEL
8            DEL
9          17799
10           DEL
11           DEL
12           DEL
Name: 719, dtype: object
id_user    13379
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          13588
8            DEL
9            DEL
10         16693
11         15787
12           DEL
Name: 720, dtype: object
id_user    13379
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          13588
8            DEL
9            DEL
10         16693
11         15787
12           DEL
Name: 720, dtype: object
id_user    13379
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          13588
8            DEL
9            DEL
10         16693
11         15787
12           DEL
Name: 720, dtype: object
id_user    13381
0            DEL
1            DEL
2          14644
3            DEL
4            DEL
5          17898
6            DEL
7          15301
8          17736
9          13324
10           DEL
11         18216
12           DEL
Name: 721, dtype: object
id_user    13381
0            DEL
1            DEL
2          14644
3            DEL
4            DEL
5          17898
6            DEL
7          15301
8          17736
9          13324
10           DEL
11         18216
12           DEL
Name: 721, dtype: object
id_user    13381
0            DEL
1            DEL
2          14644
3            DEL
4            DEL
5          17898
6            DEL
7          15301
8          17736
9          13324
10           DEL
11         18216
12           DEL
Name: 721, dtype: object
id_user    13381
0            DEL
1            DEL
2          14644
3            DEL
4            DEL
5          17898
6            DEL
7          15301
8          17736
9          13324
10           DEL
11         18216
12           DEL
Name: 721, dtype: object
id_user    13381
0            DEL
1            DEL
2          14644
3            DEL
4            DEL
5          17898
6            DEL
7          15301
8          17736
9          13324
10           DEL
11         18216
12           DEL
Name: 721, dtype: object
id_user    13381
0            DEL
1            DEL
2          14644
3            DEL
4            DEL
5          17898
6            DEL
7          15301
8          17736
9          13324
10           DEL
11         18216
12           DEL
Name: 721, dtype: object
id_user    13382
0            DEL
1            DEL
2            DEL
3          15220
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 722, dtype: object
id_user    13384
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17043
7            DEL
8          14401
9          14755
10         15630
11         14621
12           DEL
Name: 723, dtype: object
id_user    13384
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17043
7            DEL
8          14401
9          14755
10         15630
11         14621
12           DEL
Name: 723, dtype: object
id_user    13384
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17043
7            DEL
8          14401
9          14755
10         15630
11         14621
12           DEL
Name: 723, dtype: object
id_user    13384
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17043
7            DEL
8          14401
9          14755
10         15630
11         14621
12           DEL
Name: 723, dtype: object
id_user    13384
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17043
7            DEL
8          14401
9          14755
10         15630
11         14621
12           DEL
Name: 723, dtype: object
id_user    13385
0            DEL
1          13385
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 724, dtype: object
id_user    13388
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          13388
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 725, dtype: object
id_user    13389
0            DEL
1            DEL
2            DEL
3            DEL
4          14735
5            DEL
6            DEL
7            DEL
8            DEL
9          17705
10           DEL
11         17379
12           DEL
Name: 726, dtype: object
id_user    13389
0            DEL
1            DEL
2            DEL
3            DEL
4          14735
5            DEL
6            DEL
7            DEL
8            DEL
9          17705
10           DEL
11         17379
12           DEL
Name: 726, dtype: object
id_user    13389
0            DEL
1            DEL
2            DEL
3            DEL
4          14735
5            DEL
6            DEL
7            DEL
8            DEL
9          17705
10           DEL
11         17379
12           DEL
Name: 726, dtype: object
id_user    13390
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          14387
10           DEL
11           DEL
12           DEL
Name: 727, dtype: object
id_user    13394
0            DEL
1            DEL
2          17507
3          15189
4            DEL
5          13971
6            DEL
7          17444
8          15220
9          13394
10         15218
11           DEL
12         13680
Name: 728, dtype: object
id_user    13394
0            DEL
1            DEL
2          17507
3          15189
4            DEL
5          13971
6            DEL
7          17444
8          15220
9          13394
10         15218
11           DEL
12         13680
Name: 728, dtype: object
id_user    13394
0            DEL
1            DEL
2          17507
3          15189
4            DEL
5          13971
6            DEL
7          17444
8          15220
9          13394
10         15218
11           DEL
12         13680
Name: 728, dtype: object
id_user    13394
0            DEL
1            DEL
2          17507
3          15189
4            DEL
5          13971
6            DEL
7          17444
8          15220
9          13394
10         15218
11           DEL
12         13680
Name: 728, dtype: object
id_user    13394
0            DEL
1            DEL
2          17507
3          15189
4            DEL
5          13971
6            DEL
7          17444
8          15220
9          13394
10         15218
11           DEL
12         13680
Name: 728, dtype: object
id_user    13394
0            DEL
1            DEL
2          17507
3          15189
4            DEL
5          13971
6            DEL
7          17444
8          15220
9          13394
10         15218
11           DEL
12         13680
Name: 728, dtype: object
id_user    13394
0            DEL
1            DEL
2          17507
3          15189
4            DEL
5          13971
6            DEL
7          17444
8          15220
9          13394
10         15218
11           DEL
12         13680
Name: 728, dtype: object
id_user    13394
0            DEL
1            DEL
2          17507
3          15189
4            DEL
5          13971
6            DEL
7          17444
8          15220
9          13394
10         15218
11           DEL
12         13680
Name: 728, dtype: object
id_user    13395
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          13395
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 729, dtype: object
id_user    13396
0            DEL
1          15078
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         12659
12           DEL
Name: 730, dtype: object
id_user    13396
0            DEL
1          15078
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         12659
12           DEL
Name: 730, dtype: object
id_user    13397
0            DEL
1          13680
2          12714
3            DEL
4            DEL
5            DEL
6          15214
7            DEL
8          14013
9          16460
10           DEL
11           DEL
12           DEL
Name: 731, dtype: object
id_user    13397
0            DEL
1          13680
2          12714
3            DEL
4            DEL
5            DEL
6          15214
7            DEL
8          14013
9          16460
10           DEL
11           DEL
12           DEL
Name: 731, dtype: object
id_user    13397
0            DEL
1          13680
2          12714
3            DEL
4            DEL
5            DEL
6          15214
7            DEL
8          14013
9          16460
10           DEL
11           DEL
12           DEL
Name: 731, dtype: object
id_user    13397
0            DEL
1          13680
2          12714
3            DEL
4            DEL
5            DEL
6          15214
7            DEL
8          14013
9          16460
10           DEL
11           DEL
12           DEL
Name: 731, dtype: object
id_user    13397
0            DEL
1          13680
2          12714
3            DEL
4            DEL
5            DEL
6          15214
7            DEL
8          14013
9          16460
10           DEL
11           DEL
12           DEL
Name: 731, dtype: object
id_user    13398
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          18204
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 732, dtype: object
id_user    13402
0          17850
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          14562
9            DEL
10           DEL
11           DEL
12           DEL
Name: 733, dtype: object
id_user    13402
0          17850
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          14562
9            DEL
10           DEL
11           DEL
12           DEL
Name: 733, dtype: object
id_user    13404
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          12649
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12         13680
Name: 734, dtype: object
id_user    13404
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          12649
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12         13680
Name: 734, dtype: object
id_user    13405
0            DEL
1          16714
2            DEL
3            DEL
4            DEL
5          13405
6            DEL
7            DEL
8            DEL
9          17377
10           DEL
11           DEL
12           DEL
Name: 735, dtype: object
id_user    13405
0            DEL
1          16714
2            DEL
3            DEL
4            DEL
5          13405
6            DEL
7            DEL
8            DEL
9          17377
10           DEL
11           DEL
12           DEL
Name: 735, dtype: object

id_user    13426
0          16003
1          17284
2            DEL
3          13078
4          14323
5            DEL
6          17797
7            DEL
8            DEL
9          13324
10         15300
11         15218
12         17364
Name: 747, dtype: object
id_user    13426
0          16003
1          17284
2            DEL
3          13078
4          14323
5            DEL
6          17797
7            DEL
8            DEL
9          13324
10         15300
11         15218
12         17364
Name: 747, dtype: object
id_user    13426
0          16003
1          17284
2            DEL
3          13078
4          14323
5            DEL
6          17797
7            DEL
8            DEL
9          13324
10         15300
11         15218
12         17364
Name: 747, dtype: object
id_user    13426
0          16003
1          17284
2            DEL
3          13078
4          14323
5            DEL
6          17797
7            DEL
8            DEL
9          13324
10         15300
11         15218
12         17364
Name: 747, dtype: object
id_user    13427
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          13835
6            DEL
7            DEL
8          18226
9            DEL
10           DEL
11         14071
12           DEL
Name: 748, dtype: object
id_user    13427
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          13835
6            DEL
7            DEL
8          18226
9            DEL
10           DEL
11         14071
12           DEL
Name: 748, dtype: object
id_user    13427
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          13835
6            DEL
7            DEL
8          18226
9            DEL
10           DEL
11         14071
12           DEL
Name: 748, dtype: object
id_user    13428
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14719
12           DEL
Name: 749, dtype: object
id_user    13429
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          16480
10         14329
11         12375
12           DEL
Name: 750, dtype: object
id_user    13429
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          16480
10         14329
11         12375
12           DEL
Name: 750, dtype: object
id_user    13429
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          16480
10         14329
11         12375
12           DEL
Name: 750, dtype: object
id_user    13430
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          17716
10           DEL
11         12349
12           DEL
Name: 751, dtype: object
id_user    13430
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          17716
10           DEL
11         12349
12           DEL
Name: 751, dtype: object
id_user    13431
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          18180
10         16205
11           DEL
12           DEL
Name: 752, dtype: object
id_user    13431
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          18180
10         16205
11           DEL
12           DEL
Name: 752, dtype: object
id_user    13434
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          17705
10           DEL
11           DEL
12           DEL
Name: 753, dtype: object
id_user    13435
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          12359
7            DEL
8          14013
9          16705
10         13435
11         13435
12         13536
Name: 754, dtype: object
id_user    13435
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          12359
7            DEL
8          14013
9          16705
10         13435
11         13435
12         13536
Name: 754, dtype: object
id_user    13435
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          12359
7            DEL
8          14013
9          16705
10         13435
11         13435
12         13536
Name: 754, dtype: object
id_user    13435
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          12359
7            DEL
8          14013
9          16705
10         13435
11         13435
12         13536
Name: 754, dtype: object
id_user    13435
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          12359
7            DEL
8          14013
9          16705
10         13435
11         13435
12         13536
Name: 754, dtype: object
id_user    13435
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          12359
7            DEL
8          14013
9          16705
10         13435
11         13435
12         13536
Name: 754, dtype: object
id_user    13436
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12         13680
Name: 755, dtype: object
id_user    13437
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17799
7            DEL
8          15228
9          16880
10           DEL
11         16458
12           DEL
Name: 756, dtype: object
id_user    13437
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17799
7            DEL
8          15228
9          16880
10           DEL
11         16458
12           DEL
Name: 756, dtype: object
id_user    13437
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17799
7            DEL
8          15228
9          16880
10           DEL
11         16458
12           DEL
Name: 756, dtype: object
id_user    13437
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17799
7            DEL
8          15228
9          16880
10           DEL
11         16458
12           DEL
Name: 756, dtype: object
id_user    13439
0            DEL
1            DEL
2            DEL
3          16712
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 757, dtype: object
id_user    13441
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          12637
10           DEL
11           DEL
12           DEL
Name: 758, dtype: object
id_user    13447
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         12662
12           DEL
Name: 759, dtype: object
id_user    13448
0          15514
1            DEL
2            DEL
3            DEL
4            DEL
5          14099
6            DEL
7            DEL
8            DEL
9          16464
10           DEL
11         14020
12           DEL
Name: 760, dtype: object
id_user    13448
0          15514
1            DEL
2            DEL
3            DEL
4            DEL
5          14099
6            DEL
7            DEL
8            DEL
9          16464
10           DEL
11         14020
12           DEL
Name: 760, dtype: object
id_user    13448
0          15514
1            DEL
2            DEL
3            DEL
4            DEL
5          14099
6            DEL
7            DEL
8            DEL
9          16464
10           DEL
11         14020
12           DEL
Name: 760, dtype: object
id_user    13448
0          15514
1            DEL
2            DEL
3            DEL
4            DEL
5          14099
6            DEL
7            DEL
8            DEL
9          16464
10           DEL
11         14020
12           DEL
Name: 760, dtype: object
id_user    13449
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         18075
12           DEL
Name: 761, dtype: object
id_user    13450
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          15630
6            DEL
7          17505
8          14903
9          13450
10           DEL
11         13536
12           DEL
Name: 762, dtype: object
id_user    13450
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          15630
6            DEL
7          17505
8          14903
9          13450
10           DEL
11         13536
12           DEL
Name: 762, dtype: object
id_user    13450
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          15630
6            DEL
7          17505
8          14903
9          13450
10           DEL
11         13536
12           DEL
Name: 762, dtype: object
id_user    13450
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          15630
6            DEL
7          17505
8          14903
9          13450
10           DEL
11         13536
12           DEL
Name: 762, dtype: object
id_user    13450
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          15630
6            DEL
7          17505
8          14903
9          13450
10           DEL
11         13536
12           DEL
Name: 762, dtype: object
id_user    13451
0            DEL
1          18260
2            DEL
3          17954
4            DEL
5          17970
6            DEL
7            DEL
8          13451
9            DEL
10           DEL
11         15502
12           DEL
Name: 763, dtype: object
id_user    13451
0            DEL
1          18260
2            DEL
3          17954
4            DEL
5          17970
6            DEL
7            DEL
8          13451
9            DEL
10           DEL
11         15502
12           DEL
Name: 763, dtype: object
id_user    13451
0            DEL
1          18260
2            DEL
3          17954
4            DEL
5          17970
6            DEL
7            DEL
8          13451
9            DEL
10           DEL
11         15502
12           DEL
Name: 763, dtype: object
id_user    13451
0            DEL
1          18260
2            DEL
3          17954
4            DEL
5          17970
6            DEL
7            DEL
8          13451
9            DEL
10           DEL
11         15502
12           DEL
Name: 763, dtype: object
id_user    13451
0            DEL
1          18260
2            DEL
3          17954
4            DEL
5          17970
6            DEL
7            DEL
8          13451
9            DEL
10           DEL
11         15502
12           DEL
Name: 763, dtype: object
id_user    13453
0            DEL
1            DEL
2          18172
3            DEL
4            DEL
5            DEL
6          13453
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 764, dtype: object
id_user    13453
0            DEL
1            DEL
2          18172
3            DEL
4            DEL
5            DEL
6          13453
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 764, dtype: object
id_user    13455
0          15032
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         15419
12           DEL
Name: 765, dtype: object
id_user    13455
0          15032
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         15419
12           DEL
Name: 765, dtype: object
id_user    13456
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          17898
6          17139
7          13291
8            DEL
9            DEL
10         16900
11         18139
12           DEL

Name: 766, dtype: object
id_user    13456
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          17898
6          17139
7          13291
8            DEL
9            DEL
10         16900
11         18139
12           DEL
Name: 766, dtype: object
id_user    13456
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          17898
6          17139
7          13291
8            DEL
9            DEL
10         16900
11         18139
12           DEL
Name: 766, dtype: object
id_user    13456
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          17898
6          17139
7          13291
8            DEL
9            DEL
10         16900
11         18139
12           DEL
Name: 766, dtype: object
id_user    13456
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          17898
6          17139
7          13291
8            DEL
9            DEL
10         16900
11         18139
12           DEL
Name: 766, dtype: object
id_user    13458
0          13221
1          13097
2          16133
3            DEL
4          15777
5          17629
6          17799
7          16767
8            DEL
9          12436
10         13363
11         12662
12         14031
Name: 767, dtype: object
id_user    13458
0          13221
1          13097
2          16133
3            DEL
4          15777
5          17629
6          17799
7          16767
8            DEL
9          12436
10         13363
11         12662
12         14031
Name: 767, dtype: object
id_user    13458
0          13221
1          13097
2          16133
3            DEL
4          15777
5          17629
6          17799
7          16767
8            DEL
9          12436
10         13363
11         12662
12         14031
Name: 767, dtype: object
id_user    13458
0          13221
1          13097
2          16133
3            DEL
4          15777
5          17629
6          17799
7          16767
8            DEL
9          12436
10         13363
11         12662
12         14031
Name: 767, dtype: object
id_user    13458
0          13221
1          13097
2          16133
3            DEL
4          15777
5          17629
6          17799
7          16767
8            DEL
9          12436
10         13363
11         12662
12         14031
Name: 767, dtype: object
id_user    13458
0          13221
1          13097
2          16133
3            DEL
4          15777
5          17629
6          17799
7          16767
8            DEL
9          12436
10         13363
11         12662
12         14031
Name: 767, dtype: object
id_user    13458
0          13221
1          13097
2          16133
3            DEL
4          15777
5          17629
6          17799
7          16767
8            DEL
9          12436
10         13363
11         12662
12         14031
Name: 767, dtype: object
id_user    13458
0          13221
1          13097
2          16133
3            DEL
4          15777
5          17629
6          17799
7          16767
8            DEL
9          12436
10         13363
11         12662
12         14031
Name: 767, dtype: object
id_user    13458
0          13221
1          13097
2          16133
3            DEL
4          15777
5          17629
6          17799
7          16767
8            DEL
9          12436
10         13363
11         12662
12         14031
Name: 767, dtype: object
id_user    13458
0          13221
1          13097
2          16133
3            DEL
4          15777
5          17629
6          17799
7          16767
8            DEL
9          12436
10         13363
11         12662
12         14031
Name: 767, dtype: object
id_user    13458
0          13221
1          13097
2          16133
3            DEL
4          15777
5          17629
6          17799
7          16767
8            DEL
9          12436
10         13363
11         12662
12         14031
Name: 767, dtype: object
id_user    13460
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         12407
11         14713
12           DEL
Name: 768, dtype: object
id_user    13460
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         12407
11         14713
12           DEL
Name: 768, dtype: object
id_user    13461
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          14327
7          17696
8            DEL
9            DEL
10           DEL
11         17139
12           DEL
Name: 769, dtype: object
id_user    13461
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          14327
7          17696
8            DEL
9            DEL
10           DEL
11         17139
12           DEL
Name: 769, dtype: object
id_user    13461
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          14327
7          17696
8            DEL
9            DEL
10           DEL
11         17139
12           DEL
Name: 769, dtype: object
id_user    13462
0            DEL
1            DEL
2            DEL
3            DEL
4          16960
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 770, dtype: object
id_user    13464
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         12667
11           DEL
12           DEL
Name: 771, dtype: object
id_user    13466
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          13466
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 772, dtype: object
id_user    13467
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14719
12           DEL
Name: 773, dtype: object
id_user    13468
0          15194
1          13168
2          14231
3          16398
4          16016
5          18125
6          13761
7          14002
8          15800
9          13867
10         14834
11         13430
12         13680
Name: 774, dtype: object
id_user    13468
0          15194
1          13168
2          14231
3          16398
4          16016
5          18125
6          13761
7          14002
8          15800
9          13867
10         14834
11         13430
12         13680
Name: 774, dtype: object
id_user    13468
0          15194
1          13168
2          14231
3          16398
4          16016
5          18125
6          13761
7          14002
8          15800
9          13867
10         14834
11         13430
12         13680
Name: 774, dtype: object
id_user    13468
0          15194
1          13168
2          14231
3          16398
4          16016
5          18125
6          13761
7          14002
8          15800
9          13867
10         14834
11         13430
12         13680
Name: 774, dtype: object
id_user    13468
0          15194
1          13168
2          14231
3          16398
4          16016
5          18125
6          13761
7          14002
8          15800
9          13867
10         14834
11         13430
12         13680
Name: 774, dtype: object
id_user    13468
0          15194
1          13168
2          14231
3          16398
4          16016
5          18125
6          13761
7          14002
8          15800
9          13867
10         14834
11         13430
12         13680
Name: 774, dtype: object
id_user    13468
0          15194
1          13168
2          14231
3          16398
4          16016
5          18125
6          13761
7          14002
8          15800
9          13867
10         14834
11         13430
12         13680
Name: 774, dtype: object
id_user    13468
0          15194
1          13168
2          14231
3          16398
4          16016
5          18125
6          13761
7          14002
8          15800
9          13867
10         14834
11         13430
12         13680
Name: 774, dtype: object
id_user    13468
0          15194
1          13168
2          14231
3          16398
4          16016
5          18125
6          13761
7          14002
8          15800
9          13867
10         14834
11         13430
12         13680
Name: 774, dtype: object
id_user    13468
0          15194
1          13168
2          14231
3          16398
4          16016
5          18125
6          13761
7          14002
8          15800
9          13867
10         14834
11         13430
12         13680
Name: 774, dtype: object
id_user    13468
0          15194
1          13168
2          14231
3          16398
4          16016
5          18125
6          13761
7          14002
8          15800
9          13867
10         14834
11         13430
12         13680
Name: 774, dtype: object
id_user    13468
0          15194
1          13168
2          14231
3          16398
4          16016
5          18125
6          13761
7          14002
8          15800
9          13867
10         14834
11         13430
12         13680
Name: 774, dtype: object
id_user    13468
0          15194
1          13168
2          14231
3          16398
4          16016
5          18125
6          13761
7          14002
8          15800
9          13867
10         14834
11         13430
12         13680
Name: 774, dtype: object
id_user    13470
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          13394
9          13470
10           DEL
11           DEL
12           DEL
Name: 775, dtype: object
id_user    13470
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          13394
9          13470
10           DEL
11           DEL
12           DEL
Name: 775, dtype: object
id_user    13471
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         16744
11         12578
12         17144
Name: 776, dtype: object
id_user    13471
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         16744
11         12578
12         17144
Name: 776, dtype: object
id_user    13471
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         16744
11         12578
12         17144
Name: 776, dtype: object
id_user    13473
0            DEL
1          13473
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         17377
11           DEL
12           DEL
Name: 777, dtype: object
id_user    13473
0            DEL
1          13473
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         17377
11           DEL
12           DEL
Name: 777, dtype: object
id_user    13474
0            DEL
1            DEL
2            DEL
3            DEL
4          14524
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 778, dtype: object
id_user    13475
0            DEL
1            DEL
2          13475
3          14794
4            DEL
5          15114
6          13062
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 779, dtype: object
id_user    13475
0            DEL
1            DEL
2          13475
3          14794
4            DEL
5          15114
6          13062
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 779, dtype: object
id_user    13475
0            DEL
1            DEL
2          13475
3          14794
4            DEL
5          15114
6          13062
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 779, dtype: object
id_user    13475
0            DEL
1            DEL
2          13475
3          14794
4            DEL
5          15114
6          13062
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 779, dtype: object
id_user    13476
0            DEL
1            DEL
2            DEL
3          16159
4            DEL
5            DEL
6          15125
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 780, dtype: object
id_user    13476
0            DEL
1            DEL
2            DEL
3          16159
4            DEL
5            DEL
6          15125
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 780, dtype: object
id_user    13477
0            DEL
1            DEL
2          12707
3            DEL
4            DEL
5          12976
6          14643
7          17696
8            DEL
9            DEL
10         12613
11         18164
12           DEL
Name: 781, dtype: object
id_user    13477
0            DEL
1            DEL
2          12707
3            DEL
4            DEL
5          12976
6          14643
7          17696
8            DEL
9            DEL
10         12613
11         18164
12           DEL
Name: 781, dtype: object
id_user    13477
0            DEL
1            DEL
2          12707
3            DEL
4            DEL
5          12976
6          14643
7          17696
8            DEL
9            DEL
10         12613
11         18164
12           DEL
Name: 781, dtype: object
id_user    13477
0            DEL
1            DEL
2          12707
3            DEL
4            DEL
5          12976
6          14643
7          17696
8            DEL
9            DEL
10         12613
11         18164
12           DEL
Name: 781, dtype: object
id_user    13477
0            DEL
1            DEL
2          12707
3            DEL
4            DEL
5          12976
6          14643
7          17696
8            DEL
9            DEL
10         12613
11         18164
12           DEL
Name: 781, dtype: object
id_user    13477
0            DEL
1            DEL
2          12707
3            DEL
4            DEL
5          12976
6          14643
7          17696
8            DEL
9            DEL
10         12613
11         18164
12           DEL
Name: 781, dtype: object
id_user    13479
0            DEL
1            DEL
2            DEL
3            DEL
4          12476
5          13831
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 782, dtype: object
id_user    13479
0            DEL
1            DEL
2            DEL
3            DEL
4          12476
5          13831
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 782, dtype: object
id_user    13481
0            DEL
1            DEL
2            DEL
3          17227
4            DEL
5          17061
6            DEL
7            DEL
8          12621
9            DEL
10         13050
11           DEL
12           DEL
Name: 783, dtype: object
id_user    13481
0            DEL
1            DEL
2            DEL
3          17227
4            DEL
5          17061
6            DEL
7            DEL
8          12621
9            DEL
10         13050
11           DEL
12           DEL
Name: 783, dtype: object
id_user    13481
0            DEL
1            DEL
2            DEL
3          17227
4            DEL
5          17061
6            DEL
7            DEL
8          12621
9            DEL
10         13050
11           DEL
12           DEL
Name: 783, dtype: object
id_user    13481
0            DEL
1            DEL
2            DEL
3          17227
4            DEL
5          17061
6            DEL
7            DEL
8          12621
9            DEL
10         13050
11           DEL
12           DEL
Name: 783, dtype: object
id_user    13482
0            DEL
1            DEL
2            DEL
3            DEL
4          14961
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 784, dtype: object
id_user    13483
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         12451
11           DEL
12           DEL
Name: 785, dtype: object
id_user    13484
0            DEL
1            DEL
2            DEL
3            DEL
4          14669
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 786, dtype: object
id_user    13485
0            DEL
1            DEL
2            DEL
3            DEL
4          17530
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 787, dtype: object
id_user    13486
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          13486
8          14401
9          17172
10           DEL
11           DEL
12           DEL
Name: 788, dtype: object
id_user    13486
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          13486
8          14401
9          17172
10           DEL
11           DEL
12           DEL
Name: 788, dtype: object
id_user    13486
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          13486
8          14401
9          17172
10           DEL
11           DEL
12           DEL
Name: 788, dtype: object
id_user    13487
0          17213
1            DEL
2            DEL
3            DEL
4            DEL
5          16320
6            DEL
7            DEL
8            DEL
9            DEL
10         14963
11           DEL
12           DEL
Name: 789, dtype: object
id_user    13487
0          17213
1            DEL
2            DEL
3            DEL
4            DEL
5          16320
6            DEL
7            DEL
8            DEL
9            DEL
10         14963
11           DEL
12           DEL
Name: 789, dtype: object
id_user    13487
0          17213
1            DEL
2            DEL
3            DEL
4            DEL
5          16320
6            DEL
7            DEL
8            DEL
9            DEL
10         14963
11           DEL
12           DEL
Name: 789, dtype: object
id_user    13488
0          13488
1          14167
2          14462
3          16022
4            DEL
5          17739
6            DEL
7          17593
8          14868
9          13901
10         18225
11         17073
12           DEL
Name: 790, dtype: object
id_user    13488
0          13488
1          14167
2          14462
3          16022
4            DEL
5          17739
6            DEL
7          17593
8          14868
9          13901
10         18225
11         17073
12           DEL
Name: 790, dtype: object
id_user    13488
0          13488
1          14167
2          14462
3          16022
4            DEL
5          17739
6            DEL
7          17593
8          14868
9          13901
10         18225
11         17073
12           DEL

id_user    13495
0          15290
1            DEL
2            DEL
3            DEL
4          14735
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14913
12         18055
Name: 796, dtype: object
id_user    13495
0          15290
1            DEL
2            DEL
3            DEL
4          14735
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14913
12         18055
Name: 796, dtype: object
id_user    13495
0          15290
1            DEL
2            DEL
3            DEL
4          14735
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14913
12         18055
Name: 796, dtype: object
id_user    13495
0          15290
1            DEL
2            DEL
3            DEL
4          14735
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14913
12         18055
Name: 796, dtype: object
id_user    13496
0          16725
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         12627
12           DEL
Name: 797, dtype: object
id_user    13496
0          16725
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         12627
12           DEL
Name: 797, dtype: object
id_user    13497
0          17320
1            DEL
2            DEL
3          14934
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 798, dtype: object
id_user    13497
0          17320
1            DEL
2            DEL
3          14934
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 798, dtype: object
id_user    13499
0            DEL
1            DEL
2            DEL
3          12779
4          13725
5            DEL
6            DEL
7            DEL
8            DEL
9          14901
10           DEL
11         12474
12           DEL
Name: 799, dtype: object
id_user    13499
0            DEL
1            DEL
2            DEL
3          12779
4          13725
5            DEL
6            DEL
7            DEL
8            DEL
9          14901
10           DEL
11         12474
12           DEL
Name: 799, dtype: object
id_user    13499
0            DEL
1            DEL
2            DEL
3          12779
4          13725
5            DEL
6            DEL
7            DEL
8            DEL
9          14901
10           DEL
11         12474
12           DEL
Name: 799, dtype: object
id_user    13499
0            DEL
1            DEL
2            DEL
3          12779
4          13725
5            DEL
6            DEL
7            DEL
8            DEL
9          14901
10           DEL
11         12474
12           DEL
Name: 799, dtype: object
id_user    13500
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          13355
9            DEL
10           DEL
11         16204
12           DEL
Name: 800, dtype: object
id_user    13500
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          13355
9            DEL
10           DEL
11         16204
12           DEL
Name: 800, dtype: object
id_user    13501
0            DEL
1            DEL
2          15974
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 801, dtype: object
id_user    13502
0            DEL
1          12402
2            DEL
3          14064
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14020
12           DEL
Name: 802, dtype: object
id_user    13502
0            DEL
1          12402
2            DEL
3          14064
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14020
12           DEL
Name: 802, dtype: object
id_user    13502
0            DEL
1          12402
2            DEL
3          14064
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14020
12           DEL
Name: 802, dtype: object
id_user    13503
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          15144
10           DEL
11           DEL
12           DEL
Name: 803, dtype: object
id_user    13504
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         13023
11           DEL
12           DEL
Name: 804, dtype: object
id_user    13505
0            DEL
1            DEL
2            DEL
3            DEL
4          14735
5          16023
6          15644
7            DEL
8            DEL
9          13397
10           DEL
11           DEL
12           DEL
Name: 805, dtype: object
id_user    13505
0            DEL
1            DEL
2            DEL
3            DEL
4          14735
5          16023
6          15644
7            DEL
8            DEL
9          13397
10           DEL
11           DEL
12           DEL
Name: 805, dtype: object
id_user    13505
0            DEL
1            DEL
2            DEL
3            DEL
4          14735
5          16023
6          15644
7            DEL
8            DEL
9          13397
10           DEL
11           DEL
12           DEL
Name: 805, dtype: object
id_user    13505
0            DEL
1            DEL
2            DEL
3            DEL
4          14735
5          16023
6          15644
7            DEL
8            DEL
9          13397
10           DEL
11           DEL
12           DEL
Name: 805, dtype: object
id_user    13506
0          18156
1          14442
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 806, dtype: object
id_user    13506
0          18156
1          14442
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 806, dtype: object
id_user    13507
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          16054
8          12695
9          14019
10           DEL
11           DEL
12         13078
Name: 807, dtype: object
id_user    13507
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          16054
8          12695
9          14019
10           DEL
11           DEL
12         13078
Name: 807, dtype: object
id_user    13507
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          16054
8          12695
9          14019
10           DEL
11           DEL
12         13078
Name: 807, dtype: object
id_user    13507
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          16054
8          12695
9          14019
10           DEL
11           DEL
12         13078
Name: 807, dtype: object
id_user    13508
0            DEL
1            DEL
2            DEL
3            DEL
4          15955
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 808, dtype: object
id_user    13509
0            DEL
1            DEL
2          13675
3          16019
4            DEL
5            DEL
6            DEL
7          15895
8            DEL
9          18241
10         12360
11           DEL
12         12569
Name: 809, dtype: object
id_user    13509
0            DEL
1            DEL
2          13675
3          16019
4            DEL
5            DEL
6            DEL
7          15895
8            DEL
9          18241
10         12360
11           DEL
12         12569
Name: 809, dtype: object
id_user    13509
0            DEL
1            DEL
2          13675
3          16019
4            DEL
5            DEL
6            DEL
7          15895
8            DEL
9          18241
10         12360
11           DEL
12         12569
Name: 809, dtype: object
id_user    13509
0            DEL
1            DEL
2          13675
3          16019
4            DEL
5            DEL
6            DEL
7          15895
8            DEL
9          18241
10         12360
11           DEL
12         12569
Name: 809, dtype: object
id_user    13509
0            DEL
1            DEL
2          13675
3          16019
4            DEL
5            DEL
6            DEL
7          15895
8            DEL
9          18241
10         12360
11           DEL
12         12569
Name: 809, dtype: object
id_user    13509
0            DEL
1            DEL
2          13675
3          16019
4            DEL
5            DEL
6            DEL
7          15895
8            DEL
9          18241
10         12360
11           DEL
12         12569
Name: 809, dtype: object
id_user    13510
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17522
7            DEL
8            DEL
9          16820
10         16056
11           DEL
12         15443
Name: 810, dtype: object
id_user    13510
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17522
7            DEL
8            DEL
9          16820
10         16056
11           DEL
12         15443
Name: 810, dtype: object
id_user    13510
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17522
7            DEL
8            DEL
9          16820
10         16056
11           DEL
12         15443
Name: 810, dtype: object
id_user    13510
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17522
7            DEL
8            DEL
9          16820
10         16056
11           DEL
12         15443
Name: 810, dtype: object
id_user    13512
0            DEL
1            DEL
2            DEL
3          12901
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 811, dtype: object
id_user    13513
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          17377
9            DEL
10           DEL
11           DEL
12           DEL
Name: 812, dtype: object
id_user    13515
0            DEL
1            DEL
2            DEL
3            DEL
4          13771
5            DEL
6            DEL
7          15521
8          15683
9          13901
10           DEL
11           DEL
12           DEL
Name: 813, dtype: object
id_user    13515
0            DEL
1            DEL
2            DEL
3            DEL
4          13771
5            DEL
6            DEL
7          15521
8          15683
9          13901
10           DEL
11           DEL
12           DEL
Name: 813, dtype: object
id_user    13515
0            DEL
1            DEL
2            DEL
3            DEL
4          13771
5            DEL
6            DEL
7          15521
8          15683
9          13901
10           DEL
11           DEL
12           DEL
Name: 813, dtype: object
id_user    13515
0            DEL
1            DEL
2            DEL
3            DEL
4          13771
5            DEL
6            DEL
7          15521
8          15683
9          13901
10           DEL
11           DEL
12           DEL
Name: 813, dtype: object
id_user    13516
0            DEL
1            DEL
2            DEL
3            DEL
4          16523
5            DEL
6            DEL
7            DEL
8            DEL
9          17405
10           DEL
11         14593
12           DEL
Name: 814, dtype: object
id_user    13516
0            DEL
1            DEL
2            DEL
3            DEL
4          16523
5            DEL
6            DEL
7            DEL
8            DEL
9          17405
10           DEL
11         14593
12           DEL
Name: 814, dtype: object
id_user    13516
0            DEL
1            DEL
2            DEL
3            DEL
4          16523
5            DEL
6            DEL
7            DEL
8            DEL
9          17405
10           DEL
11         14593
12           DEL
Name: 814, dtype: object
id_user    13517
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          15069
7            DEL
8          18200
9            DEL
10         14175
11           DEL
12           DEL
Name: 815, dtype: object
id_user    13517
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          15069
7            DEL
8          18200
9            DEL
10         14175
11           DEL
12           DEL
Name: 815, dtype: object
id_user    13517
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          15069
7            DEL
8          18200
9            DEL
10         14175
11           DEL
12           DEL
Name: 815, dtype: object
id_user    13518
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          17333
10           DEL
11           DEL
12           DEL
Name: 816, dtype: object
id_user    13519
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          16389
10           DEL
11           DEL
12           DEL
Name: 817, dtype: object
id_user    13520
0          12841
1          14307
2            DEL
3          14587
4            DEL
5            DEL
6          14587
7          13520
8            DEL
9            DEL
10         14834
11           DEL
12           DEL
Name: 818, dtype: object
id_user    13520
0          12841
1          14307
2            DEL
3          14587
4            DEL
5            DEL
6          14587
7          13520
8            DEL
9            DEL
10         14834
11           DEL
12           DEL
Name: 818, dtype: object
id_user    13520
0          12841
1          14307
2            DEL
3          14587
4            DEL
5            DEL
6          14587
7          13520
8            DEL
9            DEL
10         14834
11           DEL
12           DEL
Name: 818, dtype: object
id_user    13520
0          12841
1          14307
2            DEL
3          14587
4            DEL
5            DEL
6          14587
7          13520
8            DEL
9            DEL
10         14834
11           DEL
12           DEL
Name: 818, dtype: object
id_user    13520
0          12841
1          14307
2            DEL
3          14587
4            DEL
5            DEL
6          14587
7          13520
8            DEL
9            DEL
10         14834
11           DEL
12           DEL
Name: 818, dtype: object
id_user    13520
0          12841
1          14307
2            DEL
3          14587
4            DEL
5            DEL
6          14587
7          13520
8            DEL
9            DEL
10         14834
11           DEL
12           DEL
Name: 818, dtype: object
id_user    13521
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14719
12         16442
Name: 819, dtype: object
id_user    13521
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14719
12         16442
Name: 819, dtype: object
id_user    13522
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14732
12           DEL
Name: 820, dtype: object
id_user    13523
0          15032
1            DEL
2            DEL
3            DEL
4            DEL
5          13523
6            DEL
7            DEL
8            DEL
9            DEL
10         14139
11         14511
12           DEL
Name: 821, dtype: object
id_user    13523
0          15032
1            DEL
2            DEL
3            DEL
4            DEL
5          13523
6            DEL
7            DEL
8            DEL
9            DEL
10         14139
11         14511
12           DEL
Name: 821, dtype: object
id_user    13523
0          15032
1            DEL
2            DEL
3            DEL
4            DEL
5          13523
6            DEL
7            DEL
8            DEL
9            DEL
10         14139
11         14511
12           DEL
Name: 821, dtype: object
id_user    13523
0          15032
1            DEL
2            DEL
3            DEL
4            DEL
5          13523
6            DEL
7            DEL
8            DEL
9            DEL
10         14139
11         14511
12           DEL
Name: 821, dtype: object
id_user    13524
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          12836
6          17769
7            DEL
8          14078
9          17557
10         14572
11           DEL
12           DEL
Name: 822, dtype: object
id_user    13524
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          12836
6          17769
7            DEL
8          14078
9          17557
10         14572
11           DEL
12           DEL
Name: 822, dtype: object
id_user    13524
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          12836
6          17769
7            DEL
8          14078
9          17557
10         14572
11           DEL
12           DEL
Name: 822, dtype: object
id_user    13524
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          12836
6          17769
7            DEL
8          14078
9          17557
10         14572
11           DEL
12           DEL
Name: 822, dtype: object
id_user    13524
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          12836
6          17769
7            DEL
8          14078
9          17557
10         14572
11           DEL
12           DEL
Name: 822, dtype: object
id_user    13525
0            DEL
1            DEL
2            DEL
3            DEL
4          15674
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         12438
12           DEL
Name: 823, dtype: object
id_user    13525
0            DEL
1            DEL
2            DEL
3            DEL
4          15674
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         12438
12           DEL
Name: 823, dtype: object
id_user    13527
0            DEL
1          15296
2            DEL
3            DEL
4            DEL
5          12705
6            DEL
7            DEL
8          17451
9          13527
10           DEL
11         16243
12           DEL
Name: 824, dtype: object

Name: 829, dtype: object
id_user    13534
0          13534
1          17180
2          14475
3          14461
4          14231
5          14191
6          15379
7          12981
8          16340
9            DEL
10         16542
11         15785
12         12826
Name: 829, dtype: object
id_user    13536
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          15429
10         15140
11         15394
12         17644
Name: 830, dtype: object
id_user    13536
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          15429
10         15140
11         15394
12         17644
Name: 830, dtype: object
id_user    13536
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          15429
10         15140
11         15394
12         17644
Name: 830, dtype: object
id_user    13536
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          15429
10         15140
11         15394
12         17644
Name: 830, dtype: object
id_user    13538
0            DEL
1          12735
2            DEL
3          13538
4            DEL
5            DEL
6          14040
7          13538
8          15747
9          13538
10         14842
11           DEL
12           DEL
Name: 831, dtype: object
id_user    13538
0            DEL
1          12735
2            DEL
3          13538
4            DEL
5            DEL
6          14040
7          13538
8          15747
9          13538
10         14842
11           DEL
12           DEL
Name: 831, dtype: object
id_user    13538
0            DEL
1          12735
2            DEL
3          13538
4            DEL
5            DEL
6          14040
7          13538
8          15747
9          13538
10         14842
11           DEL
12           DEL
Name: 831, dtype: object
id_user    13538
0            DEL
1          12735
2            DEL
3          13538
4            DEL
5            DEL
6          14040
7          13538
8          15747
9          13538
10         14842
11           DEL
12           DEL
Name: 831, dtype: object
id_user    13538
0            DEL
1          12735
2            DEL
3          13538
4            DEL
5            DEL
6          14040
7          13538
8          15747
9          13538
10         14842
11           DEL
12           DEL
Name: 831, dtype: object
id_user    13538
0            DEL
1          12735
2            DEL
3          13538
4            DEL
5            DEL
6          14040
7          13538
8          15747
9          13538
10         14842
11           DEL
12           DEL
Name: 831, dtype: object
id_user    13538
0            DEL
1          12735
2            DEL
3          13538
4            DEL
5            DEL
6          14040
7          13538
8          15747
9          13538
10         14842
11           DEL
12           DEL
Name: 831, dtype: object
id_user    13539
0            DEL
1            DEL
2          17507
3            DEL
4          13740
5            DEL
6            DEL
7            DEL
8            DEL
9          17669
10           DEL
11           DEL
12           DEL
Name: 832, dtype: object
id_user    13539
0            DEL
1            DEL
2          17507
3            DEL
4          13740
5            DEL
6            DEL
7            DEL
8            DEL
9          17669
10           DEL
11           DEL
12           DEL
Name: 832, dtype: object
id_user    13539
0            DEL
1            DEL
2          17507
3            DEL
4          13740
5            DEL
6            DEL
7            DEL
8            DEL
9          17669
10           DEL
11           DEL
12           DEL
Name: 832, dtype: object
id_user    13544
0            DEL
1            DEL
2            DEL
3            DEL
4          13700
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         13982
11           DEL
12           DEL
Name: 833, dtype: object
id_user    13544
0            DEL
1            DEL
2            DEL
3            DEL
4          13700
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         13982
11           DEL
12           DEL
Name: 833, dtype: object
id_user    13546
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          13546
6            DEL
7            DEL
8            DEL
9            DEL
10         14805
11         13610
12           DEL
Name: 834, dtype: object
id_user    13546
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          13546
6            DEL
7            DEL
8            DEL
9            DEL
10         14805
11         13610
12           DEL
Name: 834, dtype: object
id_user    13546
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          13546
6            DEL
7            DEL
8            DEL
9            DEL
10         14805
11         13610
12           DEL
Name: 834, dtype: object
id_user    13548
0            DEL
1            DEL
2            DEL
3            DEL
4          13606
5            DEL
6            DEL
7            DEL
8            DEL
9          14965
10           DEL
11           DEL
12           DEL
Name: 835, dtype: object
id_user    13548
0            DEL
1            DEL
2            DEL
3            DEL
4          13606
5            DEL
6            DEL
7            DEL
8            DEL
9          14965
10           DEL
11           DEL
12           DEL
Name: 835, dtype: object
id_user    13549
0            DEL
1            DEL
2            DEL
3            DEL
4          17827
5          13549
6            DEL
7          16271
8            DEL
9            DEL
10         17813
11         16779
12           DEL
Name: 836, dtype: object
id_user    13549
0            DEL
1            DEL
2            DEL
3            DEL
4          17827
5          13549
6            DEL
7          16271
8            DEL
9            DEL
10         17813
11         16779
12           DEL
Name: 836, dtype: object
id_user    13549
0            DEL
1            DEL
2            DEL
3            DEL
4          17827
5          13549
6            DEL
7          16271
8            DEL
9            DEL
10         17813
11         16779
12           DEL
Name: 836, dtype: object
id_user    13549
0            DEL
1            DEL
2            DEL
3            DEL
4          17827
5          13549
6            DEL
7          16271
8            DEL
9            DEL
10         17813
11         16779
12           DEL
Name: 836, dtype: object
id_user    13549
0            DEL
1            DEL
2            DEL
3            DEL
4          17827
5          13549
6            DEL
7          16271
8            DEL
9            DEL
10         17813
11         16779
12           DEL
Name: 836, dtype: object
id_user    13552
0            DEL
1          17404
2            DEL
3          17917
4            DEL
5          13767
6          12567
7            DEL
8          14748
9          13588
10         15046
11           DEL
12           DEL
Name: 837, dtype: object
id_user    13552
0            DEL
1          17404
2            DEL
3          17917
4            DEL
5          13767
6          12567
7            DEL
8          14748
9          13588
10         15046
11           DEL
12           DEL
Name: 837, dtype: object
id_user    13552
0            DEL
1          17404
2            DEL
3          17917
4            DEL
5          13767
6          12567
7            DEL
8          14748
9          13588
10         15046
11           DEL
12           DEL
Name: 837, dtype: object
id_user    13552
0            DEL
1          17404
2            DEL
3          17917
4            DEL
5          13767
6          12567
7            DEL
8          14748
9          13588
10         15046
11           DEL
12           DEL
Name: 837, dtype: object
id_user    13552
0            DEL
1          17404
2            DEL
3          17917
4            DEL
5          13767
6          12567
7            DEL
8          14748
9          13588
10         15046
11           DEL
12           DEL
Name: 837, dtype: object
id_user    13552
0            DEL
1          17404
2            DEL
3          17917
4            DEL
5          13767
6          12567
7            DEL
8          14748
9          13588
10         15046
11           DEL
12           DEL
Name: 837, dtype: object
id_user    13552
0            DEL
1          17404
2            DEL
3          17917
4            DEL
5          13767
6          12567
7            DEL
8          14748
9          13588
10         15046
11           DEL
12           DEL
Name: 837, dtype: object
id_user    13555
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          16592
6            DEL
7            DEL
8            DEL
9          13555
10           DEL
11           DEL
12           DEL
Name: 838, dtype: object
id_user    13555
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          16592
6            DEL
7            DEL
8            DEL
9          13555
10           DEL
11           DEL
12           DEL
Name: 838, dtype: object
id_user    13557
0            DEL
1            DEL
2            DEL
3          14447
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         13557
12           DEL
Name: 839, dtype: object
id_user    13557
0            DEL
1            DEL
2            DEL
3          14447
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         13557
12           DEL
Name: 839, dtype: object
id_user    13558
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         14514
11         16204
12         13471
Name: 840, dtype: object
id_user    13558
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         14514
11         16204
12         13471
Name: 840, dtype: object
id_user    13558
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         14514
11         16204
12         13471
Name: 840, dtype: object
id_user    13560
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12         12970
Name: 841, dtype: object
id_user    13561
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          13835
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 842, dtype: object
id_user    13562
0            DEL
1            DEL
2            DEL
3            DEL
4          12717
5            DEL
6            DEL
7          17213
8            DEL
9          14282
10           DEL
11           DEL
12           DEL
Name: 843, dtype: object
id_user    13562
0            DEL
1            DEL
2            DEL
3            DEL
4          12717
5            DEL
6            DEL
7          17213
8            DEL
9          14282
10           DEL
11           DEL
12           DEL
Name: 843, dtype: object
id_user    13562
0            DEL
1            DEL
2            DEL
3            DEL
4          12717
5            DEL
6            DEL
7          17213
8            DEL
9          14282
10           DEL
11           DEL
12           DEL
Name: 843, dtype: object
id_user    13563
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          17961
8            DEL
9          13268
10           DEL
11           DEL
12           DEL
Name: 844, dtype: object
id_user    13563
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          17961
8            DEL
9          13268
10           DEL
11           DEL
12           DEL
Name: 844, dtype: object
id_user    13564
0          15867
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          13764
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 845, dtype: object
id_user    13564
0          15867
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7          13764
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 845, dtype: object
id_user    13565
0            DEL
1          13069
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14071
12           DEL
Name: 846, dtype: object
id_user    13565
0            DEL
1          13069
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14071
12           DEL
Name: 846, dtype: object
id_user    13566
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          13566
10         14572
11           DEL
12           DEL
Name: 847, dtype: object
id_user    13566
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          13566
10         14572
11           DEL
12           DEL
Name: 847, dtype: object
id_user    13568
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17299
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 848, dtype: object
id_user    13569
0          16059
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         16330
12           DEL
Name: 849, dtype: object
id_user    13569
0          16059
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         16330
12           DEL
Name: 849, dtype: object
id_user    13570
0            DEL
1            DEL
2            DEL
3            DEL
4          13632
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 850, dtype: object
id_user    13571
0            DEL
1            DEL
2            DEL
3          17365
4          16188
5          16470
6          15974
7          13571
8          17470
9          14410
10         16415
11         18156
12           DEL
Name: 851, dtype: object
id_user    13571
0            DEL
1            DEL
2            DEL
3          17365
4          16188
5          16470
6          15974
7          13571
8          17470
9          14410
10         16415
11         18156
12           DEL
Name: 851, dtype: object
id_user    13571
0            DEL
1            DEL
2            DEL
3          17365
4          16188
5          16470
6          15974
7          13571
8          17470
9          14410
10         16415
11         18156
12           DEL
Name: 851, dtype: object
id_user    13571
0            DEL
1            DEL
2            DEL
3          17365
4          16188
5          16470
6          15974
7          13571
8          17470
9          14410
10         16415
11         18156
12           DEL
Name: 851, dtype: object
id_user    13571
0            DEL
1            DEL
2            DEL
3          17365
4          16188
5          16470
6          15974
7          13571
8          17470
9          14410
10         16415
11         18156
12           DEL
Name: 851, dtype: object
id_user    13571
0            DEL
1            DEL
2            DEL
3          17365
4          16188
5          16470
6          15974
7          13571
8          17470
9          14410
10         16415
11         18156
12           DEL
Name: 851, dtype: object
id_user    13571
0            DEL
1            DEL
2            DEL
3          17365
4          16188
5          16470
6          15974
7          13571
8          17470
9          14410
10         16415
11         18156
12           DEL
Name: 851, dtype: object
id_user    13571
0            DEL
1            DEL
2            DEL
3          17365
4          16188
5          16470
6          15974
7          13571
8          17470
9          14410
10         16415
11         18156
12           DEL
Name: 851, dtype: object
id_user    13571
0            DEL
1            DEL
2            DEL
3          17365
4          16188
5          16470
6          15974
7          13571
8          17470
9          14410
10         16415
11         18156
12           DEL
Name: 851, dtype: object
id_user    13572
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          13192
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 852, dtype: object
id_user    13573
0            DEL
1            DEL
2            DEL
3          18172
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         17571
11           DEL
12           DEL
Name: 853, dtype: object
id_user    13573
0            DEL
1            DEL
2            DEL
3          18172
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         17571
11           DEL
12           DEL
Name: 853, dtype: object
id_user    13575
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          16359
7          16062
8            DEL
9          14422
10         12444
11         14825
12           DEL
Name: 854, dtype: object
id_user    13575
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          16359
7          16062
8            DEL
9          14422
10         12444
11         14825
12           DEL
Name: 854, dtype: object
id_user    13575
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          16359
7          16062
8            DEL
9          14422
10         12444
11         14825
12           DEL
Name: 854, dtype: object
id_user    13575
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          16359
7          16062
8            DEL
9          14422
10         12444
11         14825
12           DEL
Name: 854, dtype: object
id_user    13575
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          16359
7          16062
8            DEL
9          14422
10         12444
11         14825
12           DEL
Name: 854, dtype: object
id_user    13576
0          17897
1          13576
2          14060
3          14794
4          15249
5          14245
6          16672
7          14019
8          13014
9          18204
10         16191
11         12627
12           DEL

Name: 862, dtype: object
id_user    13588
0            DEL
1            DEL
2            DEL
3          16712
4            DEL
5            DEL
6            DEL
7          16133
8          14639
9          13321
10         14329
11         14277
12           DEL
Name: 862, dtype: object
id_user    13588
0            DEL
1            DEL
2            DEL
3          16712
4            DEL
5            DEL
6            DEL
7          16133
8          14639
9          13321
10         14329
11         14277
12           DEL
Name: 862, dtype: object
id_user    13588
0            DEL
1            DEL
2            DEL
3          16712
4            DEL
5            DEL
6            DEL
7          16133
8          14639
9          13321
10         14329
11         14277
12           DEL
Name: 862, dtype: object
id_user    13588
0            DEL
1            DEL
2            DEL
3          16712
4            DEL
5            DEL
6            DEL
7          16133
8          14639
9          13321
10         14329
11         14277
12           DEL
Name: 862, dtype: object
id_user    13589
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17719
7            DEL
8            DEL
9            DEL
10           DEL
11         15872
12           DEL
Name: 863, dtype: object
id_user    13589
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17719
7            DEL
8            DEL
9            DEL
10           DEL
11         15872
12           DEL
Name: 863, dtype: object
id_user    13590
0            DEL
1            DEL
2          13319
3            DEL
4          13772
5          17272
6            DEL
7          12669
8            DEL
9            DEL
10         16191
11         13914
12           DEL
Name: 864, dtype: object
id_user    13590
0            DEL
1            DEL
2          13319
3            DEL
4          13772
5          17272
6            DEL
7          12669
8            DEL
9            DEL
10         16191
11         13914
12           DEL
Name: 864, dtype: object
id_user    13590
0            DEL
1            DEL
2          13319
3            DEL
4          13772
5          17272
6            DEL
7          12669
8            DEL
9            DEL
10         16191
11         13914
12           DEL
Name: 864, dtype: object
id_user    13590
0            DEL
1            DEL
2          13319
3            DEL
4          13772
5          17272
6            DEL
7          12669
8            DEL
9            DEL
10         16191
11         13914
12           DEL
Name: 864, dtype: object
id_user    13590
0            DEL
1            DEL
2          13319
3            DEL
4          13772
5          17272
6            DEL
7          12669
8            DEL
9            DEL
10         16191
11         13914
12           DEL
Name: 864, dtype: object
id_user    13590
0            DEL
1            DEL
2          13319
3            DEL
4          13772
5          17272
6            DEL
7          12669
8            DEL
9            DEL
10         16191
11         13914
12           DEL
Name: 864, dtype: object
id_user    13591
0            DEL
1            DEL
2            DEL
3          17921
4            DEL
5          15791
6            DEL
7            DEL
8            DEL
9            DEL
10         17068
11           DEL
12           DEL
Name: 865, dtype: object
id_user    13591
0            DEL
1            DEL
2            DEL
3          17921
4            DEL
5          15791
6            DEL
7            DEL
8            DEL
9            DEL
10         17068
11           DEL
12           DEL
Name: 865, dtype: object
id_user    13591
0            DEL
1            DEL
2            DEL
3          17921
4            DEL
5          15791
6            DEL
7            DEL
8            DEL
9            DEL
10         17068
11           DEL
12           DEL
Name: 865, dtype: object
id_user    13592
0            DEL
1            DEL
2            DEL
3          18225
4            DEL
5          13192
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         17084
12           DEL
Name: 866, dtype: object
id_user    13592
0            DEL
1            DEL
2            DEL
3          18225
4            DEL
5          13192
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         17084
12           DEL
Name: 866, dtype: object
id_user    13592
0            DEL
1            DEL
2            DEL
3          18225
4            DEL
5          13192
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         17084
12           DEL
Name: 866, dtype: object
id_user    13593
0            DEL
1          13593
2            DEL
3          16029
4            DEL
5            DEL
6          16316
7            DEL
8          12567
9            DEL
10           DEL
11           DEL
12           DEL
Name: 867, dtype: object
id_user    13593
0            DEL
1          13593
2            DEL
3          16029
4            DEL
5            DEL
6          16316
7            DEL
8          12567
9            DEL
10           DEL
11           DEL
12           DEL
Name: 867, dtype: object
id_user    13593
0            DEL
1          13593
2            DEL
3          16029
4            DEL
5            DEL
6          16316
7            DEL
8          12567
9            DEL
10           DEL
11           DEL
12           DEL
Name: 867, dtype: object
id_user    13593
0            DEL
1          13593
2            DEL
3          16029
4            DEL
5            DEL
6          16316
7            DEL
8          12567
9            DEL
10           DEL
11           DEL
12           DEL
Name: 867, dtype: object
id_user    13594
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         12540
11           DEL
12           DEL
Name: 868, dtype: object
id_user    13596
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         15987
12         13319
Name: 869, dtype: object
id_user    13596
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         15987
12         13319
Name: 869, dtype: object
id_user    13598
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         17111
11           DEL
12           DEL
Name: 870, dtype: object
id_user    13599
0          13050
1          13576
2            DEL
3          14506
4          15981
5          14688
6            DEL
7          13418
8            DEL
9          13599
10           DEL
11         14251
12         16358
Name: 871, dtype: object
id_user    13599
0          13050
1          13576
2            DEL
3          14506
4          15981
5          14688
6            DEL
7          13418
8            DEL
9          13599
10           DEL
11         14251
12         16358
Name: 871, dtype: object
id_user    13599
0          13050
1          13576
2            DEL
3          14506
4          15981
5          14688
6            DEL
7          13418
8            DEL
9          13599
10           DEL
11         14251
12         16358
Name: 871, dtype: object
id_user    13599
0          13050
1          13576
2            DEL
3          14506
4          15981
5          14688
6            DEL
7          13418
8            DEL
9          13599
10           DEL
11         14251
12         16358
Name: 871, dtype: object
id_user    13599
0          13050
1          13576
2            DEL
3          14506
4          15981
5          14688
6            DEL
7          13418
8            DEL
9          13599
10           DEL
11         14251
12         16358
Name: 871, dtype: object
id_user    13599
0          13050
1          13576
2            DEL
3          14506
4          15981
5          14688
6            DEL
7          13418
8            DEL
9          13599
10           DEL
11         14251
12         16358
Name: 871, dtype: object
id_user    13599
0          13050
1          13576
2            DEL
3          14506
4          15981
5          14688
6            DEL
7          13418
8            DEL
9          13599
10           DEL
11         14251
12         16358
Name: 871, dtype: object
id_user    13599
0          13050
1          13576
2            DEL
3          14506
4          15981
5          14688
6            DEL
7          13418
8            DEL
9          13599
10           DEL
11         14251
12         16358
Name: 871, dtype: object
id_user    13599
0          13050
1          13576
2            DEL
3          14506
4          15981
5          14688
6            DEL
7          13418
8            DEL
9          13599
10           DEL
11         14251
12         16358
Name: 871, dtype: object
id_user    13600
0            DEL
1          17619
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 872, dtype: object
id_user    13601
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          17315
6            DEL
7            DEL
8            DEL
9            DEL
10         16110
11           DEL
12           DEL
Name: 873, dtype: object
id_user    13601
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          17315
6            DEL
7            DEL
8            DEL
9            DEL
10         16110
11           DEL
12           DEL
Name: 873, dtype: object
id_user    13602
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         13090
11           DEL
12           DEL
Name: 874, dtype: object
id_user    13603
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         16571
12           DEL
Name: 875, dtype: object
id_user    13606
0            DEL
1            DEL
2          13881
3            DEL
4          15058
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         17416
12           DEL
Name: 876, dtype: object
id_user    13606
0            DEL
1            DEL
2          13881
3            DEL
4          15058
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         17416
12           DEL
Name: 876, dtype: object
id_user    13606
0            DEL
1            DEL
2          13881
3            DEL
4          15058
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         17416
12           DEL
Name: 876, dtype: object
id_user    13607
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         14572
11           DEL
12           DEL
Name: 877, dtype: object
id_user    13610
0            DEL
1            DEL
2          16745
3            DEL
4          13610
5            DEL
6          13637
7          17571
8          15984
9            DEL
10         14702
11         15987
12           DEL
Name: 878, dtype: object
id_user    13610
0            DEL
1            DEL
2          16745
3            DEL
4          13610
5            DEL
6          13637
7          17571
8          15984
9            DEL
10         14702
11         15987
12           DEL
Name: 878, dtype: object
id_user    13610
0            DEL
1            DEL
2          16745
3            DEL
4          13610
5            DEL
6          13637
7          17571
8          15984
9            DEL
10         14702
11         15987
12           DEL
Name: 878, dtype: object
id_user    13610
0            DEL
1            DEL
2          16745
3            DEL
4          13610
5            DEL
6          13637
7          17571
8          15984
9            DEL
10         14702
11         15987
12           DEL
Name: 878, dtype: object
id_user    13610
0            DEL
1            DEL
2          16745
3            DEL
4          13610
5            DEL
6          13637
7          17571
8          15984
9            DEL
10         14702
11         15987
12           DEL
Name: 878, dtype: object
id_user    13610
0            DEL
1            DEL
2          16745
3            DEL
4          13610
5            DEL
6          13637
7          17571
8          15984
9            DEL
10         14702
11         15987
12           DEL
Name: 878, dtype: object
id_user    13610
0            DEL
1            DEL
2          16745
3            DEL
4          13610
5            DEL
6          13637
7          17571
8          15984
9            DEL
10         14702
11         15987
12           DEL
Name: 878, dtype: object
id_user    13611
0          16003
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          14643
7            DEL
8            DEL
9          13272
10           DEL
11           DEL
12           DEL
Name: 879, dtype: object
id_user    13611
0          16003
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          14643
7            DEL
8            DEL
9          13272
10           DEL
11           DEL
12           DEL
Name: 879, dtype: object
id_user    13611
0          16003
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          14643
7            DEL
8            DEL
9          13272
10           DEL
11           DEL
12           DEL
Name: 879, dtype: object
id_user    13614
0            DEL
1          16315
2            DEL
3            DEL
4            DEL
5            DEL
6          13614
7            DEL
8            DEL
9          13450
10           DEL
11         17540
12           DEL
Name: 880, dtype: object
id_user    13614
0            DEL
1          16315
2            DEL
3            DEL
4            DEL
5            DEL
6          13614
7            DEL
8            DEL
9          13450
10           DEL
11         17540
12           DEL
Name: 880, dtype: object
id_user    13614
0            DEL
1          16315
2            DEL
3            DEL
4            DEL
5            DEL
6          13614
7            DEL
8            DEL
9          13450
10           DEL
11         17540
12           DEL
Name: 880, dtype: object
id_user    13614
0            DEL
1          16315
2            DEL
3            DEL
4            DEL
5            DEL
6          13614
7            DEL
8            DEL
9          13450
10           DEL
11         17540
12           DEL
Name: 880, dtype: object
id_user    13615
0            DEL
1          12744
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 881, dtype: object
id_user    13617
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17422
7            DEL
8          15472
9            DEL
10         17725
11           DEL
12           DEL
Name: 882, dtype: object
id_user    13617
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17422
7            DEL
8          15472
9            DEL
10         17725
11           DEL
12           DEL
Name: 882, dtype: object
id_user    13617
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17422
7            DEL
8          15472
9            DEL
10         17725
11           DEL
12           DEL
Name: 882, dtype: object
id_user    13618
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17932
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 883, dtype: object
id_user    13621
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          13799
9            DEL
10           DEL
11           DEL
12           DEL
Name: 884, dtype: object
id_user    13623
0            DEL
1            DEL
2          16317
3          13623
4          17050
5          14873
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         17867
12           DEL
Name: 885, dtype: object
id_user    13623
0            DEL
1            DEL
2          16317
3          13623
4          17050
5          14873
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         17867
12           DEL
Name: 885, dtype: object
id_user    13623
0            DEL
1            DEL
2          16317
3          13623
4          17050
5          14873
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         17867
12           DEL
Name: 885, dtype: object
id_user    13623
0            DEL
1            DEL
2          16317
3          13623
4          17050
5          14873
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         17867
12           DEL
Name: 885, dtype: object
id_user    13623
0            DEL
1            DEL
2          16317
3          13623
4          17050
5          14873
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         17867
12           DEL
Name: 885, dtype: object
id_user    13626
0            DEL
1            DEL
2            DEL
3            DEL
4          13124
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 886, dtype: object
id_user    13627
0          13854
1            DEL
2            DEL
3            DEL
4            DEL
5          15116
6          15907
7            DEL
8            DEL
9          12390
10         16029
11           DEL
12           DEL
Name: 887, dtype: object
id_user    13627
0          13854
1            DEL
2            DEL
3            DEL
4            DEL
5          15116
6          15907
7            DEL
8            DEL
9          12390
10         16029
11           DEL
12           DEL
Name: 887, dtype: object
id_user    13627
0          13854
1            DEL
2            DEL
3            DEL
4            DEL
5          15116
6          15907
7            DEL
8            DEL
9          12390
10         16029
11           DEL
12           DEL
Name: 887, dtype: object
id_user    13627
0          13854
1            DEL
2            DEL
3            DEL
4            DEL
5          15116
6          15907
7            DEL
8            DEL
9          12390
10         16029
11           DEL
12           DEL
Name: 887, dtype: object
id_user    13627
0          13854
1            DEL
2            DEL
3            DEL
4            DEL
5          15116
6          15907
7            DEL
8            DEL
9          12390
10         16029
11           DEL
12           DEL
Name: 887, dtype: object
id_user    13629
0            DEL
1          13629
2          13629
3            DEL
4          13001
5          13798
6          13629
7          13629
8            DEL
9          17306
10         13587
11         13629
12           DEL

id_user    13630
0            DEL
1            DEL
2          13630
3            DEL
4          12647
5            DEL
6          13750
7            DEL
8          17183
9          15150
10           DEL
11           DEL
12         13435
Name: 889, dtype: object
id_user    13630
0            DEL
1            DEL
2          13630
3            DEL
4          12647
5            DEL
6          13750
7            DEL
8          17183
9          15150
10           DEL
11           DEL
12         13435
Name: 889, dtype: object
id_user    13630
0            DEL
1            DEL
2          13630
3            DEL
4          12647
5            DEL
6          13750
7            DEL
8          17183
9          15150
10           DEL
11           DEL
12         13435
Name: 889, dtype: object
id_user    13630
0            DEL
1            DEL
2          13630
3            DEL
4          12647
5            DEL
6          13750
7            DEL
8          17183
9          15150
10           DEL
11           DEL
12         13435
Name: 889, dtype: object
id_user    13631
0            DEL
1            DEL
2            DEL
3          12435
4            DEL
5          13758
6          13631
7          17682
8            DEL
9          15910
10           DEL
11           DEL
12           DEL
Name: 890, dtype: object
id_user    13631
0            DEL
1            DEL
2            DEL
3          12435
4            DEL
5          13758
6          13631
7          17682
8            DEL
9          15910
10           DEL
11           DEL
12           DEL
Name: 890, dtype: object
id_user    13631
0            DEL
1            DEL
2            DEL
3          12435
4            DEL
5          13758
6          13631
7          17682
8            DEL
9          15910
10           DEL
11           DEL
12           DEL
Name: 890, dtype: object
id_user    13631
0            DEL
1            DEL
2            DEL
3          12435
4            DEL
5          13758
6          13631
7          17682
8            DEL
9          15910
10           DEL
11           DEL
12           DEL
Name: 890, dtype: object
id_user    13631
0            DEL
1            DEL
2            DEL
3          12435
4            DEL
5          13758
6          13631
7          17682
8            DEL
9          15910
10           DEL
11           DEL
12           DEL
Name: 890, dtype: object
id_user    13632
0            DEL
1            DEL
2            DEL
3            DEL
4          17530
5            DEL
6          17769
7            DEL
8            DEL
9            DEL
10         12705
11         15758
12           DEL
Name: 891, dtype: object
id_user    13632
0            DEL
1            DEL
2            DEL
3            DEL
4          17530
5            DEL
6          17769
7            DEL
8            DEL
9            DEL
10         12705
11         15758
12           DEL
Name: 891, dtype: object
id_user    13632
0            DEL
1            DEL
2            DEL
3            DEL
4          17530
5            DEL
6          17769
7            DEL
8            DEL
9            DEL
10         12705
11         15758
12           DEL
Name: 891, dtype: object
id_user    13632
0            DEL
1            DEL
2            DEL
3            DEL
4          17530
5            DEL
6          17769
7            DEL
8            DEL
9            DEL
10         12705
11         15758
12           DEL
Name: 891, dtype: object
id_user    13634
0            DEL
1          17064
2            DEL
3            DEL
4          13634
5            DEL
6            DEL
7            DEL
8          16503
9          12895
10           DEL
11         17289
12           DEL
Name: 892, dtype: object
id_user    13634
0            DEL
1          17064
2            DEL
3            DEL
4          13634
5            DEL
6            DEL
7            DEL
8          16503
9          12895
10           DEL
11         17289
12           DEL
Name: 892, dtype: object
id_user    13634
0            DEL
1          17064
2            DEL
3            DEL
4          13634
5            DEL
6            DEL
7            DEL
8          16503
9          12895
10           DEL
11         17289
12           DEL
Name: 892, dtype: object
id_user    13634
0            DEL
1          17064
2            DEL
3            DEL
4          13634
5            DEL
6            DEL
7            DEL
8          16503
9          12895
10           DEL
11         17289
12           DEL
Name: 892, dtype: object
id_user    13634
0            DEL
1          17064
2            DEL
3            DEL
4          13634
5            DEL
6            DEL
7            DEL
8          16503
9          12895
10           DEL
11         17289
12           DEL
Name: 892, dtype: object
id_user    13635
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         14815
11           DEL
12           DEL
Name: 893, dtype: object
id_user    13636
0            DEL
1            DEL
2          14810
3          12901
4          13124
5            DEL
6            DEL
7            DEL
8          17302
9            DEL
10           DEL
11         15551
12           DEL
Name: 894, dtype: object
id_user    13636
0            DEL
1            DEL
2          14810
3          12901
4          13124
5            DEL
6            DEL
7            DEL
8          17302
9            DEL
10           DEL
11         15551
12           DEL
Name: 894, dtype: object
id_user    13636
0            DEL
1            DEL
2          14810
3          12901
4          13124
5            DEL
6            DEL
7            DEL
8          17302
9            DEL
10           DEL
11         15551
12           DEL
Name: 894, dtype: object
id_user    13636
0            DEL
1            DEL
2          14810
3          12901
4          13124
5            DEL
6            DEL
7            DEL
8          17302
9            DEL
10           DEL
11         15551
12           DEL
Name: 894, dtype: object
id_user    13636
0            DEL
1            DEL
2          14810
3          12901
4          13124
5            DEL
6            DEL
7            DEL
8          17302
9            DEL
10           DEL
11         15551
12           DEL
Name: 894, dtype: object
id_user    13637
0            DEL
1            DEL
2            DEL
3            DEL
4          16016
5            DEL
6          17589
7            DEL
8            DEL
9            DEL
10         14554
11           DEL
12           DEL
Name: 895, dtype: object
id_user    13637
0            DEL
1            DEL
2            DEL
3            DEL
4          16016
5            DEL
6          17589
7            DEL
8            DEL
9            DEL
10         14554
11           DEL
12           DEL
Name: 895, dtype: object
id_user    13637
0            DEL
1            DEL
2            DEL
3            DEL
4          16016
5            DEL
6          17589
7            DEL
8            DEL
9            DEL
10         14554
11           DEL
12           DEL
Name: 895, dtype: object
id_user    13638
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14277
12           DEL
Name: 896, dtype: object
id_user    13639
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9          13867
10           DEL
11           DEL
12           DEL
Name: 897, dtype: object
id_user    13642
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          15796
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 898, dtype: object
id_user    13643
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17091
7            DEL
8            DEL
9          16945
10           DEL
11         16187
12           DEL
Name: 899, dtype: object
id_user    13643
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17091
7            DEL
8            DEL
9          16945
10           DEL
11         16187
12           DEL
Name: 899, dtype: object
id_user    13643
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6          17091
7            DEL
8            DEL
9          16945
10           DEL
11         16187
12           DEL
Name: 899, dtype: object
id_user    13644
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          14141
9          13314
10         16071
11         16600
12           DEL
Name: 900, dtype: object
id_user    13644
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          14141
9          13314
10         16071
11         16600
12           DEL
Name: 900, dtype: object
id_user    13644
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          14141
9          13314
10         16071
11         16600
12           DEL
Name: 900, dtype: object
id_user    13644
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          14141
9          13314
10         16071
11         16600
12           DEL
Name: 900, dtype: object
id_user    13645
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8          16656
9            DEL
10           DEL
11           DEL
12           DEL
Name: 901, dtype: object
id_user    13647
0            DEL
1            DEL
2            DEL
3            DEL
4          12476
5            DEL
6          16779
7            DEL
8            DEL
9          15370
10           DEL
11         12528
12           DEL
Name: 902, dtype: object
id_user    13647
0            DEL
1            DEL
2            DEL
3            DEL
4          12476
5            DEL
6          16779
7            DEL
8            DEL
9          15370
10           DEL
11         12528
12           DEL
Name: 902, dtype: object
id_user    13647
0            DEL
1            DEL
2            DEL
3            DEL
4          12476
5            DEL
6          16779
7            DEL
8            DEL
9          15370
10           DEL
11         12528
12           DEL
Name: 902, dtype: object
id_user    13647
0            DEL
1            DEL
2            DEL
3            DEL
4          12476
5            DEL
6          16779
7            DEL
8            DEL
9          15370
10           DEL
11         12528
12           DEL
Name: 902, dtype: object
id_user    13649
0          14030
1            DEL
2            DEL
3          15624
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 903, dtype: object
id_user    13649
0          14030
1            DEL
2            DEL
3          15624
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 903, dtype: object
id_user    13650
0            DEL
1            DEL
2            DEL
3          18189
4            DEL
5          14038
6            DEL
7            DEL
8            DEL
9          12884
10         16556
11         16600
12           DEL
Name: 904, dtype: object
id_user    13650
0            DEL
1            DEL
2            DEL
3          18189
4            DEL
5          14038
6            DEL
7            DEL
8            DEL
9          12884
10         16556
11         16600
12           DEL
Name: 904, dtype: object
id_user    13650
0            DEL
1            DEL
2            DEL
3          18189
4            DEL
5          14038
6            DEL
7            DEL
8            DEL
9          12884
10         16556
11         16600
12           DEL
Name: 904, dtype: object
id_user    13650
0            DEL
1            DEL
2            DEL
3          18189
4            DEL
5          14038
6            DEL
7            DEL
8            DEL
9          12884
10         16556
11         16600
12           DEL
Name: 904, dtype: object
id_user    13650
0            DEL
1            DEL
2            DEL
3          18189
4            DEL
5          14038
6            DEL
7            DEL
8            DEL
9          12884
10         16556
11         16600
12           DEL
Name: 904, dtype: object
id_user    13651
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         15752
11         17203
12           DEL
Name: 905, dtype: object
id_user    13651
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         15752
11         17203
12           DEL
Name: 905, dtype: object
id_user    13652
0          18219
1            DEL
2            DEL
3          16245
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         13050
11           DEL
12           DEL
Name: 906, dtype: object
id_user    13652
0          18219
1            DEL
2            DEL
3          16245
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         13050
11           DEL
12           DEL
Name: 906, dtype: object
id_user    13652
0          18219
1            DEL
2            DEL
3          16245
4            DEL
5            DEL
6            DEL
7            DEL
8            DEL
9            DEL
10         13050
11           DEL
12           DEL
Name: 906, dtype: object
id_user    13654
0            DEL
1            DEL
2            DEL
3          12520
4          15615
5          18125
6            DEL
7          13993
8            DEL
9            DEL
10         15659
11           DEL
12           DEL
Name: 907, dtype: object
id_user    13654
0            DEL
1            DEL
2            DEL
3          12520
4          15615
5          18125
6            DEL
7          13993
8            DEL
9            DEL
10         15659
11           DEL
12           DEL
Name: 907, dtype: object
id_user    13654
0            DEL
1            DEL
2            DEL
3          12520
4          15615
5          18125
6            DEL
7          13993
8            DEL
9            DEL
10         15659
11           DEL
12           DEL
Name: 907, dtype: object
id_user    13654
0            DEL
1            DEL
2            DEL
3          12520
4          15615
5          18125
6            DEL
7          13993
8            DEL
9            DEL
10         15659
11           DEL
12           DEL
Name: 907, dtype: object
id_user    13654
0            DEL
1            DEL
2            DEL
3          12520
4          15615
5          18125
6            DEL
7          13993
8            DEL
9            DEL
10         15659
11           DEL
12           DEL
Name: 907, dtype: object
id_user    13655
0            DEL
1            DEL
2            DEL
3            DEL
4          16919
5            DEL
6            DEL
7            DEL
8          12949
9            DEL
10           DEL
11           DEL
12           DEL
Name: 908, dtype: object
id_user    13655
0            DEL
1            DEL
2            DEL
3            DEL
4          16919
5            DEL
6            DEL
7            DEL
8          12949
9            DEL
10           DEL
11           DEL
12           DEL
Name: 908, dtype: object
id_user    13656
0            DEL
1          17634
2            DEL
3            DEL
4            DEL
5            DEL
6          16550
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 909, dtype: object
id_user    13656
0            DEL
1          17634
2            DEL
3            DEL
4            DEL
5            DEL
6          16550
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 909, dtype: object
id_user    13657
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          16592
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14719
12           DEL
Name: 910, dtype: object
id_user    13657
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          16592
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11         14719
12           DEL
Name: 910, dtype: object
id_user    13658
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          15116
6            DEL
7            DEL
8            DEL
9          14894
10           DEL
11         14540
12           DEL
Name: 911, dtype: object
id_user    13658
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          15116
6            DEL
7            DEL
8            DEL
9          14894
10           DEL
11         14540
12           DEL
Name: 911, dtype: object
id_user    13658
0            DEL
1            DEL
2            DEL
3            DEL
4            DEL
5          15116
6            DEL
7            DEL
8            DEL
9          14894
10           DEL
11         14540
12           DEL
Name: 911, dtype: object
id_user    13659
0            DEL
1          12916
2            DEL
3            DEL
4            DEL
5          17556
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 912, dtype: object
id_user    13659
0            DEL
1          12916
2            DEL
3            DEL
4            DEL
5          17556
6            DEL
7            DEL
8            DEL
9            DEL
10           DEL
11           DEL
12           DEL
Name: 912, dtype: object
id_user    13662
0            DEL
1            DEL
2            DEL
3          15815
4            DEL
5          13136
6            DEL
7            DEL
8            DEL
9          13662
10           DEL
11           DEL
12           DEL
Name: 913, dtype: object

KeyboardInterrupt:

In [224]:
f_hat

,id_user,0,1,2,3,4,5,6,7,8,9,10,11,12
0,12347,13963,15661,DEL,DEL,16255,DEL,18041,DEL,13850,DEL,18055,DEL,13534
1,12348,15620,17515,DEL,DEL,14546,DEL,DEL,DEL,DEL,16594,DEL,DEL,DEL
2,12349,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,16712,DEL
3,12350,DEL,DEL,14798,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL
4,12352,DEL,DEL,15059,12352,DEL,DEL,DEL,DEL,DEL,17783,DEL,14098,DEL
5,12354,DEL,DEL,DEL,DEL,14231,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL
6,12355,DEL,DEL,DEL,DEL,DEL,16672,DEL,DEL,DEL,DEL,DEL,DEL,DEL
7,12356,DEL,15061,DEL,DEL,12356,DEL,DEL,DEL,DEL,DEL,DEL,12449,DEL
8,12357,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,14511,DEL
9,12358,DEL,DEL,DEL,DEL,DEL,DEL,DEL,15051,DEL,DEL,DEL,DEL,13521
10,12359,DEL,18109,14048,DEL,DEL,DEL,16942,DEL,DEL,DEL,12613,DEL,DEL
11,12360,DEL,DEL,DEL,DEL,DEL,12360,DEL,DEL,12360,DEL,15140,DEL,DEL
12,12361,DEL,DEL,14470,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL
13,12362,DEL,DEL,13085,DEL,16370,DEL,DEL,13699,15747,16460,16554,17084,17290
14,12363,DEL,DEL,DEL,DEL,14286,DEL,DEL,DEL,17676,DEL,DEL,DEL,DEL
15,12364,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,15396,12364,14572,DEL,12970
16,12365,DEL,DEL,16980,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL
17,12367,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,12841
18,12370,15570,DEL,DEL,13468,DEL,DEL,DEL,DEL,DEL,DEL,16191,DEL,DEL
19,12371,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,14315,DEL,DEL
20,12372,DEL,DEL,15867,DEL,DEL,14277,DEL,DEL,DEL,12703,DEL,DEL,DEL
21,12373,DEL,DEL,16110,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL
22,12374,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,14684,DEL
23,12375,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,16706,DEL,14719,DEL
24,12377,14733,13141,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL
25,12378,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,12378,DEL,DEL,DEL,DEL
26,12379,DEL,DEL,DEL,DEL,DEL,DEL,13780,DEL,DEL,14290,DEL,DEL,DEL
27,12380,DEL,DEL,DEL,DEL,DEL,DEL,16393,DEL,DEL,17243,14856,17286,DEL
28,12381,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,12381,DEL,15831,17289,12841
29,12383,17894,12383,DEL,14395,17367,DEL,15974,DEL,DEL,DEL,DEL,DEL,DEL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4004,18237,DEL,DEL,DEL,DEL,DEL,DEL,DEL,13534,12381,12637,17837,DEL,15136
4005,18239,15658,17068,DEL,15641,DEL,13450,DEL,DEL,DEL,DEL,DEL,DEL,DEL
4006,18240,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,13165,DEL,DEL
4007,18241,DEL,DEL,DEL,DEL,DEL,14659,16550,13458,13236,12820,15819,12528,DEL
4008,18242,DEL,DEL,DEL,DEL,DEL,16275,DEL,DEL,DEL,13397,DEL,DEL,DEL
4009,18245,15044,18145,DEL,DEL,DEL,12431,DEL,12528,DEL,DEL,DEL,DEL,12700
4010,18248,DEL,DEL,DEL,DEL,DEL,DEL,15379,DEL,16775,DEL,DEL,DEL,DEL
4011,18249,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,17073,DEL
4012,18250,DEL,DEL,17975,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL
4013,18251,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,12679,DEL,DEL,DEL
4014,18252,DEL,DEL,DEL,DEL,DEL,DEL,14175,DEL,DEL,DEL,15511,DEL,DEL
4015,18255,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,18255,DEL,DEL,DEL
4016,18257,DEL,DEL,16045,DEL,DEL,16156,16915,DEL,16755,DEL,12347,DEL,DEL
4017,18259,17340,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,14894,DEL,15419,DEL
4018,18260,15194,14395,DEL,16782,16966,18223,17428,DEL,DEL,DEL,DEL,DEL,DEL
4019,18261,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,18261,15659,DEL,DEL
4020,18262,DEL,DEL,DEL,DEL,DEL,DEL,DEL,17961,DEL,DEL,DEL,DEL,DEL
4021,18263,DEL,DEL,DEL,DEL,16592,DEL,DEL,14459,DEL,DEL,DEL,15681,DEL
4022,18265,DEL,DEL,DEL,DEL,DEL,DEL,DEL,15349,DEL,17783,DEL,DEL,DEL
4023,18269,16700,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL
4024,18270,DEL,DEL,DEL,17673,DEL,DEL,DEL,DEL,DEL,DEL,DEL,13327,DEL
4025,18272,DEL,DEL,DEL,DEL,13725,DEL,DEL,12669,13014,DEL,16056,DEL,15701
4026,18274,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,17867,DEL
4027,18276,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,14842,DEL,DEL
4028,18277,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,14834,DEL,DEL
4029,18278,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,13979,DEL,DEL,DEL
4030,18280,DEL,DEL,DEL,13092,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL
4031,18281,DEL,DEL,DEL,DEL,DEL,DEL,15465,DEL,DEL,DEL,DEL,DEL,DEL
4032,18282,DEL,DEL,DEL,DEL,DEL,DEL,DEL,DEL,17377,DEL,DEL,DEL,18055
4033,18287,DEL,DEL,DEL,DEL,DEL,16818,DEL,DEL,DEL,DEL,17418,DEL,DEL

In [162]:
df["price"]=df_copy["price"]
df.to_csv("./at3.csv",index=False)

In [ ]:
Quasi_Ident. Date + Hours ( +/- qty,price)
at1 = without generalized
at2 = qty price generalized
at3 = only qty

In [ ]:
k-anon => classes d'equivalence ^
l-diversity ? & why
=> reidentification
(l-diversity / t-closeness ) <= [ !!  reidentification !! ]
Si reidentification faible alors supprimer des lignes => remplacer